<!-- main area -->
       <div class="main-content">
        <div class="page-title">
          <div class="title">Dashboard</div>
        </div>    
        <% if flash[:success].present? %>
        <div class="alert alert-success">
          <strong>Success!</strong> <%= flash[:success] %>
        </div>
        <% end %>
        <div class="row">
          <div class="col-sm-3">
            <div class="card card-block bg-white">
              <h4 class="card-title">Articles</h4>
                <p class="card-text" id="teacher_box">
                <br/>
                Stats coming soon bro, chill!

              </p>    
            </div>
          </div>
        </div>
        
        
          
      <!-- /main area -->
      
  <div class="modal bs-modal-lg" tabindex="-1" role="dialog" aria-hidden="true"></div>