 <!-- START FOOTER -->
        <div id="footer">
            <div class="container">
                <div class="row">
                    <div class="footer-widgets-area with-sidebar-right">
                        <div class="widget-first widget span2 widget_text"><h3>About Us</h3>
                            <div class="textwidget">
                               Easycare.pk is one of the emerging platforms for the individuals of health care industry to coactively
                               involve with their patients. The sole purpose of this platform is to make the lives of the people simpler and to serve the society in a unique way. EasyCare.pk is not only a concise but a modernized gateway for both the patients and the doctors to interact easily.
                            </div>
                        </div>

                        <div class="widget span2 widget_nav_menu">
                            <h3>More About Us</h3>

                            <div class="menu-widget-footer-container">
                                <ul id="menu-widget-footer" class="menu">
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                        <a href="/public/about">About</a>
                                    </li> 

                                    <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                        <a href="/public/privacy">Privacy Policy</a>
                                    </li>

                                    <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                        <a href="/public/terms_and_conditions">Terms & Conditions</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="widget-last widget span2 widget_nav_menu">
                            <h3>Socialize</h3>

                            <div class="menu-socialize-container">
                                <ul id="menu-socialize" class="menu">

                                    <li class="menu-item menu-item-type-custom">
                                        <a href="https://www.facebook.com/Easy-Care-1296524673695043">Facebook</a>
                                    </li>

                                    <li class="menu-item menu-item-type-custom">
                                        <a href="https://twitter.com/easycare_pk">Twitter</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>

                    <div id="contact" class="footer-widgets-sidebar with-sidebar-right">
                        <div  class="widget-first widget span6 yit_quick_contact">
                            <h3>Get in touch</h3>
                            <%= form_tag public_contact_form_path, method: :post ,class: "contact-form row" do %>

                                <div class="usermessagea"></div>
                                <fieldset>
                                    <ul>
                                        <li class="text-field with-icon span3">
                                            <label>
                                                <span class="mainlabel">Name</span>
                                            </label>

                                            <div class="input-prepend">
                                                <span class="add-on">
                                                    <img src="/users/images/footer/author-footer.png" alt="" title=""/></span>
                                                <input type="text" name="name" class="with-icon required" value=""/>
                                            </div>
                                            <div class="msg-error"></div>
                                            <div class="clear"></div>
                                        </li>

                                        <li class="text-field with-icon span3">
                                            <label>
                                                <span class="mainlabel">Email</span>
                                            </label>

                                            <div class="input-prepend">
                                                <span class="add-on">
                                                    <img src="/users/images/footer/envelope-footer.png" alt="" title=""/>
                                                </span>
                                                <input type="text" name="email" class="with-icon required email-validate" value=""/>
                                            </div>
                                            <div class="msg-error"></div>
                                            <div class="clear"></div>
                                        </li>

                                        <li class="textarea-field with-icon span6">
                                            <label>
                                                <span class="mainlabel">Message</span>
                                            </label>

                                            <div class="input-prepend">
                                                <span class="add-on">
                                                    <img src="/users/images/footer/pencil-footer.png" alt="" title=""/>
                                                </span>
                                                <textarea name="message" rows="8" cols="30" class="with-icon required"></textarea>
                                            </div>
                                            <div class="msg-error"></div>
                                            <div class="clear"></div>
                                        </li>

                                        <li class="submit-button span6">
                                            <div style="position:absolute;left:-9999px;">
                                                <input type="text" name="email_check_2" id="email_check_2" value=""/>
                                            </div>
                                            <input type="hidden" name="yit_action" value="sendemail" id="yit_action"/>
                                            <input type="hidden" name="yit_referer" value="index.html"/>
                                            <input type="hidden" name="id_form" value="228"/>
                                            <input type="submit" name="yit_sendemail" value="SEND" class="sendmail alignright"/>
                                            <div class="clear"></div>
                                        </li>
                                    </ul>
                                </fieldset>
                            <% end %>

                            <script type="text/javascript">
                                var messages_form_228 = {
                                    name: "Insert the name",
                                    email: "Insert a valid email",
                                    message: "Insert a message"
                                };
                            </script>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END FOOTER -->

        <!-- START COPYRIGHT -->
        <div id="copyright">
            <div class="container">
                <div class="row">
                    <div class="left span6">
                        <p>
                            &nbsp;Copyright 2012 - <strong>EasyCare.pk</strong> powered by
                            <a href="http://eunoia.tech">Eunoia</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- END COPYRIGHT -->

        <script type="text/javascript">
        jQuery(document).ready(function(){
            jQuery("#contact_link").click(function() {
                    jQuery('html, body').animate({
                        scrollTop: jQuery("#contact").offset().top
                    }, 2000);
                });
        });
        </script>