
<script type='text/javascript' src='/users/js/comment-reply.min.js'></script>
<script type='text/javascript' src='/users/js/underscore.min.js'></script>
<script type='text/javascript' src='/users/js/jquery/jquery.masonry.min.js'></script>
<script type='text/javascript' src='/users/sliders/polaroid/js/jquery.polaroid.js'></script>
<script type='text/javascript' src='/users/js/jquery.colorbox-min.js'></script>
<script type='text/javascript' src='/users/js/jquery.easing.js'></script>
<script type='text/javascript' src='/users/js/jquery.carouFredSel-6.1.0-packed.js'></script>
<script type='text/javascript' src='/users/js/jQuery.BlackAndWhite.js'></script>
<script type='text/javascript' src='/users/js/jquery.touchSwipe.min.js'></script>
<script type='text/javascript' src='/users/sliders/polaroid/js/jquery.transform-0.8.0.min.js'></script>
<script type='text/javascript' src='/users/sliders/polaroid/js/jquery.preloader.js'></script>
<script type='text/javascript' src='/users/js/responsive.js'></script>
<script type='text/javascript' src='/users/js/mobilemenu.js'></script>
<script type='text/javascript' src='/users/js/jquery.superfish.js'></script>
<script type='text/javascript' src='/users/js/jquery.placeholder.js'></script>
<script type='text/javascript' src='/users/js/contact.js'></script>
<script type='text/javascript' src='/users/js/jquery.tipsy.js'></script>
<script type='text/javascript' src='/users/js/jquery.cycle.min.js'></script>
<script type='text/javascript' src='/users/js/shortcodes.js'></script>
<script type='text/javascript' src='/users/js/jquery.custom.js'></script>
<script type='text/javascript' src='/users/js/hoverIntent.min.js'></script>
<script type='text/javascript' src='/users/js/media-upload.min.js'></script>
<script type='text/javascript' src='/scripts/jquery.popupoverlay.js'></script>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78557663-1', 'auto');
  ga('send', 'pageview');

</script>
<%= yield :foot %>
<% content_for :foot do %> 

<script type="javascript">
jQuery("#pop_up_box").html('aaa');

jQuery("#pop_up_box").popup({
     transition: 'all 0.3s',
     autoopen: true,
     blur: false,
  scrolllock: true // optiona
  });

jQuery("#pop_up_box").popup('show');
</script>

<% end %>
<div class="pop_up_box"></div>