<div class="main-content">
  <div class="page-title">
    <div class="title">Create Article</div>
  </div>
  <div class="card bg-white">
    <div class="card-header text-lg-center">
      Give birth to your baby!
    </div>
    <div class="card-block">
      <div class="row m-a-0">
        <div class="col-lg-12">
          <%= form_tag create_new_article_blogger_path(current_blogger), class:"form-horizontal", role: "form", method: :post, id:"form", "autocomplete" => "off", :multipart => true do %>
            <div class="form-group">
              <label class="col-sm-2 control-label">Title</label>
              <div class="col-sm-8">
                <%= text_field_tag :title, "", "placeholder" => "Enter a suitable title for your article", class: "form-control m-b" %> 
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Content</label>
              <div class="col-sm-8">
                <%= text_area_tag :content, "", "placeholder" => "Enter the content for your article", class: "form-control m-b", "rows" => "7" %>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Tags</label>
              <div class="col-sm-8">
                <%= select_tag "tags", options_from_collection_for_select(@tags, "name", "name"), class: "select-tags form-control", style: "width: 100%;", multiple: true %>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Image</label>
              <div class="col-sm-8">
                <%= file_field_tag :image, class: "form-control m-b" %> 
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-10 text-lg-right">
                <%= submit_tag "Save",class:"btn btn-primary " %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

