<% content_for :head do %>
  <%= render 'shared/header' %>
<% end %>
<%= render 'head_menu' %>

<%= render 'new_article_form' %>

<% content_for :foot_end do %>
<script type="text/javascript">
$(".select-tags").select2({
  tags: true,
  placeholder: "Select Tags relevant to this article"
})
</script>
<% end %>
<%= render 'shared/footer' %>

