<%= form_tag add_new_stock_pharmacy_path(current_pharmacy), role: "form", method: :post, id:"form", :multipart => true do %>
	<div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" onclick="$('.bs-modal-lg').popup('hide');" aria-hidden="true">×</button>
          <h4 class="modal-title">Add Stock</h4>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
               <div class="form-group">
                <div class="row">
                  <div class="form-group">
                    <div class="row">
                      <label  class="col-sm-2 control-label">Select Medicine</label>
                      <div class="col-sm-3">
                      <select class="js-example-basic-single" name="medicine_id">
                        <% @medicines.each do |medicine| %>
                          <option value="<%= medicine.id %>"><%= medicine.name %> - Rs <%= medicine.price %></option>
                        <% end %>
                      </select>
                    </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="row">
                     <label  class="col-sm-2 control-label">Add Quantity</label>
                        <div class="col-sm-3">
                          <%= text_field_tag :quantity, "", class:"form-control m-b" %>
                        </div>
                    </div>
                  </div>                                   
            </div>
          </div>
        </div>
        </div>
    </div>
        <div class="modal-footer no-border">
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="$('.bs-modal-lg').popup('hide');">Close</button>
         <%= submit_tag "Submit", class:"btn btn-primary" %>
        </div>
      
<% end %>
<script type="text/javascript">
$(document).ready(function() {
  $(".js-example-basic-single").select2();
});
</script>


