<!-- main area -->
       <div class="main-content">
        <div class="page-title">
          <div class="title">Dashboard</div>
        </div>    
        <div class="row">
          <div class="col-sm-6">
            <div class="card card-block bg-white">
              <h4 class="card-title">Medicines</h4>
                <p class="card-text" id="teacher_box">
                <br/>
                

              </p>    
            </div>
          </div>
        </div>
          
      <!-- /main area -->
      
  <div class="modal bs-modal-lg" tabindex="-1" role="dialog" aria-hidden="true"></div>