 <div class="app signin v2 usersession">
    <div class="session-wrapper">
    <div class="session-carousel slide" data-ride="carousel" data-interval="300">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active" style="background-image:url(/images/bg1.jpg);background-size:cover;background-repeat: no-repeat;background-position: 50% 50%;">
          <div class="item" style="background-image:url(/images/bg2.jpg);background-size:cover;background-repeat: no-repeat;background-position: 50% 50%;">
          </div>
        </div>
      </div>
            </div>
      <div class="card bg-white no-border">
        <div class="card-block">
           <%= form_tag session_login_pharmacies_path, method: "POST" do %>
        
            <div class="text-center m-b">
              <h4 class="text-uppercase">Welcome back</h4>
              <p>Please sign in to your account</p>
            </div>
            <div class="form-inputs p-b">
             <div class="form-group m-b">
              <%= label_tag :email ,:email , class: "text-uppercase" %>
              <%= text_field_tag "email", "",autofocus: true, class: "form-control input-lg", placeholder: "Email", required: "" %>
              <div class="help-block with-errors"></div>
            </div>
             <div class="form-group m-b">
            <%= label_tag :password,:password, class: "text-uppercase" %>
            <%= password_field_tag "password", "", autocomplete: "off", class: "form-control  input-lg", placeholder: "Password", "data-minlength" => "8" , required: ""  %>
            <div class="help-block with-errors"></div>
          </div>
          
          <div class="checkbox">
            <label>
              <%= check_box_tag :remember_me , false%> 
              Remember Me
            </label>
          </div>
                
            </div>
             <%= submit_tag "Log in", class: "btn btn-primary btn-block btn-lg m-b" %>
             <% end %>
        </div>
      </div>
      <div class="push"></div>
    </div>
  </div>







