<% content_for :head do %>
  <%= render 'shared/header' %>
<% end %>
  <%= render 'head_menu' %>

 <div class="main-content">
        <div class="page-title">
          <div class="title">Orders</div>
          <div class="sub-title">All pending orders</div>
        </div>    
        <%= render 'orders_data_table' %>
      </div>

<%= render 'shared/footer' %>
<%= hidden_field_tag 'orders_path', '/api/get_orders'%>