<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pharmacy.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @pharmacy.email %>
</p>

<p>
  <strong>Username:</strong>
  <%= @pharmacy.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @pharmacy.password %>
</p>

<p>
  <strong>Address:</strong>
  <%= @pharmacy.address %>
</p>

<%= link_to 'Edit', edit_doctor_path(@doctor) %> |
<%= link_to 'Back', doctors_path %>
