<% content_for :head do %>
  <%= render 'shared/header' %>
<% end %>
  <%= render 'head_menu' %>

<div class="main-content">
<div class="page-title">
  <div class="title">Medicine Stock</div>
  <div class="sub-title">Available medicine stock</div>
</div>
<% if flash[:success].present? %>
	<div class="alert alert-success">
		<%= flash[:success] %>
	</div>
<% end %>
<div class="row">
<div class="col-sm-3">
<div class="card card-block bg-white">
  <h4 class="card-title">Medicine Stock</h4>
  <p class="card-text" id="teacher_box">
    <br/>
    <%= link_to add_stock_pharmacy_path(current_pharmacy),  class: "btn btn-primary ",  remote: true do %>
                <i class="fa fa-eye"></i> Add Stock
    <% end %>

  </p>                              
</div>
</div>
</div>   
<%= render 'stock_data_table' %>
</div>

<%= render 'shared/footer' %>
<%= hidden_field_tag 'stock_path', '/api/get_stock'%>
<%= render 'foot' %>