.slider-elastic .ei-title h2, .slider-elastic .ei-title h2 a { font-size: 40px; font-family: 'Playfair Display', sans-serif; color: #000000; font-style: italic; font-weight: normal; }
.slider-elastic .ei-title h3, .slider-elastic .ei-title h3 a { font-size: 40px; font-family: 'Open Sans Condensed', sans-serif; color: #4D4C4C; font-style: normal; font-weight: 400; }
.slider-flexslider-elegant.slider ul li .slider-caption h2, .slider-flexslider-elegant.slider ul li .slider-caption h2 a { font-size: 17px; font-family: 'Open Sans', sans-serif; color: #ffffff; font-style: normal; font-weight: 700; }
.slider-flexslider-elegant.slider ul li .slider-caption p { font-size: 12px; font-family: 'Open Sans', sans-serif; color: #ffffff; font-style: normal; font-weight: 400; }
.slider-flexslider-elegant.slider ul li .slider-caption .special-font { font-size: 24px; font-family: 'Shadows Into Light', sans-serif; color: #ffffff; font-style: normal; font-weight: 400; }
.slider-polaroid.slider .slide-content h2, .slider-polaroid.slider .slide-content h2, .text-polaroid h2 { font-size: 24px; font-family: 'Open Sans', sans-serif; color: #e5f99a; font-style: normal; font-weight: 800; }
.slider-polaroid.slider .slide-content p, .slider-polaroid.slider .slide-content p, .text-polaroid p { font-size: 12px; font-family: 'Open Sans', sans-serif; color: #ffffff; font-style: normal; font-weight: 400; }
.slider-thumbnails.slider.thumbnails .showcase-caption p { font-size: 13px; font-family: 'Muli', sans-serif; color: #585555; font-style: normal; font-weight: 400; }
.slider-thumbnails.slider.thumbnails div.showcase-tooltip { font-size: 12px; font-family: 'Muli', sans-serif; color: #000; font-style: normal; font-weight: 400; }
.slider-usquare.slider .usquare_module_wrapper h2 { font-size: 17px; font-family: 'Open Sans', sans-serif; color: #aca12a; font-style: normal; font-weight: 400; }
.slider-usquare.slider .usquare_module_wrapper span, .slider-usquare.slider .usquare_block_extended, .slider-usquare.slider .usquare_block_extended .usquare_about { font-size: 11px; font-family: 'Open Sans', sans-serif; color: #676768; font-style: normal; font-weight: 400; }
.slider-266.slider .usquare_module_wrapper h2 { font-size: 17px; font-family: 'Open Sans', sans-serif; color: #aca12a; font-style: normal; font-weight: 400; }
.slider-266.slider .usquare_module_wrapper span, .slider-266.slider .usquare_block_extended, .slider-266.slider .usquare_block_extended .usquare_about { font-size: 11px; font-family: 'Open Sans', sans-serif; color: #676768; font-style: normal; font-weight: 400; }
.post-title, .post-title a, .blog-big .meta .post-title, .blog-big .meta .post-title a { font-size: 17px; font-family: 'Open Sans', sans-serif; color: #676768; font-style: normal; font-weight: 400; }
.blog-big .meta a, .blog-small .meta a { font-size: 12px; font-family: 'Droid Sans', sans-serif; color: #000000; font-style: normal; font-weight: 400; }
.blog-big .meta a:hover, .blog-small .meta a:hover { color: #333333; }
.blog-libra-big .date-comments .date .month, .blog-libra-small .date-comments .date .month, .section.blog .post .date .month { font-size: 22px; font-family: 'Open Sans', sans-serif; color: #a5a4a4; font-style: normal; font-weight: 400; }
.blog-libra-big .date-comments .date .day, .blog-libra-small .date-comments .date .day, .section.blog .post .date .day { font-size: 48px; font-family: 'Arbutus Slab', sans-serif; color: #a5a4a4; font-style: normal; font-weight: 400; }
.section.blog .meta h4 a { font-size: 15px; font-family: 'Open Sans', sans-serif; color: #676768; font-style: normal; font-weight: 400; }
.section.blog .meta h4 a:hover { color: #6c6d03; }
#copyright { background: #666565; }
#footer { background-color: #ededed; background-image: url('http://yit.com/libra/wp-content/themes/libra/images/bg-pattern.png'); background-repeat: repeat; background-position: top left; background-attachment: scroll; }
.boxed #wrapper { background-color: #ffffff; }
code, pre, body hr, #copyright .inner, #footer .inner, .gallery img, .gallery img, .content .archive-list ul, .content .archive-list ul li, .more-projects-widget .work-thumb, .more-projects-widget .controls, .more-projects-widget .top, .featured-projects-widget img, .thumb-project img, #searchform input, .portfolio-categories ul li, .portfolio-categories ul li:hover, .recent-comments .avatar img, .content .contact-form li.submit-button input, #portfolio .read-more, #portfolio .more-link, #portfolio .read-more:hover, #portfolio .more-link:hover, .accordion-title, .accordion-item-thumb img, form input[type="text"], form textarea, .testimonial-page, div.section-caption .caption, .line, .last-tweets-widget ul li, .toggle p.tab-index, .toggle .content-tab, .testimonial, .google-map-frame, .section.blog .post, .section.blog h4.other-articles, .section.blog .sticky .thumbnail, .section .portfolio-sticky .work-categories, .testimonial, #searchform input, .blog-big .meta p, .blog-big p.list-tags, .blog-small .image-wrap, .comment-container, .image-square-style #comments img.avatar, #comments .comment-author img, .comment-meta, #respond input, #respond textarea, img.comment-avatar, .portfolio-big-image a.thumb, .portfolio-big-image a.more, .portfolio-big-image a.more:hover, .portfolio-big-image .work-thumbnail a.nozoom, .portfolio-big-image .work-skillsdate, .internal_page_item, .gallery-wrap li h5, .gallery-filters, .portfolio-full-description a.thumb, .portfolio-full-description a.more, .portfolio-full-description a.more:hover, .portfolio-full-description .work-skillsdate, .related_img, #portfolio.columns .overlay_a, .yit-widget-content .widget, .slider.thumbnails .showcase-thumbnail img, .slider.thumbnails .showcase-thumbnail img:hover, .slider.thumbnails .showcase-thumbnail.active img, .recent-post .thumb-img img, .widget_archive ul li a, .widget_archive ul li a:hover, .widget_nav_menu ul li a, .widget_nav_menu ul li a:hover, .widget_pages ul li a, .widget_pages ul li a:hover, .widget_categories ul li a, .widget_categories ul li a:hover, #searchform input, .widget_flickrRSS img, .widget_nav_menu ul li a, .widget_pages ul li a, .widget_categories ul li a, .widget_archive ul li a:hover, .widget_nav_menu ul li.current_page_item > a, .widget_pages ul li.current_page_item > a, .widget_categories ul li.current_page_item > a, .testimonial-widget div.name-testimonial, .last-tweets-widget ul li, .yit-widget-content .widget, .portfolio-categories ul li, .recent-comments .avatar img, .more-projects-widget .work-thumb, .more-projects-widget .controls, .more-projects-widget .top, .featured-projects-widget img, .thumb-project img, .picture_overlay, #respond textarea:focus, .section-portfolio-classic .work-projects a.img { border-color: #dfdcdc; }
.portfolio-big-image .work-thumbnail .thumb-wrapper:hover, .related_project .related_img:hover, .portfolio-categories ul li:hover, #portfolio .more-link:hover, .portfolio-big-image a.more:hover, #portfolio.columns .overlay_a:hover, .showcase-thumbnail img:hover, .widget_archive ul li a:hover, .widget_nav_menu ul li a:hover, .widget_pages ul li a:hover, .widget_categories ul li a:hover, .picture_overlay:hover, .section-portfolio-classic .work-projects a.img:hover, .section-portfolio-classic .work-projects a.img.active { border-color: #cccccc; }
#page-meta { background-color: rgba( 235, 232, 232, 0.3 ); }
#back-top { background-color: #666565; }
#header, #header .slider.polaroid .thumbs .thumb img { background-color: #193654; background-image: url('http://yit.com/libra/wp-content/themes/libra/images/header-pattern.png'); background-repeat: repeat; background-position: top left; background-attachment: scroll; }
#topbar_login a.topbar_login { border-color: #19344E; background-color: #102438; font-size: 8px; font-family: 'Open Sans', sans-serif; color: #ffffff; font-style: normal; font-weight: 700; }
#fast-login { background-color: rgba( 16, 36, 56, 0.88 ); }
#fast-login input { border-color: #1B3754; background-color: #0D2033; }
#fast-login input.input-submit { border-color: #17324E; background-color: #29435E; }
#fast-login input.input-submit:hover { background-color: #304e6d; }
#topbar { background-color: #152f49; }
#nav ul.sub-menu, #nav ul.children { background-color: rgba( 17, 37, 58, 0.88 ); }
#nav ul li a:hover, #nav ul li:hover a { background-color: #12273d; }
#nav .current-menu-item > a, #nav .current-menu-ancestor > a, #nav .current_page_ancestor > a,div#nav ul .current_page_item > a { background-color: #12273d; }
#nav .megamenu ul.sub-menu li.menu-item-custom-content p { color: #ffffff; }
#nav .megamenu ul.sub-menu li.menu-item-custom-content span.highlight { color: #e5f99a; }
.error-404-text p { font-size: 18px; font-family: 'Open Sans', sans-serif; color: #676768; font-style: normal; font-weight: 400; }
.error-404-text p a { color: #919303; }
.error-404-text p a:hover { color: #6c6d03; }
div.popup .title { font-size: 20px; font-family: 'Open Sans', sans-serif; color: #0c243d; font-style: normal; font-weight: 800; }
div.popup, div.popup_message, div.popup_message p, div.popup_message span { font-size: 12px; font-family: 'Open Sans', sans-serif; color: #676768; font-style: normal; font-weight: 400; }
#portfolios { background: #ffffff ; font-size: 18px; font-family: 'Abel', sans-serif; color: #000000; font-style: italic; font-weight: 700; }
.call-to-action-two { background-color: #F8F7F7; border-color: #DDDDDD; }
div.call-three { background-color: #F8F7F7; border-color: #F2F0F0; }
div.box.success-box { font-size: 13px; font-family: 'Open Sans', sans-serif; color: #599847; font-style: normal; font-weight: 400; }
div.box.arrow-box { font-size: 13px; font-family: 'Open Sans', sans-serif; color: #599847; font-style: normal; font-weight: 400; }
div.box.alert-box { font-size: 13px; font-family: 'Open Sans', sans-serif; color: #CA6B1C; font-style: normal; font-weight: 400; }
div.box.error-box { font-size: 13px; font-family: 'Open Sans', sans-serif; color: #883333; font-style: normal; font-weight: 400; }
div.box.notice-box { font-size: 13px; font-family: 'Open Sans', sans-serif; color: #9F6722; font-style: normal; font-weight: 400; }
div.box.info-box { font-size: 13px; font-family: 'Open Sans', sans-serif; color: #277DCE; font-style: normal; font-weight: 400; }
div.box-sections h1 span, div.box-sections h2 span, div.box-sections h3 span, div.box-sections h4 span, div.box-sections h5 span, div.box-sections h6 span { font-size: 16px; font-family: 'Open Sans', sans-serif; color: #51595D; font-style: normal; font-weight: 800; }
div.last-tweets-widget ul.tweets-widget li p { font-size: 12px; font-family: 'Open Sans', sans-serif; color: #676768; font-style: normal; font-weight: 400; }
div.last-tweets-widget ul.tweets-widget li p a { color: #919303; }
div.last-tweets-widget ul.tweets-widget li p a:hover { color: #6C6D03; }
ul.short li { font-size: 12px; font-family: 'Open Sans', sans-serif; color: #676768; font-style: normal; font-weight: 400; }
.call-to-action .incipit h2 { font-size: 20px; font-family: 'Open Sans', sans-serif; color: #0C243D; font-style: normal; font-weight: 700; }
.call-to-action .incipit p { font-size: 14px; font-family: 'Open Sans', sans-serif; color: #464444; font-style: normal; font-weight: 400; }
.call-to-action .number-phone, .call-to-action .number-phone a { font-size: 42px; font-family: 'Droid Sans', sans-serif; color: #838383; font-style: normal; font-weight: 700; }
.call-to-action-two .incipit { font-size: 14px; font-family: 'Open Sans', sans-serif; color: #666767; font-style: normal; font-weight: 400; }
.toggle h4.tab-index a, .toggle h4.tab-index a:hover { font-size: 16px; font-family: 'Open Sans', sans-serif; color: #3E3E3E; font-style: normal; font-weight: 400; }
.toggle .content-tab, .toggle .content-tab p { font-size: 12px; font-family: 'Open Sans', sans-serif; color: #676768; font-style: normal; font-weight: 400; }
.tabs-container ul.tabs li h4 a { font-size: 16px; font-family: 'Open Sans', sans-serif; color: #0C243D; font-style: normal; font-weight: 400; }
.tabs-container ul.tabs li h4 a:hover { color: #000000; }
.tabs-container ul.tabs li.current h4 a { color: #0C243D; }
.contact-info .sidebar-nav ul li { font-size: 12px; font-family: 'Open Sans', sans-serif; color: #676768; font-style: normal; font-weight: 400; }
.pricing_box.large .header h3 { font-size: 17px; font-family: 'Open Sans', sans-serif; color: #ffffff; font-style: normal; font-weight: 800; }
.pricing_box .header h3 { font-size: 17px; font-family: 'Open Sans', sans-serif; color: #585555; font-style: normal; font-weight: 800; }
.pricing_box h3 { font-size: 17px; font-family: 'Open Sans', sans-serif; color: #585555; font-style: normal; font-weight: 700; }
.pricing_box p.button a, .pricing_box p.button a:hover { font-size: 14px; font-family: 'Open Sans', sans-serif; color: #3f4950; font-style: normal; font-weight: 400; }
.pricing_box, .pricing_box p, .pricing_box ul li { font-size: 12px; font-family: 'Open Sans', sans-serif; color: #808080; font-style: normal; font-weight: 400; }
.recent-post .text > a { font-size: 13px; font-family: 'Open Sans', sans-serif; color: #676768; font-style: normal; font-weight: 400; }
.recent-post .text > a:hover { color: #6C6D03; }
.recent-post p { font-size: 12px; font-family: 'Open Sans', sans-serif; color: #656262; font-style: normal; font-weight: 400; }
.recent-post .hentry-post p.post-date { font-size: 10px; font-family: 'Open Sans', sans-serif; color: #213140; font-style: normal; font-weight: 400; }
.recent-post .text > a.read-more { font-size: 13px; font-family: 'Open Sans', sans-serif; color: #1A5B7D; font-style: normal; font-weight: 400; }
.recent-post .text > a.read-more:hover { color: #6B0303; }
.call-three .text h2 { font-size: 20px; font-family: 'Open Sans', sans-serif; color: #0C243D; font-style: normal; font-weight: 400; }
.call-three .text h4 { font-size: 16px; font-family: 'Open Sans', sans-serif; color: #0C243D; font-style: normal; font-weight: 400; }
.testimonial .testimonial-text p, .testimonial .testimonial-text-full p, .testimonial-page .testimonial-text-full p { font-size: 11px; font-family: 'Open Sans', sans-serif; color: #676768; font-style: normal; font-weight: 400; }
.testimonial .testimonial-name a.name, .testimonial .testimonial-name p.name, .testimonial-page .testimonial-name a.name, .testimonial-page .testimonial-name p.name { font-size: 11px; font-family: 'Open Sans', sans-serif; color: #3b4752; font-style: normal; font-weight: 400; }
.testimonials-slider ul.testimonials li blockquote p a, .testimonials-flexslider ul li blockquote p a { font-size: 16px; font-family: 'Open Sans', sans-serif; color: #030303; font-style: normal; font-weight: 400; }
.testimonials-slider ul.testimonials li p.meta, .testimonials-slider ul.testimonials li p.meta a, .testimonials-flexslider ul li p.meta a { font-size: 11px; font-family: 'Arial, Helvetica', sans-serif; color: #747605; font-style: normal; font-weight: 400; }
.testimonial .testimonial-name a.website, .testimonial .testimonial-name span.website, .testimonial-page .testimonial-name a.website, .testimonial-page .testimonial-name span.website { font-size: 11px; font-family: 'Open Sans', sans-serif; color: #747605; font-style: normal; font-weight: 400; }
.testimonial blockquote { font-size: 14px; font-family: 'Arial, Helvetica', sans-serif; color: #2e2d2d; font-style: normal; font-weight: 400; }
.testimonials-slider ul.testimonials li p.meta a:hover, .testimonials-flexslider ul li p.meta a:hover { color: #030303; }
#footer, #footer p, #footer li { font-size: 12px; font-family: 'Open Sans', sans-serif; color: #676768; font-style: normal; font-weight: 400; }
#footer a { color: #1a5b7d; }
#footer a:hover { color: #898a30; }
#footer h3 { font-size: 14px; font-family: 'Open Sans', sans-serif; color: #676768; font-style: normal; font-weight: 800; }
#copyright, #copyright div p, #copyright p, #copyright a, #copyright p a, #copyright div p a { font-size: 12px; font-family: 'Open Sans', sans-serif; color: #ffffff; font-style: normal; font-weight: 400; }
#copyright a, #copyright div a, #copyright div p a { color: #e6e90d; }
#copyright a:hover, #copyright div a:hover, #copyright div p a:hover { color: #d7d789; }
a, p, li, address, dd, blockquote, td, th, .paragraph-links a, a.text-color, ul.filters li a, .menu-select select, .testimonial-widget li a, .testimonial-widget li p, #search_mini, .newsletter-input input, .newsletter-submit input, .features-tab-container .features-tab-labels li, .features-tab-content, .portfolio-libra .work-projects ul.pagination_nav li a { font-size: 12px; font-family: 'Open Sans', sans-serif; color: #676768; font-style: normal; font-weight: 400; }
a, a.text-color:hover, ul.filters li a:hover, ul.filters li a.active { color: #919303; }
a:hover, body .login_register a:hover, #multistep_step1 .step1_login_form form.login_checkout .lost_password:hover, .portfolio-libra .work-projects ul.pagination_nav li a:hover, a:hover .title-highlight { color: #6c6d03; }
#page-meta #yit-breadcrumb, #page-meta #yit-breadcrumb a, .breadcrumbs span { font-size: 11px; font-family: 'Open Sans', sans-serif; color: #676768; font-style: normal; font-weight: 400; }
#page-meta #yit-breadcrumb a:hover { color: #535353; }
#page-meta #yit-breadcrumb a.current { color: #363f4a; }
h1, h1 a { font-size: 22px; font-family: 'Open Sans', sans-serif; color: #0c243d; font-style: normal; font-weight: 800; }
h2, h2 a { font-size: 20px; font-family: 'Open Sans', sans-serif; color: #0c243d; font-style: normal; font-weight: 800; }
h3, h3 a { font-size: 17px; font-family: 'Open Sans', sans-serif; color: #0c243d; font-style: normal; font-weight: 800; }
h4, h4 a { font-size: 16px; font-family: 'Open Sans', sans-serif; color: #0c243d; font-style: normal; font-weight: 800; }
h5, h5 a { font-size: 15px; font-family: 'Open Sans', sans-serif; color: #0c243d; font-style: normal; font-weight: 800; }
h6, h6 a { font-size: 14px; font-family: 'Open Sans', sans-serif; color: #0c243d; font-style: normal; font-weight: 800; }
.slogan h2 { font-size: 26px; font-family: 'Open Sans', sans-serif; color: #425262; font-style: normal; font-weight: 800; }
.slogan h3 { font-size: 18px; font-family: 'Open Sans', sans-serif; color: #676768; font-style: normal; font-weight: 400; }
.special-font { font-size: 12px; font-family: 'Shadows Into Light', sans-serif; color: #030303; font-style: normal; font-weight: 400; }
h1 span.title-highlight, h2 span.title-highlight, h3 span.title-highlight, h4 span.title-highlight, h5 span.title-highlight, h6 span.title-highlight, .box-sections span.title-highlight, .box-sections-border span.title-highlight, span.highlight { color: #919303; }
#back-top a, #back-top a:hover { font-size: 12px; font-family: 'Open Sans', sans-serif; color: #ffffff; font-style: normal; font-weight: 400; }
#header #logo #textual, span.logo { font-size: 60px; font-family: 'Georgia', sans-serif; color: #ffffff; font-style: normal; font-weight: 400; }
#header #logo #textual span { font-size: 40px; font-family: 'Georgia', sans-serif; color: #919303; font-style: normal; font-weight: 400; }
#header #logo #tagline { font-size: 13px; font-family: 'Open Sans', sans-serif; color: #ffffff; font-style: normal; font-weight: 400; }
#header #logo #tagline span { font-size: 13px; font-family: 'Open Sans', sans-serif; color: #e5f99a; font-style: normal; font-weight: 400; }
#fast-login label, #fast-login input { font-size: 10px; font-family: 'Open Sans', sans-serif; color: #ffffff; font-style: normal; font-weight: 400; }
#fast-login a { color: #ffffff; }
#topbar_login a.topbar_login:hover, #fast-login a:hover { color: #E5F99A; }
#fast-login a.lostpassword { color: #E5F99A; }
#fast-login a.lostpassword:hover { color: #304e6d; }
#nav ul li a { font-size: 11px; font-family: 'Open Sans', sans-serif; color: #ffffff; font-style: normal; font-weight: 400; }
#nav ul li a:hover { color: #ffffff; }
#nav .current-menu-item > a, #nav .current-menu-ancestor > a, div#nav ul .current_page_item > a { color: #ffffff; }
#nav ul li ul li a, #nav .megamenu ul.sub-menu li li a { font-size: 11px; font-family: 'Open Sans', sans-serif; color: #ffffff; font-style: normal; font-weight: 400; }
#nav ul li ul li a:hover, #nav .megamenu ul.sub-menu li li a:hover { color: #e5f99a; }
#nav ul ul .current-menu-item > a, #nav ul ul .current-menu-ancestor > a, div#nav ul ul .current_page_item > a, #nav .megamenu ul.sub-menu li a { color: #e5f99a; }
.sidebar h1, .sidebar h2, .sidebar h3, .sidebar h4, .sidebar h5, .sidebar h6 { font-size: 15px; font-family: 'Open Sans', sans-serif; color: #0c243d; font-style: normal; font-weight: 800; }
.sidebar p, .sidebar li, .sidebar div { font-size: 12px; font-family: 'Open Sans', sans-serif; color: #676768; font-style: normal; font-weight: 400; }
.sidebar a { color: #989a14; }
.sidebar a:hover { color: #213140; }
.testimonial-widget li blockquote p, .testimonial-widget li blockquote p:first-child { font-size: 12px; font-family: 'Open Sans', sans-serif; color: #676768; font-style: normal; font-weight: 400; }
.testimonial-widget li .name-testimonial { font-size: 11px; font-family: 'Open Sans', sans-serif; color: #000000; font-style: normal; font-weight: 400; }
.testimonial-widget li .url-testimonial { font-size: 11px; font-family: 'Arial, Helvetica', sans-serif; color: #676768; font-style: normal; font-weight: 400; }@media (max-width: 767px) {
    #tagline { display: none }
}

#post-455 .two-fourth h3 { margin-top: 0 }
#sidebar-homevii h3:first-child { margin-top: 23px } .blog-big .meta, .blog-small .meta { background: #ffffff; }

/* class: .btn-ultraviolet-rays-1,  color theme: ultraviolet rays */
.btn-ultraviolet-rays-1 { text-shadow: 0px -1px 0px #168be1; color: #ffffff !important; background-color: #34A9FF; background-image: -moz-linear-gradient(top, #52c7ff, #168be1); background-image: -ms-linear-gradient(top, #52c7ff, #168be1); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#52c7ff), to(#168be1)); background-image: -webkit-linear-gradient(top, #52c7ff, #168be1); background-image: -o-linear-gradient(top, #52c7ff, #168be1); background-image: linear-gradient(top, #52c7ff, #168be1); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#52c7ff', endColorstr='#168be1', GradientType=0); border-color: #34A9FF #168be1 #168be1 #34A9FF; border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25); }
.btn-ultraviolet-rays-1:hover, .btn-ultraviolet-rays-1:active, .btn-ultraviolet-rays-1.active, .btn-ultraviolet-rays-1.disabled, .btn-ultraviolet-rays-1[disabled] { background-color: #168be1; }
.btn-ultraviolet-rays-1:hover { color: #fcffff !important; text-shadow: 0px -1px 0px #006dc3; }
.btn-ultraviolet-rays-1:focus { color: #98ffff !important; -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); border-color: #34A9FF #168be1 #168be1 #34A9FF; border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25); }
.btn-ultraviolet-rays-1.active, .btn-ultraviolet-rays-1:active { background-image: none; -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); color: #98ffff !important; }
/* end .btn-ultraviolet-rays-1 */

/* class: .btn-identification-4,  color theme: identification */
.btn-identification-4 { text-shadow: 0px -1px 0px #7caa18; color: #ffffff !important; background-color: #9AC836; background-image: -moz-linear-gradient(top, #b8e654, #7caa18); background-image: -ms-linear-gradient(top, #b8e654, #7caa18); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b8e654), to(#7caa18)); background-image: -webkit-linear-gradient(top, #b8e654, #7caa18); background-image: -o-linear-gradient(top, #b8e654, #7caa18); background-image: linear-gradient(top, #b8e654, #7caa18); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8e654', endColorstr='#7caa18', GradientType=0); border-color: #9AC836 #7caa18 #7caa18 #9AC836; border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25); }
.btn-identification-4:hover, .btn-identification-4:active, .btn-identification-4.active, .btn-identification-4.disabled, .btn-identification-4[disabled] { background-color: #7caa18; }
.btn-identification-4:hover { color: #fffffe !important; text-shadow: 0px -1px 0px #5e8c00; }
.btn-identification-4:focus { color: #feff9a !important; -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); border-color: #9AC836 #7caa18 #7caa18 #9AC836; border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25); }
.btn-identification-4.active, .btn-identification-4:active { background-image: none; -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); color: #feff9a !important; }
/* end .btn-identification-4 */

/* class: .btn-hem-5,  color theme: HEM */
.btn-hem-5 { text-shadow: 0px -1px 0px #941010; color: #ffffff !important; background-color: #B22E2E; background-image: -moz-linear-gradient(top, #d04c4c, #941010); background-image: -ms-linear-gradient(top, #d04c4c, #941010); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d04c4c), to(#941010)); background-image: -webkit-linear-gradient(top, #d04c4c, #941010); background-image: -o-linear-gradient(top, #d04c4c, #941010); background-image: linear-gradient(top, #d04c4c, #941010); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d04c4c', endColorstr='#941010', GradientType=0); border-color: #B22E2E #941010 #941010 #B22E2E; border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25); }
.btn-hem-5:hover, .btn-hem-5:active, .btn-hem-5.active, .btn-hem-5.disabled, .btn-hem-5[disabled] { background-color: #941010; }
.btn-hem-5:hover { color: #fff6f6 !important; text-shadow: 0px -1px 0px #760000; }
.btn-hem-5:focus { color: #ff9292 !important; -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); border-color: #B22E2E #941010 #941010 #B22E2E; border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25); }
.btn-hem-5.active, .btn-hem-5:active { background-image: none; -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); color: #ff9292 !important; }
/* end .btn-hem-5 */

/* class: .btn-indian-night-5,  color theme: indian night */
.btn-indian-night-5 { text-shadow: 0px -1px 0px #928e86; color: #ffffff !important; background-color: #B0ACA4; background-image: -moz-linear-gradient(top, #cecac2, #928e86); background-image: -ms-linear-gradient(top, #cecac2, #928e86); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cecac2), to(#928e86)); background-image: -webkit-linear-gradient(top, #cecac2, #928e86); background-image: -o-linear-gradient(top, #cecac2, #928e86); background-image: linear-gradient(top, #cecac2, #928e86); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cecac2', endColorstr='#928e86', GradientType=0); border-color: #B0ACA4 #928e86 #928e86 #B0ACA4; border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25); }
.btn-indian-night-5:hover, .btn-indian-night-5:active, .btn-indian-night-5.active, .btn-indian-night-5.disabled, .btn-indian-night-5[disabled] { background-color: #928e86; }
.btn-indian-night-5:hover { color: #ffffff !important; text-shadow: 0px -1px 0px #747068; }
.btn-indian-night-5:focus { color: #ffffff !important; -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); border-color: #B0ACA4 #928e86 #928e86 #B0ACA4; border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25); }
.btn-indian-night-5.active, .btn-indian-night-5:active { background-image: none; -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); color: #ffffff !important; }
/* end .btn-indian-night-5 */

/* class: .btn-indian-night-3,  color theme: indian night */
.btn-indian-night-3 { text-shadow: 0px -1px 0px #452626; color: #ffffff !important; background-color: #634444; background-image: -moz-linear-gradient(top, #816262, #452626); background-image: -ms-linear-gradient(top, #816262, #452626); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#816262), to(#452626)); background-image: -webkit-linear-gradient(top, #816262, #452626); background-image: -o-linear-gradient(top, #816262, #452626); background-image: linear-gradient(top, #816262, #452626); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#816262', endColorstr='#452626', GradientType=0); border-color: #634444 #452626 #452626 #634444; border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25); }
.btn-indian-night-3:hover, .btn-indian-night-3:active, .btn-indian-night-3.active, .btn-indian-night-3.disabled, .btn-indian-night-3[disabled] { background-color: #452626; }
.btn-indian-night-3:hover { color: #ffffff !important; text-shadow: 0px -1px 0px #270808; }
.btn-indian-night-3:focus { color: #c7a8a8 !important; -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); border-color: #634444 #452626 #452626 #634444; border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25); }
.btn-indian-night-3.active, .btn-indian-night-3:active { background-image: none; -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); color: #c7a8a8 !important; }
/* end .btn-indian-night-3 */

/* class: .btn-friends-and-foes-2,  color theme: Friends and foes */
.btn-friends-and-foes-2 { text-shadow: 0px -1px 0px #008488; color: #ffffff !important; background-color: #01A2A6; background-image: -moz-linear-gradient(top, #1fc0c4, #008488); background-image: -ms-linear-gradient(top, #1fc0c4, #008488); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1fc0c4), to(#008488)); background-image: -webkit-linear-gradient(top, #1fc0c4, #008488); background-image: -o-linear-gradient(top, #1fc0c4, #008488); background-image: linear-gradient(top, #1fc0c4, #008488); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1fc0c4', endColorstr='#008488', GradientType=0); border-color: #01A2A6 #008488 #008488 #01A2A6; border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25); }
.btn-friends-and-foes-2:hover, .btn-friends-and-foes-2:active, .btn-friends-and-foes-2.active, .btn-friends-and-foes-2.disabled, .btn-friends-and-foes-2[disabled] { background-color: #008488; }
.btn-friends-and-foes-2:hover { color: #c9ffff !important; text-shadow: 0px -1px 0px #00666a; }
.btn-friends-and-foes-2:focus { color: #65ffff !important; -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); border-color: #01A2A6 #008488 #008488 #01A2A6; border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25); }
.btn-friends-and-foes-2.active, .btn-friends-and-foes-2:active { background-image: none; -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); color: #65ffff !important; }
/* end .btn-friends-and-foes-2 */

/* class: .btn-view-over-the-town-5,  color theme: View over the town */
.btn-view-over-the-town-5 { text-shadow: 0px -1px 0px #000001; color: #ffffff !important; background-color: #1D181F; background-image: -moz-linear-gradient(top, #3b363d, #000001); background-image: -ms-linear-gradient(top, #3b363d, #000001); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3b363d), to(#000001)); background-image: -webkit-linear-gradient(top, #3b363d, #000001); background-image: -o-linear-gradient(top, #3b363d, #000001); background-image: linear-gradient(top, #3b363d, #000001); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3b363d', endColorstr='#000001', GradientType=0); border-color: #1D181F #000001 #000001 #1D181F; border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25); }
.btn-view-over-the-town-5:hover, .btn-view-over-the-town-5:active, .btn-view-over-the-town-5.active, .btn-view-over-the-town-5.disabled, .btn-view-over-the-town-5[disabled] { background-color: #000001; }
.btn-view-over-the-town-5:hover { color: #e5e0e7 !important; text-shadow: 0px -1px 0px #000000; }
.btn-view-over-the-town-5:focus { color: #817c83 !important; -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); border-color: #1D181F #000001 #000001 #1D181F; border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25); }
.btn-view-over-the-town-5.active, .btn-view-over-the-town-5:active { background-image: none; -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); color: #817c83 !important; }
/* end .btn-view-over-the-town-5 */

