<%= form_tag assign_donor_admins_path, role: "form", method: :post, id:"form", :multipart => true do %>
	<div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" onclick="$('.bs-modal-lg').popup('hide');" aria-hidden="true">×</button>
          <h4 class="modal-title">Assign Donor</h4>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
               <div class="form-group">
                <div class="row">
                 <label  class="col-sm-2 control-label">Donation Request ID</label>
                    <div class="col-sm-3">
                      <input type="text" class="form-control m-b" readonly name="donation_request_id" value="<%= @donation_request.id %>" />
                    </div>
                </div>
              </div>      
               <div class="form-group">
                <div class="row">
                 <label  class="col-sm-2 control-label">Blood Group</label>
                    <div class="col-sm-3">
                      <input type="text" class="form-control m-b" readonly value="<%= @donation_request.blood_type.title %>" />
                    </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                 <label  class="col-sm-2 control-label">Phone Number</label>
                    <div class="col-sm-3">
                      <input type="text" class="form-control m-b" readonly value="<%= @donation_request.phone %>" />
                    </div>
                </div>
              </div>
              <div class="form-group">
              	<div class="row">
              		<label  class="col-sm-2 control-label">Select Donor</label>
              		<select class="form-control select2" name="donor_id">
              			<% @donors.each do |donor| %>
              				<option value="<%= donor.id %>"><%= donor.name %> - <%= donor.mobile_no %></option>
              			<% end %>
					</select>
              	</div>
              </div>
              
                                     
            </div>
          </div>
        </div>
        <div class="modal-footer no-border">
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="$('.bs-modal-lg').popup('hide');">Close</button>
         <%= submit_tag "Submit",class:"btn btn-primary " %>
        </div>
      </div>
    </div>
<% end %>


