<div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Blog</h4>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
               <div class="form-group">
                <div class="row">
                 <label  class="col-sm-1 control-label">Title</label>
                    <div class="col-sm-4">
                      <%= text_field_tag :name, @blog.title, class: "form-control m-b", "disabled" => "true" %> 
                    </div>
                </div>
              </div>      
               <div class="form-group">
                <div class="row">
                 <label  class="col-sm-1 control-label">Content</label>
                    <div class="col-sm-4">
                      <%= text_area_tag :price, @blog.context, class: "form-control m-b", "rows" => "3", "disabled" => "true" %> 
                    </div>
                </div>
              </div>
              <% if @blog.documents.present? %>
              <div clas="row">

              </div>
              <div class="row">
                <div class="col-sm-1">
                </div>
                <div class="col-sm-4">
                  <div class="card bg-white">
                    <div class="card-block">
                      <h4 class="card-title">Image</h4>
                      <p class="card-text">No Image Caption.</p>
                    </div>
                    <img class="card-img-bottom img-responsive" src="<%= @blog.documents.first.image %>" alt="Card image cap">
                  </div>
                </div>
              </div>
              <% end %>           
                        
            </div>
          </div>
        </div>
        <div class="modal-footer no-border">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>