<%= form_tag add_new_blood_group_admins_path  ,role: "form",method: :post, id:"form", remote: true do %>
           <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">New Blood Group</h4>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
               <div class="form-group">
                <div class="row">
                 <label  class="col-sm-2 control-label">Blood Type</label>
                    <div class="col-sm-3">
                      <%= text_field_tag :type, "", clas: "form-control m-b" %> 
                    </div>
                </div>
              </div>         
            </div>
          </div>
        </div>
        <div class="modal-footer no-border">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         <%= submit_tag "Submit",class:"btn btn-primary " %>
        </div>
      </div>
    </div>
          
          
<% end %>