<%= form_tag create_new_blogger_admins_path  ,role: "form",method: :post, id:"form", :multipart => true do %>
           <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">New Blogger</h4>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
               <div class="form-group">
                <div class="row">
                 <label  class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-3">
                      <%= text_field_tag :name, "", class: "form-control m-b" %> 
                    </div>
                </div>
              </div>      
              <div class="form-group">
                <div class="row">
                 <label  class="col-sm-2 control-label">Username</label>
                    <div class="col-sm-3">
                      <%= text_field_tag :username, "", class: "form-control m-b" %> 
                    </div>
                </div>
              </div>
               <div class="form-group">
                <div class="row">
                 <label  class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-3">
                      <%= text_field_tag :email, "", class: "form-control m-b" %> 
                    </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                 <label  class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-3">
                      <%= text_field_tag :password, "", class: "form-control m-b" %> 
                    </div>
                </div>
              </div>
                        
            </div>
          </div>
        </div>
        <div class="modal-footer no-border">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         <%= submit_tag "Submit",class:"btn btn-primary " %>
        </div>
      </div>
    </div>
          
          
<% end %>