<div class="card bg-white">
  <div class="card-header">
    Blogs
  </div>
  <% if flash[:success].present? %>
        <div class="alert alert-success">
          <strong>Success!</strong> <%= flash[:success] %>
        </div>
        <% end %>
  <div class="card-block">
    <table class="table table-bordered table-striped datatable editable-datatable responsive align-middle bordered">
      <thead>
        <tr>
          <th>Blogger ID</th>
          <th>Blog Title</th>
          <th>Blog Content</th>
          <th>Created At</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
      <% @blogs.each do |blog| %>
      <tr>
        <td>
          <%= blog.blogger_id %>
        </td>
        <td>
          <%= blog.title %>
        </td>
        <td>
          <%= link_to blog_content_admins_path(blog_id: blog.id), class: "btn btn-info", remote: true do %>
                <i class="fa fa-eye"></i>
              <span>Show Content</span>
            <% end %>
        </td>
        <td>
          <%= blog.created_at %>
        </td>
        <td>
          <% if blog.state == 0  || blog.state == nil %>
            <%= link_to publish_blog_admins_path(blog_id: blog.id), class: "btn btn-primary" do %>
                <i class="fa fa-eye"></i>
              <span>Click to Publish</span>
            <% end %>
          <% elsif blog.state == 1 %>
            Published
          <% end %>
        </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>