
<div class="card bg-white">
  <div class="card-header">
    Students
  </div>
  <div class="card-block">
    <table class="table table-bordered table-striped datatable editable-datatable responsive align-middle bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Show On Map</th>
        </tr>
      </thead>
      <tbody>
      <% @cities.each do |city| %>
      <tr>
        <td>
          <%= city.name %>
        </td>
        <td>
          <%= link_to public_show_location_path(lat: city.lat, long: city.long), "target" => "_blank" do %>
           Show Location
          <% end %>
        </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

   