<!-- main area -->
       <div class="main-content">
        <div class="page-title">
          <div class="title">Dashboard</div>
        </div>    
        <div class="row">
          <div class="col-sm-3">
            <div class="card card-block bg-white">
              <h4 class="card-title">New Condition</h4>
              <p class="card-text" id="teacher_box">
                <br/>
                <%= link_to new_condition_admins_path,  class: "btn btn-primary ",  remote: true do %>
                            <i class="fa fa-eye"></i> Add new Condition
                <% end %>

              </p>                              
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <%= render 'conditions_table' %>            
          </div>
        </div>
          
      <!-- /main area -->
      
  <div class="modal bs-modal-lg" tabindex="-1" role="dialog" aria-hidden="true"></div>