<div class="card bg-white">
  <div class="card-header">
    Conditions
  </div>
  <div class="card-block">
    <table class="table table-bordered table-striped datatable editable-datatable responsive align-middle bordered">
      <thead>
        <tr>
          <th>Title</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody>
      <% @conditions.each do |condition| %>
        <tr>
        <td>
          <%= condition.title %>
        </td>
        <td>
          <%= condition.description %>
        </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>