<!-- main area -->
       <div class="main-content">
        <div class="page-title">
          <div class="title">Dashboard</div>
        </div>    
        <div class="row">
          <div class="col-sm-3">
            <div class="card card-block bg-white">
              <h4 class="card-title">New Doctor</h4>
              <p class="card-text" id="teacher_box">
                <br/>
                <%= link_to new_doctor_path,  class: "btn btn-primary ",  remote: true do %>
                            <i class="fa fa-eye"></i> Add new doctor
                <% end %>

              </p>                              
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card card-block bg-white">
              <h4 class="card-title">New Blood Group</h4>
              <p class="card-text" id="teacher_box">
                <br/>
                <%= link_to new_blood_group_admins_path,  class: "btn btn-primary ",  remote: true do %>
                            <i class="fa fa-eye"></i> New Blood Group
                <% end %>

              </p>                              
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card card-block bg-white">
              <h4 class="card-title">New Pharmacy</h4>
              <p class="card-text" id="teacher_box">
                <br/>
                <%= link_to new_pharmacy_path,  class: "btn btn-primary ",  remote: true do %>
                            <i class="fa fa-eye"></i> New Pharmacy
                <% end %>

              </p>                              
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card card-block bg-white">
              <h4 class="card-title">Medicines</h4>
                <p class="card-text" id="teacher_box">
                <br/>
                <%= link_to new_medicine_admins_path, method: :get, class: "btn btn-primary ",  remote: true do %>
                            <i class="fa fa-eye"></i> Add new Medicine
                <% end %>

              </p>    
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3">
            <div class="card card-block bg-white">
              <h4 class="card-title">Bloggers</h4>
                <p class="card-text" id="teacher_box">
                <br/>
                <%= link_to new_blogger_admins_path, method: :get, class: "btn btn-primary ",  remote: true do %>
                            <i class="fa fa-eye"></i> Add new Blogger
                <% end %>

              </p>    
            </div>
          </div>
          
          <div class="col-sm-3">
            <div class="card card-block bg-white">
              <h4 class="card-title">Patients</h4>
              <p class="card-text" id="teacher_box">
                <br/>
                <%= link_to new_patient_path,  class: "btn btn-primary ",  remote: true do %>
                            <i class="fa fa-eye"></i> Add new Patient
                <% end %>
              </p>                              
            </div>
          </div>

          <div class="col-sm-3">
            <div class="card card-block bg-white">
              <h4 class="card-title">Import</h4>
              <p class="card-text" id="teacher_box">
                <br/>
                <%= link_to import_medicines_admins_path,  class: "btn btn-primary ",  remote: true do %>
                            <i class="fa fa-eye"></i> Important Medicines
                <% end %>
              </p>                              
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3"></div>
          <div class="col-sm-3"></div>
          <div class="col-sm-3">
             <div class="card card-block bg-white">
              <h4 class="card-title">Visits Today</h4>
              <p class="card-text" id="teacher_box">
                <p> <%= @visits_today %> </p>
              </p>                              
            </div>
          </div>
          <div class="col-sm-3">
             <div class="card card-block bg-white">
              <h4 class="card-title">Visits Last Week</h4>
              <p class="card-text" id="teacher_box">
                <p><%= @visits_last_week.to_i %> </p>
              </p>                              
            </div>
          </div>
          
        </div>
          
      <!-- /main area -->
      
  <div class="modal bs-modal-lg" tabindex="-1" role="dialog" aria-hidden="true"></div>