
<div class="card bg-white">
  <div class="card-header">
    Blood Donors
  </div>
  <div class="card-block">
    <table class="table table-bordered table-striped datatable editable-datatable responsive align-middle bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Blood Group</th>
          <th>Phone Number</th>
          <th>Email</th>
          <th>Note</th>
          <th>City</th>
        </tr>
      </thead>
      <tbody>
      <% @donors.each do |donor| %>
        <tr>
          <td>
          <%= donor.id %>
        </td>
        <td>
          <%= donor.name %>
        </td>
        <td>
          <%= donor.blood_type.title if donor.blood_type.present? %>
        </td>
        <td>
          <%= donor.mobile_no %>
        </td>
        <td>
          <%= donor.email %>
        </td>
        <td>
          <%= donor.note %>
        </td>
        <td>
          <%= donor.city.try(:name) %>
        </td>             
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
