
<div class="card bg-white">
  <div class="card-header">
    Donation Requests
  </div>
  <div class="card-block">
    <table class="table table-bordered table-striped datatable editable-datatable responsive align-middle bordered">
      <thead>
        <tr>
          <th>Request ID</th>
          <th>Name</th>
          <th>Blood Group</th>
          <th>City</th>
          <th>Phone Number</th>
          <th>Email</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
      <% @donation_requests.each do |donation_request| %>
        <tr>
        <td>
          <%= donation_request.id %>
        </td>
        <td>
          <%= donation_request.name %>
        </td>
        <td>
          <%= donation_request.blood_type.try(:title) %>
        </td>
        <td>
          <%= donation_request.city.try(:name) %>
        </td>
        <td>
          <%= donation_request.phone %>
        </td>
        <td>
          <%= donation_request.email %>
        </td>
        <td>
          <% if donation_request.status == 0 %>
          <%= link_to assign_donation_request_admins_path(donation_request_id: donation_request.id), class: "btn btn-primary", remote: true do %>
                <i class="fa fa-eye"></i>
                <span>Pending (Click to Assign)</span>
            <% end %>
          <% elsif donation_request.status == 1  %>
          <%= link_to donors_admins_path do %>Assigned to Donor: <%= donation_request.donor.id %> <% end %>
          <% end %>
        </td>
        
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
