<%= form_tag edit_hospital_location_admins_path  ,role: "form",method: :post, id:"form", :multipart => true do %>
           <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Edit Location</h4>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
               <div class="form-group">
                <div class="row">
                 <label  class="col-sm-2 control-label"> Hospital Name</label>
                    <div class="col-sm-3">
                      <%= text_field_tag :name, @hospital.name, class: "form-control m-b", "disabled" => "true" %> 
                    </div>
                </div>
              </div>      
               <div class="form-group">
                <div class="row">
                 <label  class="col-sm-2 control-label">Latitude</label>
                    <div class="col-sm-3">
                      <%= text_field_tag :lat, @hospital.lat, class: "form-control m-b" %> 
                    </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                 <label  class="col-sm-2 control-label">Longitude</label>
                    <div class="col-sm-3">
                      <%= text_area_tag :long, @hospital.long, class: "form-control m-b" %> 
                    </div>
                </div>
              </div>
              
                        
            </div>
          </div>
        </div>
        <%= text_field_tag :hospital_id, @hospital.id, "hidden" => "true" %> 
        <div class="modal-footer no-border">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         <%= submit_tag "Submit",class:"btn btn-primary " %>
        </div>
      </div>
    </div>
          
          
<% end %>