<div class="app layout-fixed-header">
 <div class="sidebar-panel offscreen-left">
      <div class="brand">
        <!-- toggle offscreen menu -->
        <div class="toggle-offscreen">
          <a href="javascript:;" class="visible-xs hamburger-icon" data-toggle="offscreen" data-move="ltr">
            <span></span>
            <span></span>
            <span></span>
          </a>
        </div>
        <!-- /toggle offscreen menu -->
        <!-- logo -->
        <a class="brand-logo">
          <span>ELEA</span>
        </a>
        <a href="#" class="small-menu-visible brand-logo">R</a>
        <!-- /logo -->
      </div>
      <nav role="navigation">
        
        <ul class="nav">
          <!-- dashboard -->
          <li>
            <%= link_to dashboard_admins_path do %>
                <i class="fa fa-dashboard"></i>
                <span>Dashboard</span>
            <% end %>
          </li>
          <li>
            <a href="javascript:;">
              <i class="fa fa-graduation-cap"></i>
              <span>DataBases</span>
            </a>
            <ul class="sub-menu">
              <li>
                <%= link_to pharmacies_admins_path do %>
                    <i class="fa fa-table"></i>
                    <span>Pharmacies</span>
                <% end %>
              </li>
             <li>
                <%= link_to cities_admins_path do %>
                  <i class="fa fa-table"></i>
                  <span>Cities</span>
                <% end %>
              </li>
              <li>
                <%= link_to procedures_admins_path do %>
                  <i class="fa fa-table"></i>
                  <span>Procedures</span>
                <% end %>
              </li>
              <li>
                <%= link_to specialities_admins_path do %>
                  <i class="fa fa-table"></i>
                  <span>Specialities</span>
                <% end %>
              </li> 
              <li>
                <%= link_to conditions_admins_path do %>
                  <i class="fa fa-table"></i>
                  <span>Conditions</span>
                <% end %>
              </li>
              <li>
                <%= link_to hospitals_admins_path do %>
                  <i class="fa fa-table"></i>
                  <span>Hospitals</span>
                <% end %>
              </li>
              <li>
                <%= link_to orders_admins_path do %>
                  <i class="fa fa-table"></i>
                  <span>Orders</span>
                <% end %>
              </li>
              <li>
                <%= link_to donors_admins_path do %>
                  <i class="fa fa-table"></i>
                  <span>Blood Donors</span>
                <% end %>
              </li>
              <li>
                <%= link_to donation_requests_admins_path do %>
                  <i class="fa fa-table"></i>
                  <span>Donation Requests</span>
                <% end %>
              </li>
              <li>
            <%= link_to medicines_admins_path do %>
                <i class="fa fa-table"></i>
                <span>Medicines</span>
            <% end %>
          </li>
          <li>
            <%= link_to blogs_admins_path do %>
                <i class="fa fa-table"></i>
                <span>Blogs</span>
            <% end %>
          </li>
            </ul>
          </li>
        </ul>
      </nav>
      <!-- /main navigation -->
    </div>
    <!-- /sidebar panel -->
  <!-- content panel -->
    <div class="main-panel">
      <!-- top header -->
      <div class="header navbar">
        <div class="brand visible-xs">
          <!-- toggle offscreen menu -->
          <div class="toggle-offscreen">
            <a href="javascript:;" class="hamburger-icon visible-xs" data-toggle="offscreen" data-move="ltr">
              <span></span>
              <span></span>
              <span></span>
            </a>
          </div>
          <!-- /toggle offscreen menu -->
          <!-- logo -->
          <a class="brand-logo">
            <span>ELEA</span>
          </a>
          <!-- /logo -->
        </div>
        <ul class="nav navbar-nav hidden-xs">
          <li>
            <a href="javascript:;" class="small-sidebar-toggle ripple" data-toggle="layout-small-menu">
              <i class="icon-toggle-sidebar"></i>
            </a>
          </li>
         <!--  <li class="searchbox">
            <a href="javascript:;" data-toggle="search">
              <i class="search-close-icon icon-close hide"></i>
              <i class="search-open-icon icon-magnifier"></i>
            </a>
          </li> -->
          <li class="navbar-form search-form hide">
            <input type="search" class="form-control search-input" placeholder="Start typing...">
            
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right hidden-xs">
          <li>
            <a href="javascript:;" class="ripple" data-toggle="dropdown">
              <img src="/images/avatar.jpg" class="header-avatar img-circle" alt="user" title="user">
              <span><%= current_admin.name %></span>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
             <li>
                <a href="/help" target="_blank">Help</a>
              </li>
              <li>
                <%= link_to "Log out", logout_admins_path, :method => :get %>              
              </li>
            </ul>
          </li>
          </ul>
          
        </ul>
      </div>
      <!-- /top header -->
   
