
<div class="card bg-white">
  <div class="card-header">
    Hospital
  </div>
  <div class="card-block">
    <table class="table table-bordered table-striped datatable editable-datatable responsive align-middle bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>City</th>
          <th>Show Location</th>
          <th>Edit Location</th>
        </tr>
      </thead>
      <tbody>
      <% @hospitals.each do |hospital| %>
      <tr>
        <td>
          <%= hospital.name %>
        </td>
        <td>
          <%= hospital.city.try(:name) %>
        </td>
        <td>
          <%= link_to public_show_location_path(lat: hospital.lat, long: hospital.long),  "target" => "_blank" do %>
           Show Location
          <% end %>
        </td>
        <td>
          <%= link_to edit_location_admins_path(hospital_id: hospital.id), remote: true do %>
           Edit Location
          <% end %>
        </td>
        
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

   <div class="modal bs-modal-lg" tabindex="-1" role="dialog" aria-hidden="true"></div>