<%= content_for :head do %>
  <link rel="stylesheet" href="/vendor/datatables/media/css/jquery.dataTables.css">
  <link rel="stylesheet" href="/vendor/sweetalert/dist/sweetalert.css">
<% end %>

<div class="card bg-white">
          <div class="card-header">
            Medicines
          </div>
          <div class="card-block">
            <table class="table table-bordered table-striped datatable editable-datatable responsive align-middle bordered">
              <thead>
                <tr>
                  <th>Item Code</th>
                  <th>Name</th>
                  <th>Purchase Price</th>
                  <th>Sale Price</th>
                  <th>Description</th>
                  <th>Manufacturer</th>
                  <th>State</th>
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
        

<%= content_for :foot do %>

<!-- page scripts -->
<script src="/vendor/datatables/media/js/jquery.dataTables.js"></script>
<script src="/vendor/sweetalert/dist/sweetalert.min.js"></script>
<!-- end page scripts -->
<!-- initialize page scripts -->
<script src="/scripts/helpers/bootstrap-datatables.js"></script>
<script src="/scripts/tables/medicines-table-edit.js"></script>
<!-- end initialize page scripts -->
<% end %>     

<div class="modal bs-modal-lg" tabindex="-1" role="dialog" aria-hidden="true"></div>

