<%= form_tag edit_medicine_data_admins_path(current_pharmacy)  ,role: "form",method: :post, id:"form", :multipart => true do %>

<%= hidden_field_tag :medicine_id, @medicine.id %>
           <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Edit Medicine</h4>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="form-group">
                <div class="row">
                 <label  class="col-sm-2 control-label">Item Code</label>
                    <div class="col-sm-3">
                      <%= text_field_tag :item_code, @medicine.item_code, class: "form-control m-b" %> 
                    </div>
                </div>
              </div>
               <div class="form-group">
                <div class="row">
                 <label  class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-3">
                      <%= text_field_tag :name, @medicine.name, class: "form-control m-b" %> 
                    </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                 <label  class="col-sm-2 control-label">Purchase Price</label>
                    <div class="col-sm-3">
                      <%= text_field_tag :purchase_price, @medicine.purchase_price, class: "form-control m-b" %> 
                    </div>
                </div>
              </div>
               <div class="form-group">
                <div class="row">
                 <label  class="col-sm-2 control-label">Sale Price</label>
                    <div class="col-sm-3">
                      <%= text_field_tag :price, @medicine.price, class: "form-control m-b" %> 
                    </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                 <label  class="col-sm-2 control-label">Manufacturer Name</label>
                    <div class="col-sm-3">
                      <%= text_field_tag :manufacturer_name, @medicine.manufacturer_name, class: "form-control m-b" %> 
                    </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                 <label  class="col-sm-2 control-label">Description</label>
                    <div class="col-sm-3">
                      <%= text_area_tag :description, @medicine.description, class: "form-control m-b" %> 
                    </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                 <label  class="col-sm-2 control-label">State</label>
                    <div class="col-sm-3">
                      <%= select_tag 'state', options_for_select([['Inactive',0],['Active',1]], @medicine.state), class: "form-control cs-select", required: "" %>
                    </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                 <label  class="col-sm-2 control-label">Image</label>
                    <div class="col-sm-3">
                      <%= file_field_tag :image, class: "form-control m-b" %> 
                      <small> If you want to replace the previous image, please select a new one </small>
                    </div>
                </div>
              </div>
                        
            </div>
          </div>
        </div>
        <div class="modal-footer no-border">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         <%= submit_tag "Submit",class:"btn btn-primary " %>
        </div>
      </div>
    </div>
          
          
<% end %>