<%= form_tag add_new_hospital_admins_path  ,role: "form",method: :post, id:"form" do %>
           <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">New Hospital</h4>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
               <div class="form-group">
                <div class="row">
                 <label  class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-3">
                      <%= text_field_tag :name, "", clas: "form-control m-b" %> 
                    </div>
                </div>
              </div>      
               <div class="form-group">
                <div class="row">
                 <label  class="col-sm-2 control-label">City</label>
                    <div class="col-sm-3">
                     <%= select_tag :city , content_tag(:option,'Please Select The City',:value=>"") +  options_from_collection_for_select(City.all,"id","name") ,class: "form-control" %> 
                    </div>
                </div>
              </div>  
              <div class="form-group">
                <div class="row">
                 <label  class="col-sm-2 control-label">Latitude</label>
                    <div class="col-sm-3">
                      <%= text_field_tag :lat, "", clas: "form-control m-b" %> 
                    </div>
                </div>
              </div>    
              <div class="form-group">
                <div class="row">
                 <label  class="col-sm-2 control-label">Longitude</label>
                    <div class="col-sm-3">
                      <%= text_field_tag :long, "", clas: "form-control m-b" %> 
                    </div>
                </div>
              </div>             
            </div>
          </div>
        </div>
        <div class="modal-footer no-border">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         <%= submit_tag "Submit",class:"btn btn-primary " %>
        </div>
      </div>
    </div>
          
          
<% end %>