<%= form_tag assign_order_admins_path, role: "form",method: :post, id:"form", :multipart => true do %>
     <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" onclick="$(".bs-modal-lg").popup('hide');" aria-hidden="true">×</button>
          <h4 class="modal-title">Order Details</h4>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
               <div class="form-group">
                <div class="row">
                 <label  class="col-sm-2 control-label">Order ID</label>
                    <div class="col-sm-3">
                      <input type="text" class="form-control m-b" disabled="true" value="<%= @order.id %>" />
                    </div>
                </div>
              </div>      
               <div class="form-group">
                <div class="row">
                 <label  class="col-sm-2 control-label">Charges</label>
                    <div class="col-sm-3">
                      <input type="text" class="form-control m-b" disabled="true" value="<%= @order.charges %>" />
                    </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                 <label  class="col-sm-2 control-label">Address</label>
                    <div class="col-sm-3">
                      <input type="text" class="form-control m-b" disabled="true" value="<%= @order.address %>" />
                    </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                 <label  class="col-sm-2 control-label">Payment Method</label>
                    <div class="col-sm-3">
                      <% if @order.payment_method == 1 %>
                      <input type="text" class="form-control m-b" disabled="true" value="Cash on Delivery" />
                      <% else %>
                      <input type="text" class="form-control m-b" disabled="true" value="Easy Paisa" />
                      <% end %>
                    </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                 <label  class="col-sm-2 control-label">Select Pharmacy</label>
                    <div class="col-sm-3">
                      <%= select_tag :pharmacy_id, options_from_collection_for_select(@pharmacies, "id", "name") %>                    </div>
                </div>
              </div>
              <%= hidden_field_tag :order, @order.id %>
              
                        
            </div>
          </div>
        </div>
        <div class="modal-footer no-border">
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="$(".bs-modal-lg").popup('hide');">Close</button>
         <%= submit_tag "Submit",class:"btn btn-primary " %>
        </div>
      </div>
    </div>
          
          
<% end %>