
<div class="card bg-white">
  <div class="card-header">
    Orders
  </div>
  <div class="card-block">
    <table class="table table-bordered table-striped datatable editable-datatable responsive align-middle bordered">
      <thead>
        <tr>
          <th>Order ID</th>
          <th>Charges</th>
          <th>Payment Method</th>
          <th>Phone Number</th>
          <th>Address</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
      <% @orders.each do |order| %>
        <tr>
        <td>
          <%= order.id %>
        </td>
        <td>
          <%= order.charges %>
        </td>
        <td>
          <% if order.payment_method == 1 %>
          Cash On Delivery
          <% elsif order.payment_method == 2 %>
          Easy Paisa
          <% end %>
        </td>
        <td>
          <%= order.try(:phone) %>
        </td>
        <td>
          <%= order.try(:address) %>
        </td>
        <td>
          <% if order.status == 0 || order.status == nil %>
          <%= link_to order_details_admins_path(order_id: order.id), class: "btn btn-primary", remote: true do %>
                <i class="fa fa-eye"></i>
                <span>Pending (Click to Assign)</span>
            <% end %>
          <% elsif order.status == 1 %>
          Assigned to <%= order.pharmacy.try(:name) %>
          <% else %>
          Delivered by <%= order.pharmacy.try(:name) %>
          <% end %>
        </td>
        
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
