<!-- main area -->
       <div class="main-content">
        <div class="page-title">
          <div class="title">Pharmacies</div>
        </div>    
        <div class="row">
        </div>
        <div class="row">
          <div class="col-md-12">
            <%= render 'pharmacies_table' %>            
          </div>
        </div>
          
      <!-- /main area -->
      
  <div class="modal bs-modal-lg" tabindex="-1" role="dialog" aria-hidden="true"></div>