
<div class="card bg-white">
  <div class="card-header">
    Pharmacies
  </div>
  <div class="card-block">
    <table class="table table-bordered table-striped datatable editable-datatable responsive align-middle bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Address</th>
          <th>Latitude</th>
          <th>Longitude</th>
        </tr>
      </thead>
      <tbody>
      <% @pharmacies.each do |pharmacy| %>
      <tr>
        <td>
          <%= pharmacy.name %>
        </td>
        <td>
          <%= pharmacy.email %>
        </td>
        <td>
          <%= pharmacy.address %>
        </td>
        <td>
          <%= pharmacy.lat %>
        </td>
        <td>
          <%= pharmacy.long %>
        </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

   <div class="modal bs-modal-lg" tabindex="-1" role="dialog" aria-hidden="true"></div>