
<div class="card bg-white">
  <div class="card-header">
    Procedures
  </div>
  <div class="card-block">
    <table class="table table-bordered table-striped datatable editable-datatable responsive align-middle bordered">
      <thead>
        <tr>
          <th>Title</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody>
      <% @procedures.each do |procedure| %>
      <tr>
        <td>
          <%= procedure.title %>
        </td>
        <td>
          <%= procedure.description %>
        </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

   