<%= form_tag create_new_speciality_admins_path  ,role: "form",method: :post, id:"form" do %>
   <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">New Speciality</h4>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
               <div class="form-group">
                <div class="row">
                 <label  class="col-sm-2 control-label">Speciality Name</label>
                    <div class="col-sm-3">
                      <%= text_field_tag :title, "", clas: "form-control m-b" %> 
                    </div>
                </div>
              </div>      
               <div class="form-group">
                <div class="row">
                 <label  class="col-sm-2 control-label">Speciality Details</label>
                    <div class="col-sm-3">
                      <%= text_area_tag :description, "", clas: "form-control m-b" %> 
                    </div>
                </div>
              </div>         
            </div>
          </div>
        </div>
        <div class="modal-footer no-border">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         <%= submit_tag "Submit",class:"btn btn-primary " %>
        </div>
      </div>
    </div>
          
          
<% end %>

