<div class="card bg-white">
  <div class="card-header">
    Students
  </div>
  <div class="card-block">
    <table class="table table-bordered table-striped datatable editable-datatable responsive align-middle bordered">
      <thead>
        <tr>
          <th>Title</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody>
      <% @sepcialities.each do |sepciality| %>
      <tr>
        <td>
          <%= sepciality.title %>
        </td>
        <td>
          <%= sepciality.description %>
        </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

   