<% content_for :head do %>
  <%= render 'shared/header' %>
<% end %>
  <%= render 'head_menu' %>

 <div class="main-content">
        <div class="page-title">
          <div class="title">Medicines</div>
          <div class="sub-title">All Medicines stored in the database</div>
        </div>    
        <%= render 'medicines_data_table' %>
      </div>

<%= render 'shared/footer' %>
<%= hidden_field_tag 'medicines_path', '/api/get_medicines'%>