
$(".bs-modal-lg").html("<%= escape_javascript(render(partial: "order_details")) %>");
$(".bs-modal-lg").popup({
     transition: 'all 0.3s',
     autoopen: true,
     blur: false,
  	 scrolllock: true // optiona
  });
$(".bs-modal-lg").popup('show');
