  </div>
    <!-- /content panel -->
    <!-- bottom footer -->
    <footer class="content-footer">
      <nav class="footer-right">
        <ul class="nav">
          <li>
            <a href="javascript:;">Feedback</a>
          </li>
          <li>
            <a href="javascript:;" class="scroll-up">
              <i class="fa fa-angle-up"></i>
            </a>
          </li>
        </ul>
      </nav>
      <nav class="footer-left hidden-xs">
        <ul class="nav">
          <li>
            <a href="javascript:;"><span>About</span> Reactor</a>
          </li>
          <li>
            <a href="javascript:;">Privacy</a>
          </li>
          <li>
            <a href="javascript:;">Terms</a>
          </li>
          <li>
            <a href="javascript:;">Help</a>
          </li>
        </ul>
      </nav>
    </footer>
    <!-- /bottom footer -->
 </div>
 
<% content_for :foot do %>

 <!-- build:js({.tmp,app}) scripts/app.min.js -->
  <script src="/scripts/helpers/modernizr.js"></script>
  <script src="/vendor/jquery/dist/jquery.js"></script>
  <script src="/vendor/bootstrap/dist/js/bootstrap.js"></script>
  <script src="/vendor/fastclick/lib/fastclick.js"></script>
  <script src="/vendor/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>
  <script src="/scripts/helpers/smartresize.js"></script>
  <script src="/scripts/constants.js"></script>
  <script src="/scripts/main.js"></script>
  <!-- endbuild -->
  <!-- page scripts -->
  <script src="/vendor/chosen_v1.4.0/chosen.jquery.min.js"></script>
  <script src="/vendor/card/lib/js/jquery.card.js"></script>
  <script src="/vendor/select2/dist/js/select2.js"></script>
  <script src="/vendor/multiselect/js/jquery.multi-select.js"></script>
  <!-- end page scripts -->

   <!-- PNotify -->
  <script type="text/javascript" src="/vendor/notify/pnotify.core.js"></script>
  <script type="text/javascript" src="/vendor/notify/pnotify.buttons.js"></script>
  <script type="text/javascript" src="/vendor/notify/pnotify.nonblock.js"></script>
  <script type="text/javascript" src="/vendor/notify/pnotify.callback.js"></script>
  
  <script src="/scripts/helpers/classie.js"></script>
  <script src="/scripts/helpers/selectfx.js"></script>
  <script src="/scripts/helpers/inputfx.js"></script>
  <script src="/scripts/validator.min.js"></script>

  <script src="/vendor/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
  <script src="/scripts/jquery.popSelect.js"></script>

  <!-- jQuery Popup Overlay -->
  <script src="/scripts/jquery.popupoverlay.js"></script>
  <script src="/vendor/clockpicker/dist/jquery-clockpicker.min.js"></script>
  <script src="/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
  <script src="/vendor/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
  <script type="text/javascript">
    function initPopups(){
      $("[data-toggle=tooltip]").tooltip();
      $("[data-toggle=popover]")
        .popover()
        .click(function (e) {
          e.preventDefault();
        });
      }
      initPopups();
  </script>
  <%= yield :foot_end %>
  <% end %>

