<!-- page stylesheets -->
  <link rel="stylesheet" href="/vendor/chosen_v1.4.0/chosen.min.css">
  <link rel="stylesheet" href="/vendor/checkbo/src/0.1.4/css/checkBo.min.css">
  
  <!-- end page stylesheets -->
  <!-- build:css({.tmp,app}) styles/app.min.css -->
  <link rel="stylesheet" href="/styles/webfont.css">
  <link rel="stylesheet" href="/styles/climacons-font.css">
  <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/styles/font-awesome.css">
  <link rel="stylesheet" href="/styles/card.css">
  <link rel="stylesheet" href="/styles/sli.css">
  <link rel="stylesheet" href="/styles/animate.css">
  <link rel="stylesheet" href="/styles/app.css">
  <link rel="stylesheet" href="/styles/app.skins.css">
  <link rel="stylesheet" href="/styles/custom.css">
  <link href="/styles/select2.min.css" rel="stylesheet" />
  <link href="/styles/jquery.popSelect.css" rel="stylesheet" />
  <link rel="stylesheet" href="/vendor/multiselect/css/multi-select.css">
  <link rel="stylesheet" href="/vendor/ui-select/dist/select.css">
  <link rel="stylesheet" href="/vendor/select2/dist/css/select2.css">
  <link rel="stylesheet" href="/vendor/selectize/dist/css/selectize.css">

  <link rel="stylesheet" href="/vendor/clockpicker/dist/jquery-clockpicker.min.css">
  <link rel="stylesheet" href="/vendor/bootstrap-timepicker/css/bootstrap-timepicker.min.css">
  <!-- endbuild -->