<div class="card bg-white">
  <div class="card-header">
    Appointment Status
  </div>
  <div class="card-block">
    <table class="table table-bordered table-striped datatable editable-datatable responsive align-middle bordered">
      <thead>
        <tr>
          <th>Appointment ID</th>
          <th>Doctor</th>
          <th>State</th>
        </tr>
      </thead>
      <tbody>
      <% @appointments.each do |appointment| %>
        <tr>
        <td>
          <%= appointment.id %>
        </td>
        <td>
          <%= Doctor.find(appointment.doctor_id).name %>
        </td>
        <td>
          <% if appointment.state == 0 %>
          Requested
          <% elsif appointment.state == 1 %>
          Due at <%= appointment.slot.start_time %>
          <% elsif appointment.state == 2 %>
          <span style="color:red;">REJECTED</span>
          <% end %>
        </td>
        
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
