<!-- main area -->
       <div class="main-content">
        <div class="page-title">
          <div class="title">Appointments</div>
        </div>
        
         <div class="row">
          <div class="col-sm-3">
            <div class="card card-block bg-white">
              <h4 class="card-title">Appointment</h4>

              <p class="card-text" id="teacher_box">
                <br/>
                <%= link_to request_appointment_patient_path(current_patient),  class: "btn btn-primary ",  remote: true do %>
                            <i class="fa fa-eye"></i> Request Appointment
                <% end %>
              </p>                              
            </div>
          </div>
        </div>

        <%= render 'appointments_data_table' %>        
          
      <!-- /main area -->
      
  <div class="modal bs-modal-lg" tabindex="-1" role="dialog" aria-hidden="true"></div>
  <script type="text/javascript">
    function getSlots(){
      var id = document.getElementById("selected_doctor").value;
      var data = document.getElementById("magic_date").value;
      var path = "/patients/"+<%= current_patient.id %>+"/get_slots?date="+data+"&doctor_id="+id;
      
      $.ajax({url: path,
       dataType: 'json',
       success: function(result){
        console.log(result)
        evaluate(result);
      }});
    }

    function evaluate(result){
      var html;
      html = "<select id='slots_select' name='selected_slot' style='width: 279px;' class='form-control' multiple>";
      for (i = 0; i < result.length; i++){
        var temp = "<option value='" + result[i] + "'>" + result[i] + "</option>";
        html += temp;
      }
      html += "</select>";
      document.getElementById("empty_slots").innerHTML = html;
      console.log(html)
      $('#slots_select').popSelect({
        showTitle: false,
        placeholderText: 'Click to Select',
        position: 'bottom',
        maxAllowed: 1
      });
    }
  </script>