  <div class="form-group">
    <div class="row"> 
    <%= label_tag "","Name", class: "col-sm-2 control-label" %>
      <div class="col-sm-3">
        <span class="input input--success m-b-md">
          <%= text_field_tag 'name', "", class: "input__field form-control", required: "" %>
          <label class="input__label" for="input-3">
            <span class="input__label-content">Please enter Patient's Name</span>
        </label>
        </span>
        <div class="help-block with-errors"></div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <%= label_tag "","Gender", class: "col-sm-2 control-label" %>
        <div class="col-sm-3">
       <%= select_tag 'gender', content_tag(:option,'Select Gender',:value=>"") + options_for_select([['Male',1],['Female',2]]), class: "form-control cs-select", required: "", id: "gender", "placeholder" => "Select Gender" %>
       <div class="help-block with-errors"></div>
      </div>
    </div>
  </div>  

<div class="form-group">
    <div class="row">
      <%= label_tag "","Blood Type", class: "col-sm-2 control-label" %>
        <div class="col-sm-3">
       <%= select_tag 'blood_type_id', content_tag(:option,'Select Blood Type',:value=>"") + options_from_collection_for_select(BloodType.all, "id","title"), class: "form-control cs-select", required: "", id: "gender"%>
       <div class="help-block with-errors"></div>
      </div>
    </div>
  </div>  
  <div class="form-group">
    <div class="row">
     <label  class="col-sm-2 control-label">Date Of Birth</label>
        <div class="col-sm-3">
          <%= text_field_tag :date_of_birth, "", class: "form-control m-b", required: "", "data-provide" => "datepicker" %> 
        <div class="help-block with-errors"></div>
        </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row"> 
    <%= label_tag "","Email", class: "col-sm-2 control-label" %>
      <div class="col-sm-3">
        <span class="input input--success m-b-md">
          <%= email_field_tag 'email', "", class: "input__field email form-control", required: "" %>
          <label class="input__label" for="input-3">
            <span class="input__label-content">Please enter Patient's Email</span>
        </label>
        </span>
        <div class="help-block with-errors"></div>
      </div>
  </div>
  </div>
  <div class="form-group">
    <div class="row"> 
    <%= label_tag "","Username", class: "col-sm-2 control-label" %>
      <div class="col-sm-3">
        <span class="input input--success m-b-md">
          <%= text_field_tag 'username', "", class: "input__field form-control", required: "" %>
          <label class="input__label" for="input-3">
            <span class="input__label-content">Please enter Patient's Username</span>
        </label>
        </span>
        <div class="help-block with-errors"></div>
      </div>
  </div>
  </div>
 <div class="form-group">
    <div class="row"> 
    <%= label_tag "","Password", class: "col-sm-2 control-label" %>
      <div class="col-sm-3">
        <span class="input input--success m-b-md">
          <%= password_field_tag 'password', "", class: "input__field form-control", required: "", "id" => "inputPassword" %>
          <label class="input__label" for="input-3">
            <span class="input__label-content">Please enter Patient's Password</span>
        </label>
        </span>
        <div class="help-block with-errors"></div>
      </div>
  </div>
  </div>
  <div class="form-group">
  <div class="row"> 
    <%= label_tag "","Confirm Password", class: "col-sm-2 control-label" %>
      <div class="col-sm-3">
        <span class="input input--success m-b-md">
        <input type="password" class="form-control input__field" id="inputPasswordConfirm" data-match="#inputPassword" data-match-error="Whoops, passwords don't match" required>
        <label class="input__label" for="input-3">
            <span class="input__label-content">Please re-enter the password</span>
        </label>
        </span>
        <div class="help-block with-errors"></div>
      </div>
    </div>
</div>
  <div class="form-group">
  <div class="row"> 
    <%= label_tag "","Phone", class: "col-sm-2 control-label" %>
      <div class="col-sm-3">
        <span class="input input--success m-b-md">
          <%= text_field_tag 'phone', "", class: "input__field form-control", "data-minlength" => "10", required:"" %>
          <label class="input__label" for="input-3">
            <span class="input__label-content">Contact of Patient's Phone No</span>
        </label>
        </span>
        <div class="help-block with-errors"></div>
      </div>
    </div>
</div>
 <div class="form-group">
    <div class="row"> 
    <%= label_tag "","Address", class: "col-sm-2 control-label" %>
      <div class="col-sm-3">
        <span class="input input--success m-b-md">
          <%= text_field_tag 'address', "", class: "input__field form-control", required: "" %>
          <label class="input__label" for="input-3">
            <span class="input__label-content">Please enter Patient's Address</span>
        </label>
        </span>
        <div class="help-block with-errors"></div>
      </div>
  </div>
  </div>
