
 <% action_hash = { 'new' => 'create', 'edit' => 'update' } %>
<%= form_for(@patient, url: { controller: 'patients', action: "#{action_hash[params[:action]]}" }, "role" => "form") do |f| %>

<div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <% if @patient.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

                  <ul>
                  <% @patient.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                  </ul>
                </div>
              <% end %>
          <h4 class="modal-title">New Patient</h4>
          <div id="form-error"></div>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <%= render :partial => 'form_fields', :locals => {:f => f} %>          
            </div>
          </div>
        </div>
        <div class="modal-footer no-border">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.submit "Add", class: "btn btn-primary"%>
        </div>
      </div>
    </div>
  <% end %> 

  
  
<script src="/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script type="text/javascript">
$("#form").validator({     
  }).on('submit', function (e) {
    });
</script>
  
