
<div class="card bg-white">
  <div class="card-header">
    Prescriptions
  </div>
  <div class="card-block">
    <table class="table table-bordered table-striped datatable editable-datatable responsive align-middle bordered">
      <thead>
        <tr>
          <th>Patient Name</th>
          <th>Prescription ID</th>
          <th>Date</th>
          <th>Note</th>
          <th>Prescription Details</th>
        </tr>
      </thead>
      <tbody>
        <% @prescriptions.each do |prescription| %>
          <tr>
            <td><%= prescription.patient.name %></td>
            <td><%= prescription.id %></td>
            <td><%= prescription.created_at %></td>
            <td><%= prescription.note %></td>
            <td><%= link_to prescription_details_patient_path(current_patient, prescription_id: prescription.id), class: "btn btn-info ",  remote: true do %>
                <i class="fa fa-eye"></i> Show Details
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
