<%= form_tag create_new_appointment_patient_path(current_patient), role: "form", method: :post, id:"form", :multipart => true do %>
  <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" onclick="$('.bs-modal-lg').popup('hide');" aria-hidden="true">×</button>
          <h4 class="modal-title">Request Appointment</h4>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="form-group">
              	<div class="row">
              		<label  class="col-sm-2 control-label">Select Doctor</label>
                  <div class="col-sm-3">
              		<select class="form-control cs-select" name="doctor_id" id="selected_doctor">
              			<% @doctors.each do |doctor| %>
              				<option value="<%= doctor.id %>"><%= doctor.name %></option>
              			<% end %>
					         </select>
                 </div>
              	</div>
              </div>
              <div class="form-group">
                <div class="row">
                 <label  class="col-sm-2 control-label">Date Of Appointment</label>
                    <div class="col-sm-3">
                      <div class="input-group m-b">
                        <%= text_field_tag :appointment_date, "", class: "form-control br0", "data-provide" => "datepicker", "id" => "magic_date" %> 
                        <span class="input-group-btn">
                          <button class="btn btn-info" type="button" onclick="getSlots();" >Show slots</button>
                        </span>
                      </div>
                      
                    </div>
                </div>
              </div>
              
              <div class="form-group">
                <div class="row">
                  <label  class="col-sm-2 control-label">Select Slot</label>
                <div class="col-sm-3" id="empty_slots">
                </div>
                </div>
              </div>


            </div>
          </div>
        </div>
        <div class="modal-footer no-border">
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="$('.bs-modal-lg').popup('hide');">Close</button>
         <%= submit_tag "Send Request",class:"btn btn-primary " %>
        </div>
      </div>
    </div>
<% end %>
<script type="text/javascript">
$(document).ready(function() {
  $(".js-example-basic-single").select2();
});
</script>


