<p id="notice"><%= notice %></p>

<h1>Listing Patients</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Gender</th>
      <th>Date of birth</th>
      <th>Email</th>
      <th>Username</th>
      <th>Password</th>
      <th>Phone</th>
      <th>Address</th>
      <th>Blood type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.name %></td>
        <td><%= patient.gender %></td>
        <td><%= patient.date_of_birth %></td>
        <td><%= patient.email %></td>
        <td><%= patient.username %></td>
        <td><%= patient.password %></td>
        <td><%= patient.phone %></td>
        <td><%= patient.address %></td>
        <td><%= patient.blood_type_id %></td>
        <td><%= link_to 'Show', patient %></td>
        <td><%= link_to 'Edit', edit_patient_path(patient) %></td>
        <td><%= link_to 'Destroy', patient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Patient', new_patient_path %>
