<!DOCTYPE html>
<html lang="en">
<% content_for :head do %>
 <meta charset="utf-8">
  <title>Patient Login</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
  <!-- build:css({.tmp,app}) styles/app.min.css -->
  <link rel="stylesheet" href="/styles/webfont.css">
  <link rel="stylesheet" href="/styles/climacons-font.css">
  <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/styles/font-awesome.css">
  <link rel="stylesheet" href="/styles/card.css">
  <link rel="stylesheet" href="/styles/sli.css">
  <link rel="stylesheet" href="/styles/animate.css">
  <link rel="stylesheet" href="/styles/app.css">
  <link rel="stylesheet" href="/styles/app.skins.css">
  <!-- endbuild -->
<% end %>
 
<%= render 'patient_login_form' %>
    
<% content_for :foot do %>
 <!-- build:js({.tmp,app}) scripts/app.min.js -->
  <script src="/scripts/helpers/modernizr.js"></script>
  <script src="/vendor/jquery/dist/jquery.js"></script>
  <script src="/vendor/bootstrap/dist/js/bootstrap.js"></script>
  <script src="/vendor/fastclick/lib/fastclick.js"></script>
  <script src="/vendor/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>
  <script src="/scripts/helpers/smartresize.js"></script>
  <script src="/scripts/constants.js"></script>
  <script src="/scripts/main.js"></script>
  <script src="/scripts/validator.min.js"></script>
  <!-- endbuild -->
   <script src="/vendor/jquery-validation/dist/jquery.validate.min.js"></script>
  <!-- end page scripts -->
  <!-- initialize page scripts -->
  <script type="text/javascript">
    $('#form').validator();
  </script>
  <!-- end initialize page scripts -->
<% end %>

