<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Dear Customer Care Rep,</p>
    <p>
      We have received the following Message at the easycare website<br/>
      Please resolve the issue immediately:
    </p>
          Name: <%= @data[:name] %> <br/>
      Email: <%= @data[:email] %> <br/>
      Message: <%= @data[:message] %>

    <br/>
    <br/>
    <p>After it is resolved please inform the client via email.</p>
    <ol>
      <li>Mobile Phone (Call/ SMS)</li>
    </ol>
  </body>
</html>