<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Dear Admin,</p>
    <p>
      A new appointment has been placed.
    </p>
      <h3>Details</h3>
    <p>
      Patient Name: <%= @patient.name %> <br/>
      Patient ID: <%= @patient.id %> <br/>
      Doctor Name: <%= @doctor.name %> <br/>
      Doctor ID: <%= @doctor.id %> <br/>
      Appointment Date: <%= @appointment.slot.start_time %> <br/>
      Charges: <%= @doctor.appointment_fee %>
    </p>
    <br/>

  </body>
</html>