A new appointment has been placed

--Appointment Details--

Patient Name: <%= @patient.name %> 
Patient ID: <%= @patient.id %>
Doctor Name: <%= @doctor.name %> 
Doctor ID: <%= @doctor.id %>
Appointment Date: <%= @appointment.slot.start_time %> 
Charges: <%= @doctor.appointment_fee %>