<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Yo Humayun Bhai</p>
    <p>
      This is the basic template<br/>
      This is some information
    </p>
          Name: <%= @data[:name] %> <br/>

    <br/>
    <br/>
    <p>Hope you are happy with my slow progress.</p>
  </body>
</html>