<%= form_tag add_new_prescription_doctor_path(current_doctor)  ,role: "form",method: :post, id:"form", :multipart => true do %>
     <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Add Prescription</h4>
          <div id="form-error" ></div>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="form-group">
                <div class="row">
                <label for="label-me" class="col-sm-2 control-label">
                  Select Patient
                </label>
                <div class="col-sm-3">
                <%= select_tag :patient, options_from_collection_for_select(@patients, "id", "name"), "class" => "form-control select2", "data-placeholder" => "Select Patient", required: true %>
                 <div class="help-block with-errors red-color">
                  </div>
              </div>
                </div>
              </div> 
              <div class="form-group">
                <div class="row">
                <label for="label-me" class="col-sm-2 control-label">
                  Select Medicines
                </label>
                <div class="col-sm-3">
                <%= select_tag :medicines, options_from_collection_for_select(@medicines, "id", "name"),multiple: true, "class" => "form-control select2", "data-placeholder" => "Select Medicines", required: true %>
                </div>
                  
                </div>
                <div class="row">
                  <div class="col-sm-3 col-sm-offset-2">
                    <div class="help-block with-errors red-color">
                  </div>
                  </div>
                </div>
              </div> 
              <div class="form-group">
                <div class="row">
                <label for="label-me" class="col-sm-2 control-label">
                  Enter Note
                </label>
                <div class="col-sm-3">
                <%= text_area_tag :note, "", class: "form-control m-b", "placeholder" => "Write a note about the medicines", "rows" => "3", required: true %> 
              </div>
                </div>
                <div class="row">
                  <div class="col-sm-3 col-sm-offset-2">
                    <div class="help-block with-errors red-color">
                  </div>
                  </div>
                </div>
              </div>        
            </div>
          </div>
        </div>
        <div class="modal-footer no-border">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         <%= submit_tag "Submit",class:"btn btn-primary " %>
        </div>
      </div>
    </div>
          
          
<% end %>
