<%= form_tag add_new_procedure_doctor_path(current_doctor)  ,role: "form",method: :post, id:"form", :multipart => true do %>
     <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Add Procedures</h4>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="form-group">
                <div class="row">
                <label for="label-me" class="col-sm-2 control-label">
                  Procedure
                </label>
                <div class="col-sm-3">
                  <select name="procedures[]" multiple class="select2" style="width: 100%;">
                    <% @procedures.each do |procedure| %>
                      <option value="<%= procedure.id %>"><%= procedure.title %></option>
                    <% end %>
                  </select>
                </div>
                </div>
              </div>         
            </div>
          </div>
        </div>
        <div class="modal-footer no-border">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         <%= submit_tag "Submit",class:"btn btn-primary " %>
        </div>
      </div>
    </div>
          
          
<% end %>
