<%= content_for :head do %>
  <link rel="stylesheet" href="/vendor/datatables/media/css/jquery.dataTables.css">
  <link rel="stylesheet" href="/vendor/sweetalert/dist/sweetalert.css">

  <link rel="stylesheet" href="/vendor/clockpicker/dist/bootstrap-clockpicker.min.css">
<% end %>

<div class="card bg-white">
          <div class="card-header">
            Appointments
          </div>
          <div class="card-block">
            <table class="table table-bordered table-striped datatable editable-datatable responsive align-middle bordered">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Contact</th>
                  <th>State</th>
                  <th>Time</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>

<%= content_for :foot do %>

<!-- page scripts -->
<script src="/vendor/datatables/media/js/jquery.dataTables.js"></script>
<script src="/vendor/sweetalert/dist/sweetalert.min.js"></script>
<!-- end page scripts -->
<!-- initialize page scripts -->
<script src="/scripts/helpers/bootstrap-datatables.js"></script>
<script src="/scripts/tables/appointments-table-edit.js"></script>
<!-- end initialize page scripts -->

<% end %>     

<div class="modal bs-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
   
   
  </div>
  