  <%= form_tag set_availability_details_doctor_path(current_doctor)  ,role: "form",method: :post, id:"form", :multipart => true do %>
           <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Availability Details</h4>
          <p class="modal-subtitle">Select the days and enter time for availability</p>
          <div id="form-error"></div>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">

              <div class="form-group">
                <div class="row">
                  <label  class="col-sm-3 control-label">Appointment Duration &nbsp;<small>(in minutes)</small></label>
                    <div class="col-sm-3">
                      <%= number_field_tag :duration, @duration, min: 0, max: 60, step: 5, class: "form-control m-b", "placeholder" => "Enter avg duration of one appointment in minutes", required: true %> 
                    </div>
                </div>
                <div class="row">
                  <label  class="col-sm-3 control-label">Appointment Fees &nbsp;<small>(in rupees)</small></label>
                    <div class="col-sm-3">
                      <%= number_field_tag :amount, current_doctor.appointment_fee, class: "form-control m-b", "placeholder" => "Enter basic appointment fee", required: true %> 
                    </div>
                </div>
                <div class="row">
                  <div class="col-sm-3 col-sm-offset-3">
                    <div class="help-block with-errors red-color">
                    </div>
                  </div>
                </div>
              </div>


              <% if @days.where(day: "Monday").present? %>
              <% day = @days.where(day: "Monday").first %>
              <!-- For Monday -->
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-1">
                  <div class="cs-checkbox m-b">
                    <%= check_box_tag :mon,"monday", true %> 
                    <label for="mon">Monday</label>
                  </div>
                  </div>
                  <div class="col-sm-5">
                    <div class="row">
                      <div class="col-xs-6">
                        <div class="input-group input-group-lg clockpicker ">
                          <input type="text" class="form-control" value="<%= day.start_time_in_format %>" name="mon_start_time" placeholder="Start Time">
                          <span class="input-group-addon">
                            <span class="fa fa-clock-o"></span>
                          </span>
                        </div>
                      </div>
                      <div class="col-xs-6">
                        <div class="input-group input-group-lg clockpicker ">
                          <input type="text" class="form-control" value="<%= day.end_time_in_format %>" name="mon_end_time" placeholder="End Time">
                          <span class="input-group-addon">
                            <span class="fa fa-clock-o"></span>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
 
              </div>
              <% else %>
              <!-- For Monday -->
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-1">
                  <div class="cs-checkbox m-b">
                    <%= check_box_tag :mon, "monday", false  %> 
                    <label for="mon">Monday</label>
                  </div>
                  </div>
                  <div class="col-sm-5">
                    <div class="row">
                      <div class="col-xs-6">
                        <div class="input-group input-group-lg clockpicker ">
                          <input type="text" class="form-control" placeholder="Start Time" name="mon_start_time">
                          <span class="input-group-addon">
                            <span class="fa fa-clock-o"></span>
                          </span>
                        </div>
                      </div>
                      <div class="col-xs-6">
                        <div class="input-group input-group-lg clockpicker ">
                          <input type="text" class="form-control" placeholder="End Time" name="mon_end_time">
                          <span class="input-group-addon">
                            <span class="fa fa-clock-o"></span>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <% end %>

              <% if @days.where(day: "Tuesday").present? %>
              <% day = @days.where(day: "Tuesday").first %>
              <!-- For Tuesday -->
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-1">
                  <div class="cs-checkbox m-b">
                    <%= check_box_tag :tue,"tuesday", true %> 
                    <label for="tue">Tuesday</label>
                  </div>
                  </div>
                  <div class="col-sm-5">
                    <div class="row">
                      <div class="col-xs-6">
                        <div class="input-group input-group-lg clockpicker ">
                          <input type="text" class="form-control" value="<%= day.start_time_in_format %>" name="tue_start_time" placeholder="Start Time">
                          <span class="input-group-addon">
                            <span class="fa fa-clock-o"></span>
                          </span>
                        </div>
                      </div>
                      <div class="col-xs-6">
                        <div class="input-group input-group-lg clockpicker ">
                          <input type="text" class="form-control" value="<%= day.end_time_in_format %>" name="tue_end_time" placeholder="End Time">
                          <span class="input-group-addon">
                            <span class="fa fa-clock-o"></span>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>   

              <% else %>
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-1">
                  <div class="cs-checkbox m-b">
                    <%= check_box_tag :tue, "tuesday" %> 
                    <label for="tue">Tuesday</label>
                  </div>
                  </div>
                  <div class="col-sm-5">
                    <div class="row">
                      <div class="col-xs-6">
                        <div class="input-group input-group-lg clockpicker ">
                          <input type="text" class="form-control" placeholder="Start Time" name="tue_start_time">
                          <span class="input-group-addon">
                            <span class="fa fa-clock-o"></span>
                          </span>
                        </div>
                      </div>
                      <div class="col-xs-6">
                        <div class="input-group input-group-lg clockpicker ">
                          <input type="text" class="form-control" placeholder="End Time" name="tue_end_time">
                          <span class="input-group-addon">
                            <span class="fa fa-clock-o"></span>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div> 
              <% end %> 

              <% if @days.where(day: "Wednesday").present? %>
              <% day = @days.where(day: "Wednesday").first %>
              <!-- For Wednesday -->
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-1">
                  <div class="cs-checkbox m-b">
                    <%= check_box_tag :wed,"wednesday", true %> 
                    <label for="wed">Wednesday</label>
                  </div>
                  </div>
                  <div class="col-sm-5">
                    <div class="row">
                      <div class="col-xs-6">
                        <div class="input-group input-group-lg clockpicker ">
                          <input type="text" class="form-control" value="<%= day.start_time_in_format %>" name="wed_start_time" placeholder="Start Time">
                          <span class="input-group-addon">
                            <span class="fa fa-clock-o"></span>
                          </span>
                        </div>
                      </div>
                      <div class="col-xs-6">
                        <div class="input-group input-group-lg clockpicker ">
                          <input type="text" class="form-control" value="<%= day.end_time_in_format %>" name="wed_end_time" placeholder="End Time">
                          <span class="input-group-addon">
                            <span class="fa fa-clock-o"></span>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>  
              <% else %>
              <!-- For Wednesday -->
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-1">
                  <div class="cs-checkbox m-b">
                    <%= check_box_tag :wed, "wednesday" %> 
                    <label for="wed">Wednesday</label>
                  </div>
                  </div>
                  <div class="col-sm-5">
                    <div class="row">
                      <div class="col-xs-6">
                        <div class="input-group input-group-lg clockpicker ">
                          <input type="text" class="form-control" placeholder="Start Time" name="wed_start_time">
                          <span class="input-group-addon">
                            <span class="fa fa-clock-o"></span>
                          </span>
                        </div>
                      </div>
                      <div class="col-xs-6">
                        <div class="input-group input-group-lg clockpicker ">
                          <input type="text" class="form-control" placeholder="End Time" name="wed_end_time">
                          <span class="input-group-addon">
                            <span class="fa fa-clock-o"></span>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>  
              <% end %>

              <% if @days.where(day: "Thursday").present? %>
              <% day = @days.where(day: "Thursday").first %>
               <!-- For Thursday -->
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-1">
                  <div class="cs-checkbox m-b">
                    <%= check_box_tag :thur, "thursday", true %> 
                    <label for="thur">Thursday</label>
                  </div>
                  </div>
                  <div class="col-sm-5">
                    <div class="row">
                      <div class="col-xs-6">
                       <div class="input-group input-group-lg clockpicker ">
                          <input type="text" class="form-control" value="<%= day.start_time_in_format %>" name="thur_start_time" placeholder="Start Time">
                          <span class="input-group-addon">
                            <span class="fa fa-clock-o"></span>
                          </span>
                        </div>
                      </div>
                      <div class="col-xs-6">
                        <div class="input-group input-group-lg clockpicker ">
                          <input type="text" class="form-control" value="<%= day.end_time_in_format %>" name="thur_end_time" placeholder="End Time">
                          <span class="input-group-addon">
                            <span class="fa fa-clock-o"></span>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div> 
              <% else %>
              <!-- For Thursday -->
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-1">
                  <div class="cs-checkbox m-b">
                    <%= check_box_tag :thur, "thursday" %> 
                    <label for="thur">Thursday</label>
                  </div>
                  </div>
                  <div class="col-sm-5">
                    <div class="row">
                      <div class="col-xs-6">
                       <div class="input-group input-group-lg clockpicker ">
                          <input type="text" class="form-control" placeholder="Start Time" name="thur_start_time">
                          <span class="input-group-addon">
                            <span class="fa fa-clock-o"></span>
                          </span>
                        </div>
                      </div>
                      <div class="col-xs-6">
                        <div class="input-group input-group-lg clockpicker ">
                          <input type="text" class="form-control" placeholder="End Time" name="thur_end_time">
                          <span class="input-group-addon">
                            <span class="fa fa-clock-o"></span>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div> 
              <% end %>

              <% if @days.where(day: "Friday").present? %>
              <% day = @days.where(day: "Friday").first %>
              <!-- For Friday -->
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-1">
                  <div class="cs-checkbox m-b">
                    <%= check_box_tag :fri, "friday", true %> 
                    <label for="fri">Friday</label>
                  </div>
                  </div>
                  <div class="col-sm-5">
                    <div class="row">
                      <div class="col-xs-6">
                       <div class="input-group input-group-lg clockpicker ">
                          <input type="text" class="form-control" value="<%= day.start_time_in_format %>" name="fri_start_time" placeholder="Start Time">
                          <span class="input-group-addon">
                            <span class="fa fa-clock-o"></span>
                          </span>
                        </div>
                      </div>
                      <div class="col-xs-6">
                        <div class="input-group input-group-lg clockpicker ">
                          <input type="text" class="form-control" value="<%= day.end_time_in_format %>" name="fri_end_time" placeholder="End Time">
                          <span class="input-group-addon">
                            <span class="fa fa-clock-o"></span>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div> 
              <% else %>
              <!-- For Friday -->
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-1">
                  <div class="cs-checkbox m-b">
                    <%= check_box_tag :fri, "friday" %> 
                    <label for="fri">Friday</label>
                  </div>
                  </div>
                  <div class="col-sm-5">
                    <div class="row">
                      <div class="col-xs-6">
                       <div class="input-group input-group-lg clockpicker ">
                          <input type="text" class="form-control" placeholder="Start Time" name="fri_start_time">
                          <span class="input-group-addon">
                            <span class="fa fa-clock-o"></span>
                          </span>
                        </div>
                      </div>
                      <div class="col-xs-6">
                        <div class="input-group input-group-lg clockpicker ">
                          <input type="text" class="form-control" placeholder="End Time" name="fri_end_time">
                          <span class="input-group-addon">
                            <span class="fa fa-clock-o"></span>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div> 
              <% end %>

              <% if @days.where(day: "Saturday").present? %>
              <% day = @days.where(day: "Saturday").first %>
               <!-- For Saturday -->
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-1">
                  <div class="cs-checkbox m-b">
                    <%= check_box_tag :sat, "saturday", true %> 
                    <label for="sat">Saturday</label>
                  </div>
                  </div>
                  <div class="col-sm-5">
                    <div class="row">
                      <div class="col-xs-6">
                       <div class="input-group input-group-lg clockpicker ">
                          <input type="text" class="form-control" value="<%= day.start_time_in_format %>" name="sat_start_time" placeholder="Start Time">
                          <span class="input-group-addon">
                            <span class="fa fa-clock-o"></span>
                          </span>
                        </div>
                      </div>
                      <div class="col-xs-6">
                        <div class="input-group input-group-lg clockpicker ">
                          <input type="text" class="form-control" value="<%= day.end_time_in_format %>" name="sat_end_time" placeholder="End Time">
                          <span class="input-group-addon">
                            <span class="fa fa-clock-o"></span>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div> 
              <% else %>
              <!-- For Saturday -->
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-1">
                  <div class="cs-checkbox m-b">
                    <%= check_box_tag :sat, "saturday" %> 
                    <label for="sat">Saturday</label>
                  </div>
                  </div>
                  <div class="col-sm-5">
                    <div class="row">
                      <div class="col-xs-6">
                       <div class="input-group input-group-lg clockpicker ">
                          <input type="text" class="form-control" placeholder="Start Time" name="sat_start_time">
                          <span class="input-group-addon">
                            <span class="fa fa-clock-o"></span>
                          </span>
                        </div>
                      </div>
                      <div class="col-xs-6">
                        <div class="input-group input-group-lg clockpicker ">
                          <input type="text" class="form-control" placeholder="End Time" name="sat_end_time">
                          <span class="input-group-addon">
                            <span class="fa fa-clock-o"></span>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div> 
              <% end %>

              <% if @days.where(day: "Sunday").present? %>
              <% day = @days.where(day: "Sunday").first %>
               <!-- For Sunday -->
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-1">
                  <div class="cs-checkbox m-b">
                    <%= check_box_tag :sun,"sunday", true %> 
                    <label for="sun">Sunday</label>
                  </div>
                  </div>
                  <div class="col-sm-5">
                    <div class="row">
                      <div class="col-xs-6">
                        <div class="input-group input-group-lg clockpicker ">
                          <input type="text" class="form-control" value="<%= day.start_time_in_format %>" name="sun_start_time" placeholder="Start Time">
                          <span class="input-group-addon">
                            <span class="fa fa-clock-o"></span>
                          </span>
                        </div>
                      </div>
                      <div class="col-xs-6">
                        <div class="input-group input-group-lg clockpicker ">
                          <input type="text" class="form-control" value="<%= day.end_time_in_format %>" name="sun_end_time" placeholder="End Time">
                          <span class="input-group-addon">
                            <span class="fa fa-clock-o"></span>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div> 
              <% else %>
                             <!-- For Sunday -->
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-1">
                  <div class="cs-checkbox m-b">
                    <%= check_box_tag :sun, "sunday" %> 
                    <label for="sun">Sunday</label>
                  </div>
                  </div>
                  <div class="col-sm-5">
                    <div class="row">
                      <div class="col-xs-6">
                        <div class="input-group input-group-lg clockpicker ">
                          <input type="text" class="form-control" placeholder="Start Time" name="sun_start_time">
                          <span class="input-group-addon">
                            <span class="fa fa-clock-o"></span>
                          </span>
                        </div>
                      </div>
                      <div class="col-xs-6">
                        <div class="input-group input-group-lg clockpicker ">
                          <input type="text" class="form-control" placeholder="End Time" name="sun_end_time">
                          <span class="input-group-addon">
                            <span class="fa fa-clock-o"></span>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div> 
              <% end %>

            </div>
            <div class="row">
              <div class="col-sm-1">
              </div>
              <div class="col-sm-3">
                <h5>Note to Doctor</h5>
                <p><strong>1. </strong>If your availability time is from 11pm to 2am, you would have to set 11pm to 12am for one day, and 12am to 2 am for the next day.</p> <br />
                <p><strong>2. </strong>You can change your personal settings and set your bio data, experience and education by right clicking on the top right corner and clicking on settings </p>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer no-border">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         <%= submit_tag "Submit",class:"btn btn-primary " %>
        </div>
      </div>
    </div>
          
          
<% end %>

