<%= form_tag add_new_picture_doctor_path(current_doctor)  ,role: "form",method: :post, id:"form", :multipart => true do %>
     <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Change Picture</h4>
        </div>
        <div class="modal-body">
          <div class="container">
            <% if true %>
              <div clas="row">
              </div>
              <div class="row">
                <div class="col-sm-1">
                </div>
                <div class="col-sm-4">
                  <div class="card bg-white">
                    <div class="card-block">
                      <h4 class="card-title">Your previous Profile Picture</h4>
                    </div>
                    <img class="card-img-bottom img-responsive" src="<%= current_doctor.document.image if current_doctor.document.present? %>" alt="No Image Present">
                  </div>
                </div>
              </div>
              <% end %> 
            <div class="row">
              <div class="form-group">
                <div class="row">
                <label for="label-me" class="col-sm-1 control-label">
                  Select Picture
                </label>
                <div class="col-sm-4">
                  <%= file_field_tag :image, class: "form-control m-b" %> 
                </div>
                </div>
              </div> 
            </div>
          </div>
        </div>
        <div class="modal-footer no-border">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         <%= submit_tag "Update Profile Picture",class:"btn btn-primary " %>
        </div>
      </div>
    </div>
          
          
<% end %>
