<%= form_tag add_new_condition_doctor_path(current_doctor)  ,role: "form",method: :post, id:"form" do %>
     <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Add Conditions</h4>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="form-group">
                <div class="row">
                <label for="label-me" class="col-sm-2 control-label">
                  Condition
                </label>
                <div class="col-sm-3">
                  <select name="conditions[]" multiple class="select2" style="width: 100%;">
                    <% @conditions.each do |condition| %>
                      <option value="<%= condition.id %>"><%= condition.title %></option>
                    <% end %>
                  </select>
                </div>
                </div>
              </div>         
            </div>
          </div>
        </div>
        <div class="modal-footer no-border">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         <%= submit_tag "Submit",class:"btn btn-primary " %>
        </div>
      </div>
    </div>
<% end %>