<!-- main area -->
       <div class="main-content">
        <div class="page-title">
          <div class="title">Dashboard</div>
        </div>  
        <h3>Deal with Patients </h3>  
        <div class="row">
          <div class="col-sm-6">
            <div class="card card-block bg-white">
              <h4 class="card-title">Patients</h4>
              <% if flash[:success].present? %> 
                <div class="alert alert-success">
                  <%= flash[:success] %>
                </div>
              <% elsif flash[:error].present? %>
                <div class="alert alert-error">
                  <%= flash[:error] %>
                </div>
              <% end %>
              <p class="card-text" id="teacher_box">
                <br/>
                <%= link_to new_patient_path,  class: "btn btn-primary ",  remote: true do %>
                            <i class="fa fa-eye"></i> Add new Patient
                <% end %>

              </p>                              
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card card-block bg-white">
              <h4 class="card-title">Presciption</h4>
              <% if flash[:success_prescription].present? %> 
                <div class="alert alert-success">
                  <%= flash[:success_prescription] %>
                </div>
              <% elsif flash[:error_prescription].present? %>
                <div class="alert alert-error">
                  <%= flash[:error_prescription] %>
                </div>
              <% end %>
              <p class="card-text" id="teacher_box">
                <br/>
                <%= link_to new_prescription_doctor_path(current_doctor),  class: "btn btn-primary ",  remote: true do %>
                            <i class="fa fa-eye"></i> Add new Prescription
                <% end %>

              </p>                              
            </div>
          </div>
        </div>
        <h3>Manage your appointments </h3>  
        <div class="row">
          <div class="col-sm-6">
            <div class="card card-block bg-white">
              <h4 class="card-title">Make Appointments or Mark Unavailability</h4>
              <% if flash[:success_appointment].present? %> 
                <div class="alert alert-success">
                  <%= flash[:success_appointment] %>
                </div>
              <% elsif flash[:error_appointment].present? %>
                <div class="alert alert-error">
                  <%= flash[:error_appointment] %>
                </div>
              <% end %>
              <p class="card-text" id="teacher_box">
                <br/>
                <%= link_to new_appointment_doctor_path(current_doctor), class: "btn btn-primary ", "data-toggle" =>"modal",  "data-target" => ".bs-modal-lg", remote: true do %>
                  <i class="fa fa-plus"></i> Add new Appointment
                <% end %> 
                <br /> <br />
                <%= link_to appointments_doctor_path(current_doctor), class: "btn btn-primary " do %>
                  <i class="fa fa-plus"></i> See All Appointments
                <% end %>
                <br /> <br />
                <%= link_to new_stub_appointment_doctor_path(current_doctor), class: "btn btn-primary ", "data-toggle" =>"modal",  "data-target" => ".bs-modal-lg", remote: true do %>
                  <i class="fa fa-plus"></i> Mark Slots Unavailable
                <% end %>
              </p>                              
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card card-block bg-white">
              <h4 class="card-title">Appointment Settings</h4>
              <p class="card-text" id="teacher_box">
                <br/>
                <%= link_to availability_settings_doctor_path(current_doctor),  class: "btn btn-primary",  remote: true do %>
                            <i class="fa fa-eye"></i> Set Availability Details
                <% end %>
              </p>                              
            </div>
          </div>
        </div>
        <h3>Edit your Profile</h3>  
        <div class="row">
          <div class="col-sm-6">
            <div class="card card-block bg-white">
              <h4 class="card-title">Add New Speciality</h4>
              <% if flash[:success_speciality].present? %> 
                <div class="alert alert-success">
                  <%= flash[:success_speciality] %>
                </div>
              <% end %>
              <p class="card-text" id="teacher_box">
                <%= link_to specialities_doctor_path(current_doctor) do %>
                    <strong>Show my Specialities</strong>
                <% end %>
                <br/><br/>
                 <%= link_to add_speciality_doctor_path(current_doctor), class: "btn btn-primary ", remote: true do %>
                            <i class="fa fa-eye"></i> Add new Speciality
                <% end %>
              </p>
            </div>
          </div>
        </div>
      <!-- /main area -->
      
  <div class="modal bs-modal-lg" tabindex="-1" role="dialog" aria-hidden="true"></div>

  <script type="text/javascript">

      function getFreeSlots(id){
        var date = document.getElementById("magic_date").value;
        if (date == null || date == ""){
          generateError("Please Select a Date First");
          return; 
        }
        else{
          getSlots(id);
        }
      }
      function getSlots(id){
        var data = document.getElementById("magic_date").value;
        var path = "/public/get_slots?date="+data+"&doctor_id="+id;
        jQuery.ajax({url: path,
         dataType: 'json',
         success: function(result){
          console.log(result)
          evaluate(result);
        }});
      }

      function evaluate(result){
        var html;

        if (result == null || result.length == 0){
          generateError(null);
          return;
        }
        html = "<select id='slots_select' multiple required='required' name='selected_slot' style='width: 279px;' class='form-control'>";
        for (i = 0; i < result.length; i++){
          var temp = "<option value='" + result[i] + "'>" + result[i] + "</option>";
          html += temp;
        }
        html += "</select>";
        document.getElementById("empty_slots").innerHTML = html;
        jQuery('#slots_select').popSelect({
          showTitle: false,
          placeholderText: 'Click to Select your appointment slot',
          position: 'bottom',
          maxAllowed: 1
        });
      }
      function generateError(message){
        console.log(message);
        if (message == null){
          var html = "<div class='alert alert-danger'><strong>Oops! </strong> The doctor has no available slots on the selected day.</div>";
        }
        else{
          var html = "<div class='alert alert-danger'><strong>Oops! </strong>" + message + "</div>"; 
        }
        document.getElementById("empty_slots").innerHTML = html;
      }
    </script>