
<% content_for :foot do %> 


<script src="/scripts/select2.min.js"></script>
<script src="/vendor/moment/min/moment.min.js"></script>
<script src="/vendor/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="/vendor/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
<script src="/vendor/clockpicker/dist/jquery-clockpicker.min.js"></script>
<script src="/vendor/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>

<% end %>