  <div class="form-group">
    <div class="row"> 
    <%= label_tag "","Name", class: "col-sm-2 control-label" %>
      <div class="col-sm-3">
        <span class="input input--success m-b-md">
          <%= text_field_tag 'name', "", class: "input__field form-control", required: "" %>
          <label class="input__label" for="input-3">
            <span class="input__label-content">Please enter Doctor's Name</span>
        </label>
        </span>
        <div class="help-block with-errors"></div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <%= label_tag "","Gender", class: "col-sm-2 control-label" %>
        <div class="col-sm-3">
       <%= select_tag 'gender', options_for_select([['Male',1],['Female',2]]), class: "form-control cs-select", required: "", id: "gender"%>
      </div>
      
    </div>
  </div>  

  <div class="form-group">
    <div class="row">
     <label  class="col-sm-2 control-label">Date Of Birth</label>
        <div class="col-sm-3">
          <%= text_field_tag :date_of_birth, "", class: "form-control m-b", "data-provide" => "datepicker" %> 
        </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row"> 
    <%= label_tag "","Email", class: "col-sm-2 control-label" %>
      <div class="col-sm-3">
        <span class="input input--success m-b-md">
          <%= email_field_tag 'email', "", class: "input__field form-control", required: "" %>
          <label class="input__label" for="input-3">
            <span class="input__label-content">Please enter Doctor's Email</span>
        </label>
        </span>
        <div class="help-block with-errors"></div>
      </div>
  </div>
  </div>
 <div class="form-group">
    <div class="row"> 
    <%= label_tag "","Password", class: "col-sm-2 control-label" %>
      <div class="col-sm-3">
        <span class="input input--success m-b-md">
          <%= password_field_tag 'password', "", class: "input__field form-control", required: "" %>
          <label class="input__label" for="input-3">
            <span class="input__label-content">Please enter Doctor's Password</span>
        </label>
        </span>
        <div class="help-block with-errors"></div>
      </div>
  </div>
  </div>
  <div class="form-group">
  <div class="row"> 
    <%= label_tag "","Phone", class: "col-sm-2 control-label" %>
      <div class="col-sm-3">
        <span class="input input--success m-b-md">
          <%= text_field_tag 'phone', "", class: "input__field form-control", "data-minlength" => "10", required:"" %>
          <label class="input__label" for="input-3">
            <span class="input__label-content">Please enter Doctor's Contact Number</span>
        </label>
        </span>
        <div class="help-block with-errors"></div>
      </div>
    </div>
</div>
<div class="form-group">
    <div class="row"> 
    <%= label_tag "","Longitude", class: "col-sm-2 control-label" %>
      <div class="col-sm-3">
        <span class="input input--success m-b-md">
          <%= number_field_tag 'long', "", class: "input__field form-control", required: "" %>
          <label class="input__label" for="input-3">
            <span class="input__label-content">Please enter Doctor's Longitudes</span>
        </label>
        </span>
        <div class="help-block with-errors"></div>
      </div>
  </div>
  </div>
  <div class="form-group">
    <div class="row"> 
    <%= label_tag "","Latitude", class: "col-sm-2 control-label" %>
      <div class="col-sm-3">
        <span class="input input--success m-b-md">
          <%= number_field_tag 'lat', "", class: "input__field form-control", required: "" %>
          <label class="input__label" for="input-3">
            <span class="input__label-content">Please enter Doctor's Latitudes</span>
        </label>
        </span>
        <div class="help-block with-errors"></div>
      </div>
  </div>
  </div>
 <div class="form-group">
    <div class="row"> 
    <%= label_tag "","Address", class: "col-sm-2 control-label" %>
      <div class="col-sm-3">
        <span class="input input--success m-b-md">
          <%= text_field_tag 'address', "", class: "input__field form-control", required: "" %>
          <label class="input__label" for="input-3">
            <span class="input__label-content">Please enter Doctor's Address</span>
        </label>
        </span>
        <div class="help-block with-errors"></div>
      </div>
  </div>
  </div>


<script type="text/javascript">
  
function check(){
  $.ajax(
  {
    url: "/api/check_unique_roll_no",
    data: {roll: $("#rollNumber").val() },
    datatype: "json",
    success: function(result){
      console.log(result);
    if(result=="true")
      return true;
    else
      return false;
    }
  });
}

</script>
<% content_for :foot do %>


<script type="text/javascript">
$(document).ready(function(){ $(document).on('click', ".add_another_contact", function(e){
     var target = $(e.target);
     target.removeClass('add_another_contact');
     target.removeClass('btn-primary');
     target.addClass('btn-danger');
     target.addClass('remove_section');
     target.html('x');
     var div = '<div class="form-group"> \
                <div class="row">  \
                 <label class="col-sm-2 control-label">Alternate Contact</label>  \
                 <div class="input-group m-b col-sm-3"> \
                    <input type="text" name="contacts[]" placeholder="Enter Contact" class="form-control br0 valid" required="required" aria-required="true" aria-invalid="false"> \
                    <span class="input-group-btn"> \
                      <button class="btn btn-primary add_another_contact" type="button">Add </button> \
                      </span> \
                    </div> \
                    <div class="help-block with-errors"></div> \
                  </div> \
              </div>'

     $('.contacts_div').append(div);
    })});
</script>
<% end %>