
 <% action_hash = { 'new' => 'create', 'edit' => 'update' } %>
<%= form_for(@doctor, url: { controller: 'doctors', action: "#{action_hash[params[:action]]}" }, remote: true) do |f| %>

<div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <% if @doctor.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@doctor.errors.count, "error") %> prohibited this student from being saved:</h2>

                  <ul>
                  <% @doctor.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                  </ul>
                </div>
              <% end %>
          <h4 class="modal-title">New Doctor</h4>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <%= render :partial => 'form_fields', :locals => {:f => f} %>          
            </div>
          </div>
        </div>
        <div class="modal-footer no-border">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.submit "Add", class: "btn btn-primary"%>
        </div>
      </div>
    </div>
  <% end %> 

  
<script src="/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>