<div class="app layout-fixed-header">
 <div class="sidebar-panel offscreen-left">
      <div class="brand">
        <!-- toggle offscreen menu -->
        <div class="toggle-offscreen">
          <a href="javascript:;" class="visible-xs hamburger-icon" data-toggle="offscreen" data-move="ltr">
            <span></span>
            <span></span>
            <span></span>
          </a>
        </div>
        <!-- /toggle offscreen menu -->
        <!-- logo -->
        <a class="brand-logo">
          <span>Easycare.pk</span>
        </a>
        <a href="#" class="small-menu-visible brand-logo">EC</a>
        <!-- /logo -->
      </div>
      <ul class="quick-launch-apps hide">
        <li>
          <a href="apps-gallery.html">
            <span class="app-icon bg-danger text-white">
            G
            </span>
            <span class="app-title">Gallery</span>
          </a>
        </li>
        <li>
          <a href="apps-messages.html">
            <span class="app-icon bg-success text-white">
            M
            </span>
            <span class="app-title">Messages</span>
          </a>
        </li>
        <li>
          <a href="apps-social.html">
            <span class="app-icon bg-primary text-white">
            S
            </span>
            <span class="app-title">Social</span>
          </a>
        </li>
        <li>
          <a href="apps-travel.html">
            <span class="app-icon bg-info text-white">
            T
            </span>
            <span class="app-title">Travel</span>
          </a>
        </li>
      </ul>
      <!-- main navigation -->
      <nav role="navigation">
        
        <ul class="nav">
          <!-- dashboard -->
          <li>
            <%= link_to dashboard_doctors_path do %>
                <i class="fa fa-dashboard"></i>
                <span>Dashboard</span>
            <% end %>
          </li>
          <li>
            <%= link_to patients_doctor_path(current_doctor) do %>
                <i class="fa fa-dashboard"></i>
                <span>Patients</span>
            <% end %>
          </li>
          <li>
            <%= link_to appointments_doctor_path(current_doctor) do %>
                <i class="fa fa-dashboard"></i>
                <span>Appointments</span>
            <% end %>
          </li>
          <li>
            <%= link_to prescriptions_doctor_path(current_doctor) do %>
                <i class="fa fa-dashboard"></i>
                <span>Prescriptions</span>
            <% end %>
          </li>
          <li>
            <%= link_to procedures_doctor_path(current_doctor) do %>
                <i class="fa fa-dashboard"></i>
                <span>Procedures</span>
            <% end %>
          </li>
          <li>
            <%= link_to specialities_doctor_path(current_doctor) do %>
                <i class="fa fa-dashboard"></i>
                <span>Specialities</span>
            <% end %>
          </li>
          <li>
            <%= link_to conditions_doctor_path(current_doctor) do %>
                <i class="fa fa-dashboard"></i>
                <span>Conditions</span>
            <% end %>
          </li>
          <!-- /dashboard -->
          <!-- cards -->
         
          <!-- /cards -->
        </ul>
      </nav>
      <!-- /main navigation -->
    </div>
    <!-- /sidebar panel -->
  <!-- content panel -->
    <div class="main-panel">
      <!-- top header -->
      <div class="header navbar">
        <div class="brand visible-xs">
          <!-- toggle offscreen menu -->
          <div class="toggle-offscreen">
            <a href="javascript:;" class="hamburger-icon visible-xs" data-toggle="offscreen" data-move="ltr">
              <span></span>
              <span></span>
              <span></span>
            </a>
          </div>
          <!-- /toggle offscreen menu -->
          <!-- logo -->
          <a class="brand-logo">
            <span>EASYCARE</span>
          </a>
          <!-- /logo -->
        </div>
        <ul class="nav navbar-nav hidden-xs">
          <li>
            <a href="javascript:;" class="small-sidebar-toggle ripple" data-toggle="layout-small-menu">
              <i class="icon-toggle-sidebar"></i>
            </a>
          </li>
         <!--  <li class="searchbox">
            <a href="javascript:;" data-toggle="search">
              <i class="search-close-icon icon-close hide"></i>
              <i class="search-open-icon icon-magnifier"></i>
            </a>
          </li> -->
          <li class="navbar-form search-form hide">
            <input type="search" class="form-control search-input" placeholder="Start typing...">
            
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="">
            <a href="javascript:;" class="ripple" data-toggle="dropdown" aria-expanded="false">
              <i class="icon-bell"></i> Notifications <%= '<span class="label label-success">New</span>'.html_safe if @message.present? %>
            </a>
            <ul class="dropdown-menu notifications">
              <li class="notifications-header">
                <p class="text-muted small"><%= "New Notifications" if @message.present? %></p>
                <p class="text-muted small"><%= "No New Notifications" if !@message.present? %></p>
              </li>
              <li>
                <ul class="notifications-list">
                  <% if @message.present? %>
                  <% @message.each do |m| %>
                  <li>
                    <a href="<%= (via_n_appointments_doctor_path(current_doctor)) if m.include? 'new appointments' %>">
                      <div class="notification-icon">
                        <div class="circle-icon bg-primary text-white">
                          <i class="icon-bell"></i>
                        </div>
                      </div>
                      <span class="notification-message"><b><%= m %></b></span>
                      
                    </a>
                  </li>
                  <% end %>
                  <% end %>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <a href="javascript:;" class="ripple" data-toggle="dropdown">
              <img src="<%= current_doctor.document.image if current_doctor.document.present? %>" class="hidden-xs header-avatar img-circle" alt="user" title="user"> &nbsp;
              <span class="hidden-xs"><%= current_doctor.name %></span>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
             <li>
                <a href="<%= settings_doctor_path(current_doctor) %>" >Settings</a>
              </li>
              <li>
                <%= link_to "Log out", "/", :method => :get %>              
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- /top header -->
   
