<%= form_tag mark_appointment_paid_doctor_path(current_doctor), role: "form",method: :post, id:"form" do %>
     <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Mark Appointment Paid</h4>
          <div id="form-error" ></div>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="form-group">
                <div class="row">
                <label for="label-me" class="col-sm-2 control-label">
                  Amount
                </label>
                <div class="col-sm-3">
                <%= text_field_tag :note, @tranzaction.amount, "class" => "form-control", "disabled" => "true", required: true %>
                 <div class="help-block with-errors red-color">
                  </div>
                </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                <label for="label-me" class="col-sm-2 control-label">
                  Note
                </label>
                <div class="col-sm-3">
                <%= text_area_tag :note, "", "class" => "form-control", "placeholder" => "Write a Note about this Transacaction for example Mark paid $20 on Aug 11, 2002", "rows" => "4", required: true %>
                 <div class="help-block with-errors red-color">
                  </div>
                </div>
                </div>
                </div>
                <%= hidden_field_tag :tranzaction_id, @tranzaction.id %>
              </div>        
            </div>
          </div>
        <div class="modal-footer no-border">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         <%= submit_tag "Submit",class:"btn btn-primary " %>
        </div>
      </div>
        </div>
    
          
          
<% end %>
