 <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h4 class="modal-title">Prescription Details</h4>
      <h5 >Medicines List</h5>
    </div>
    <div class="modal-body">
      <div class="container">
        <div class="row">
          <div class="form-group">
            <div class="row">
             <label  class="col-sm-2 control-label">Prescription Id</label>
                <div class="col-sm-3">
                  <%= text_field_tag :name, @prescription.id, class: "form-control m-b", disabled: true %> 
                </div>
            </div>
          </div>
          <hr />
          <% @medicines.each do |medicine| %>
          <div class="form-group">
            <div class="row">
             <label  class="col-sm-2 control-label">Medicine Name</label>
                <div class="col-sm-3">
                  <%= text_field_tag :name, medicine.name, class: "form-control m-b", disabled: true %> 
                </div>
            </div>
          </div>
          <% end %>
          <div class="form-group">
            <div class="row">
             <label  class="col-sm-2 control-label">More Details</label>
                <div class="col-sm-3">
                  <%= text_area_tag :name, @prescription.note, class: "form-control m-b", disabled: true, rows: 3 %> 
                </div>
            </div>
          </div>   
        </div>
      </div>
    </div>
    <div class="modal-footer no-border">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
      
