<div class="row">
  <div class="col-sm-3">
    <div class="card card-block bg-white">
      <h4 class="card-title">New Procedure</h4>
      <p class="card-text" id="teacher_box">
        <br/>
        <%= link_to add_procedure_doctor_path(current_doctor), class: "btn btn-primary ", remote: true do %>
                    <i class="fa fa-eye"></i> Add new procedure
        <% end %>
      </p>                              
    </div>
  </div>
</div>

<div class="card bg-white">
  <div class="card-header">
    Procedures
  </div>
  <div class="card-block">
    <table class="table table-bordered table-striped datatable editable-datatable responsive align-middle bordered">
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <% @procedures.each do |procedure| %>
          <tr>
            <td><%= procedure.title %></td>
            <td><%= procedure.description %></td>
            <td>Add Delete Button</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
