
<div class="main-content">
  <div class="page-title">
    <div class="title">Profile Settings</div>
    
  </div>
  <div class="row">
  	<div class="col-md-12">
  		<% if flash[:success].present? %>
  			<div class="alert alert-success"><%= flash[:success] %></div>
  		<% end %>
  	</div>
  </div>

  <div class="card bg-white">
    <div class="card-header text-lg-center">
      Manage your profile
    </div>
    <div class="card-block">
      <div class="row m-a-0">
        <div class="col-lg-6">
          <%= form_tag update_information_doctor_path(current_doctor), class:"form-horizontal", role: "form", method: :post, id:"form", "autocomplete" => "off", :multipart => true do %>
            <div class="form-group">
              <label class="col-sm-2 control-label">Specialization</label>
              <div class="col-sm-8">
                <%= text_field_tag :title_education, current_doctor.title_education, "placeholder" => "For eg. Dentist, Psychiatrist etc. This will be displayed right below your name on your profile page.", class: "form-control m-b" %>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Bio</label>
              <div class="col-sm-8">
                <%= text_area_tag :bio, current_doctor.bio, "placeholder" => "Enter your Bio (max 100 words). This information will be displayed on your public profile.", class: "form-control m-b", "rows" => "5" %> 
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Education</label>
              <div class="col-sm-8">
                <%= text_area_tag :education, current_doctor.education, "placeholder" => "Share your Education History. This information will be displayed on your public profile.", class: "form-control m-b", "rows" => "5" %>
              </div>
            </div>
            
            <div class="form-group">
              <label class="col-sm-2 control-label">Experience</label>
              <div class="col-sm-8">
                <%= text_area_tag :experience, current_doctor.experience, "placeholder" => "Share your past experience. This information will be displayed on your public profile.", class: "form-control m-b", "rows" => "5" %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-10 text-lg-right">
                <%= submit_tag "Update Information",class:"btn btn-primary " %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="col-lg-6">
          <div class="card card-block bg-white">
              <h4 class="card-title">Update Profile Picture</h4>
              <p class="card-text" id="teacher_box">
                <br/>
                <%= link_to change_picture_doctor_path(current_doctor),  class: "btn btn-primary",  remote: true do %>
                            <i class="fa fa-eye"></i> Change Picture
                <% end %>
              </p>                              
            </div>
        </div>
      </div>
    </div>
  </div>
  
</div>
<div class="modal bs-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
</div>