
<%= form_tag add_new_stub_appointment_doctor_path(current_doctor), role: "form",method: :post, id:"form" do %>
<div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Mark Slot Unavailable</h4>
          <div id="form-error"></div>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
                <h4>Select the slot you want to mark as unavailable.</h4><br />
                  <div class="form-group">
                    <div class="row">
                     <label  class="col-sm-2 control-label">Date Of Slot</label>
                        <div class="col-sm-3">
                          <div class="input-group m-b">
                            <%= text_field_tag :appointment_date, "", class: "form-control br0", "id" => "magic_date", required: true %> 
                            <span class="input-group-btn">
                              <button class="btn btn-info" type="button" onclick="getFreeSlots2('<%= current_doctor.id %>');" >Show slots</button>
                            </span>
                          </div>
                          <div class="help-block with-errors red-color"></div>
                        </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="row">
                      <label  class="col-sm-2 control-label">Select Slot</label>
                    <div class="col-sm-4" id="empty_slots">
                    </div>
                    </div>
                  </div>          
            </div>
          </div>
        </div>
        <div class="modal-footer no-border">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= submit_tag "Mark Slot Busy", class: "btn btn-primary"%>
        </div>
      </div>
    </div>
  <% end %> 



  
