<% content_for :head do %>
  <%= render 'shared/header' %>
   <link rel="stylesheet" href="/vendor/clockpicker/dist/bootstrap-clockpicker.min.css">
<% end %>
  <%= render 'head_menu' %>

 <div class="main-content">
        <div class="page-title">
          <div class="title">Appointments</div>
          <div class="sub-title">Automated Appointments</div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="card card-block bg-white">
              <h4 class="card-title">Appointment Settings</h4>
              <p class="card-text" id="teacher_box">
                <br/>
                <%= link_to availability_settings_doctor_path(current_doctor),  class: "btn btn-primary",  remote: true do %>
                            <i class="fa fa-eye"></i> Set Availability Details
                <% end %>
              </p>                              
            </div>
          </div>
        </div>
        <%= render 'appointments_data_table' %>
      </div>



  
<%= render 'shared/footer' %>

<%= hidden_field_tag 'appointments_path', '/api/get_appointments'%>

<% content_for :foot do %>
   <script src="/vendor/clockpicker/dist/jquery-clockpicker.min.js"></script>
  <% end %>