$(".bs-modal-lg").html("<%= escape_javascript(render(partial: "availability_settings_form")) %>");
  $(".bs-modal-lg").modal('show');
   // Clockpicker
  $('.clockpicker').clockpicker({
      autoclose: true
  });

function isAfter(elA, elB) {
    return ($('*').index($(elA).last()) > $('*').index($(elB).first()));
}

function getNextInputField($ref){
 	var $inputs = $('input[type=text]');
 	for (var i = 0; i < $inputs.length; i++) {
	    if (isAfter($inputs[i], $ref)) {
	    	var nextInput = $inputs[i];
	        return nextInput;
	    }
	}
 }

function checkboxValidate(ref){
	var next = getNextInputField(ref);
	var next_to_next = getNextInputField(next);
	if ($(next).val() == "" || $(next_to_next).val() == "" ){
		//alert("chaipi");
		return false;
	}
	else {
		return true;
	}
}

function desiValidate(){
	var $inputs = $("input:checkbox:checked");
	for (var i = 0; i < $inputs.length; i++) {
		//alert($(this).val());
	    if (checkboxValidate($inputs[i]) == false){
	    	//alert("chaipi success");
	    	return false;
	    }
	}
	return true;
}

$("#form").validator().on('submit', function (e) {
	//alert(desiValidate());
  	if (e.isDefaultPrevented()) {
      $("#form-error").html("Please fill all fields");
      $("#form-error").addClass("alert alert-danger");
       return false;
    } 
    else if (!desiValidate()){
      	$("#form-error").html("Please input availability times of checked days");
      	$("#form-error").addClass("alert alert-danger");
      	return false;
    }
    else {
    	
        return true;
    }
  });

/*
$('input:checkbox').change(function(){
    if (this.checked){
    	//make fields required
    	//alert("checked");
    	var next = getNextInputField(this);
    	$(next).addClass("required");
    	next = getNextInputField(next);
    	$(next).addClass("required");
    }
    else{
    	//make fields not required
    	//alert("unchecked");
    	var next = getNextInputField(this);
    	$(next).removeClass("required");
    	$(next).val("");
    	next = getNextInputField(next);
    	$(next).removeClass("required");
    	$(next).val("");
    }
});
$(this).nextAll('input').first()
{
	disable: true,
	custom: {
		day: function ($el){
			if ($el.is(':checked')){
				if ($("#mon_start_time").val() == "" || $("#mon_end_time").val() == ""){
					return false;
				}
				else{
					return true;
				}
			}
			else{
				return true;
			}
		}
	},
	errors: {
		day: "Please add the 'start_time' and 'end_time' of the checked day"
	}
}*/



