<% content_for :head do %>
  <%= render 'shared/header' %>
<% end %>
<%= render 'head_menu' %>

<!-- main area -->
       <div class="main-content">
        <div class="page-title">
          <div class="title">Dashboard</div>
        </div>    
        <div class="row">
          <div class="col-sm-3">
            <div class="card card-block bg-white">
              <h4 class="card-title">New Condition</h4>
              <p class="card-text" id="teacher_box">
                <br/>
                <%= link_to new_condition_doctor_path(current_doctor),  class: "btn btn-primary ",  remote: true do %>
                            <i class="fa fa-eye"></i> Add new Condition
                <% end %>

              </p>                              
            </div>
          </div>
        </div>
        <div class="card bg-white">
		  <div class="card-header">
		    Conditions
		  </div>
		  <div class="card-block">
		    <table class="table table-bordered table-striped datatable editable-datatable responsive align-middle bordered">
		      <thead>
		        <tr>
		          <th>Title</th>
		          <th>Description</th>
		          <th>Delete</th>
		        </tr>
		      </thead>
		      <tbody>
		        <% @conditions.each do |condition| %>
		          <tr>
		            <td><%= condition.condition.title %></td>
		            <td><%= condition.condition.description %></td>
		            <td>Add Delete Button</td>
		          </tr>
		        <% end %>
		      </tbody>
		    </table>
		  </div>
		</div>
  
      <!-- /main area -->
      
  <div class="modal bs-modal-lg" tabindex="-1" role="dialog" aria-hidden="true"></div>
<%= render 'shared/footer' %>
