$(".bs-modal-lg").html("<%= escape_javascript(render(partial: "mark_paid_form")) %>");
  $(".bs-modal-lg").modal('show');

  $("#form").validator().on('submit', function (e) {
  if (e.isDefaultPrevented()) {
  $("#form-error").html("Please Input All Fields");
  $("#form-error").addClass("alert alert-danger");
    return false;
  } 
  else {
    return true;
  }
});