
      function getFreeSlots2(id){
        var date = document.getElementById("magic_date").value;
        if (date == null || date == ""){
          generateError("Please Select a Date First");
          return; 
        }
        else{
          getSlots2(id);
        }
      }
      function getSlots2(id){
        var data = document.getElementById("magic_date").value;
        var path = "/public/get_slots?date="+data+"&doctor_id="+id;
        jQuery.ajax({url: path,
         dataType: 'json',
         success: function(result){
          console.log(result)
          evaluate2(result);
        }});
      }

      function evaluate2(result){
        var html;

        if (result == null || result.length == 0){
          generateError(null);
          return;
        }
        html = "<select id='slots_select' multiple required='required' name='selected_slots[]' style='width: 279px;' class='form-control'>";
        for (i = 0; i < result.length; i++){
          var temp = "<option value='" + result[i] + "'>" + result[i] + "</option>";
          html += temp;
        }
        html += "</select>";
        document.getElementById("empty_slots").innerHTML = html;
        jQuery('#slots_select').popSelect({
          showTitle: false,
          placeholderText: 'Click to Select your appointment slot',
          position: 'bottom'
        });
      }


$(".bs-modal-lg").html("<%= escape_javascript(render(partial: "stub_appointment_form")) %>");
  $(".bs-modal-lg").modal('show');
  $('#magic_date').datepicker();
  $('.clockpicker').clockpicker({
    donetext: 'Done'
  });
(function () {
   // Clockpicker
// trim polyfill : https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/Trim
if (!String.prototype.trim) {
(function () {
  // Make sure we trim BOM and NBSP
  var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
  String.prototype.trim = function () {
    return this.replace(rtrim, '');
  };
})();
}
[].slice.call(document.querySelectorAll('input.input__field')).forEach(function (inputEl) {
// in case the input is already filled..
if (inputEl.value.trim() !== '') {
  classie.add(inputEl.parentNode, 'input--filled');
}
// events:
inputEl.addEventListener('focus', onInputFocus);
inputEl.addEventListener('blur', onInputBlur);
});

function onInputFocus(ev) {
classie.add(ev.target.parentNode, 'input--filled');
}

function onInputBlur(ev) {
if (ev.target.value.trim() === '') {
  classie.remove(ev.target.parentNode, 'input--filled');
}
}
})();
initPopups();

$("#form").validator().on('submit', function (e) {
  if (e.isDefaultPrevented()) {
  $("#form-error").html("Please Input all Fields");
  $("#form-error").addClass("alert alert-danger");
    return false;
  } 
  else {
    return true;
  }
});

 // Clockpicker
  $('.clockpicker').clockpicker({
    donetext: 'Done'
  });
