$(".bs-modal-lg").html("<%= escape_javascript(render(partial: "condition_form")) %>");
  $(".bs-modal-lg").modal('show');


$(".select2").select2({
placeholder: "Select a Procedure",
dropdownParent: $('.modal')
});
