$(".bs-modal-lg").html("<%= escape_javascript(render(partial: "appointments/form")) %>");
  $(".bs-modal-lg").modal('show');
  $('#magic_date').datepicker();
  $('.clockpicker').clockpicker({
    donetext: 'Done'
  });
(function () {
   // Clockpicker
// trim polyfill : https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/Trim
if (!String.prototype.trim) {
(function () {
  // Make sure we trim BOM and NBSP
  var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
  String.prototype.trim = function () {
    return this.replace(rtrim, '');
  };
})();
}
[].slice.call(document.querySelectorAll('input.input__field')).forEach(function (inputEl) {
// in case the input is already filled..
if (inputEl.value.trim() !== '') {
  classie.add(inputEl.parentNode, 'input--filled');
}
// events:
inputEl.addEventListener('focus', onInputFocus);
inputEl.addEventListener('blur', onInputBlur);
});

function onInputFocus(ev) {
classie.add(ev.target.parentNode, 'input--filled');
}

function onInputBlur(ev) {
if (ev.target.value.trim() === '') {
  classie.remove(ev.target.parentNode, 'input--filled');
}
}
})();
initPopups();

$("#new_appointment").validator().on('submit', function (e) {
  if (e.isDefaultPrevented()) {
  $("#form-error").html("Please Input All Fields");
  $("#form-error").addClass("alert alert-danger");
    return false;
  } 
  else {
    return true;
  }
});

 // Clockpicker
  $('.clockpicker').clockpicker({
    donetext: 'Done'
  });