<% content_for :head do %>
  <%= render 'shared/header' %>
<% end %>
  <%= render 'head_menu' %>

 <div class="main-content">
        <div class="page-title">
          <div class="title">Patients</div>
          <div class="sub-title">Patients Details</div>
        </div>    
        <%= render 'patients_data_table' %>
      </div>

<%= render 'shared/footer' %>
<%= hidden_field_tag 'patients_path', '/api/get_patients'%>