<% content_for :head do %>
  <%= render 'shared/header' %>
<% end %>
  <%= render 'head_menu' %>

 <div class="main-content">
        <div class="page-title">
          <div class="title">Presciptions</div>
          
        </div>    
        <%= render 'prescriptions_data_table' %>
      </div>
      <div class="modal bs-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">

<%= render 'shared/footer' %>

<%= render 'foot' %>
