   <div class="form-group">
    <div class="row">
      <%= label_tag "","Patient", class: "col-sm-2 control-label" %>
        <div class="col-sm-3">
       <%= select_tag 'patient', options_from_collection_for_select(current_doctor.patients,"id","name"), class: "form-control cs-select", required: "", id: "gender"%>
       <div class="help-block with-errors red-color"></div>
      </div>
    </div>
  </div>  

  <div class="form-group">
    <div class="row">
     <label  class="col-sm-2 control-label">Date Of Appointment</label>
        <div class="col-sm-3">
          <div class="input-group m-b">
            <%= text_field_tag :appointment_date, "", class: "form-control br0", "id" => "magic_date", required: true %> 
            <span class="input-group-btn">
              <button class="btn btn-info" type="button" onclick="getFreeSlots('<%= current_doctor.id %>');" >Show slots</button>
            </span>
          </div>
            <div class="help-block with-errors red-color"></div>
          
        </div>
    </div>
  </div>


  <div class="form-group">
    <div class="row">
      <label  class="col-sm-2 control-label">Select Slot</label>
    <div class="col-sm-4" id="empty_slots">
    </div>
    <div class="help-block with-errors red-color"></div>
    </div>
  </div>