 <% action_hash = { 'new_appointment' => 'create_appointment', 'edit_appointment' => 'update_appointment' } %>
<%= form_for(@appointment, url: create_appointment_doctors_path) do |f| %>

<div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <% if @appointment.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this student from being saved:</h2>

                  <ul>
                  <% @appointment.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                  </ul>
                </div>
              <% end %>
          <h4 class="modal-title">New Appointment</h4>
          <div id="form-error"></div>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <%= render :partial => 'appointments/form_fields', :locals => {:f => f} %>          
            </div>
          </div>
        </div>
        <div class="modal-footer no-border">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.submit "Add", class: "btn btn-primary"%>
        </div>
      </div>
    </div>
  <% end %> 



  
