<section>
      <div class="container pb-0">
        <div class="section-content">
          <div class="row multi-row-clearfix">
            <% @doctors.each do |doctor| %>
            <div class="col-sm-6 col-md-3 mb-60 sm-text-center" >
              <div class="team maxwidth400">
                <div class="thumb">
                  <% if doctor.document.present? %>
                  <img class="img-fullwidth" style="width:260px; height:260px;" src="<%= doctor.document.image %>" alt="">
                  <% else %>
                  <img class="img-fullwidth" style="width:260px; height:260px;" src="<%= doctor.get_default_image %>" alt="">
                  <% end %>
                </div>
                <div class="content border-1px p-15 bg-white-light">
                  <h4 class="name mb-0 mt-0"><%= 'Dr.' if doctor.name.first != 'D' %> <%= doctor.name %></h4>
                  <% if doctor.title_education.present? %>
                  <h6 class="title mt-0"><%= truncate(doctor.title_education, length: 35) %></h6>
                  <% else %>
                  <h6 class="title mt-0">-</h6>
                  <% end %>

                  <p class="mb-30">Click details button to see doctor's speciality, conditions and procedures</p>
                  <!--<p class="mb-30"><strong>Specialities </strong><%= doctor.get_specialities %></p>
                  <p class="mb-30"><strong>Performs </strong><%= doctor.get_procedures %></p>
                  <p class="mb-30"><strong>Treats </strong><%= doctor.get_conditions %></p> -->
                  <a class="btn btn-theme-colored btn-sm pull-right flip" href="<%= public_doctor_details_path(doctor_id: doctor.id) %>">View Details</a>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        </div>
        <%= will_paginate @doctors %>

      </div>
</section>
