<head>

<!-- Meta Tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<meta name="description" content="One Click Health Care" />
<meta name="keywords" content="building,business,construction,cleaning,transport,workshop" />
<meta name="author" content="Eunoia.tech" />
<meta property="og:url"           content="easycare.pk/public/doctor_details?doctor_id=<%= @doctor.id if @doctor.present? %>" />
<meta property="og:type"          content="website" />
<meta property="og:title"         content="<%= 'Dr.' if @doctor.present? && @doctor.name.first != 'D'  %> <%= @doctor.name if @doctor.present? %>" />
<meta property="og:description"   content="<%= truncate(@doctor.bio, length: 50) if @doctor.present? %>" />
<meta property="og:image"         content="easycare.pk<%= @doctor.get_image if @doctor.present? %>" />



<!-- Page Title -->
<title>EasyCare | One Click Health Care</title>

<!-- Favicon and Touch Icons -->
<link href="/frontend/favicon.ico" rel="shortcut icon" type="image/png">
<link href="/frontend/images/apple-touch-icon.png" rel="apple-touch-icon">
<link href="/frontend/images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
<link href="/frontend/images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
<link href="/frontend/images/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">

<!-- Stylesheet -->
<link href="/frontend/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="/frontend/css/jquery-ui.min.css" rel="stylesheet" type="text/css">
<link href="/frontend/css/animate.css" rel="stylesheet" type="text/css">
<link href="/frontend/css/css-plugin-collections.css" rel="stylesheet"/>
<!-- CSS | menuzord megamenu skins -->
<link id="menuzord-menu-skins" href="/frontend/css/menuzord-skins/menuzord-boxed.css" rel="stylesheet"/>
<!-- CSS | Main style file -->
<link href="/frontend/css/style-main.css" rel="stylesheet" type="text/css">
<!-- CSS | Preloader Styles -->
<link href="/frontend/css/preloader.css" rel="stylesheet" type="text/css">
<!-- CSS | Custom Margin Padding Collection -->
<link href="/frontend/css/custom-bootstrap-margin-padding.css" rel="stylesheet" type="text/css">
<!-- CSS | Responsive media queries -->
<link href="/frontend/css/responsive.css" rel="stylesheet" type="text/css">
<!-- CSS | Style css. This is the file where you can place your own custom css code. Just uncomment it and use it. -->
<!-- <link href="css/style.css" rel="stylesheet" type="text/css"> -->

<!-- Revolution Slider 5.x CSS settings -->
<link  href="/frontend/js/revolution-slider/css/settings.css" rel="stylesheet" type="text/css"/>
<link  href="/frontend/js/revolution-slider/css/layers.css" rel="stylesheet" type="text/css"/>
<link  href="/frontend/js/revolution-slider/css/navigation.css" rel="stylesheet" type="text/css"/>

<!-- CSS | Theme Color -->
<link href="/frontend/css/colors/theme-skin-blue.css" rel="stylesheet" type="text/css">

<link href="/styles/jquery.popSelect.css" rel="stylesheet" />
<link rel="stylesheet" href="/vendor/select2/dist/css/select2.css">

<!-- external javascripts -->
<script src="/frontend/js/jquery-2.2.0.min.js"></script>
<script src="/frontend/js/jquery-ui.min.js"></script>
<script src="/frontend/js/bootstrap.min.js"></script>
<!-- JS | jquery plugin collection for this theme -->
<script src="/frontend/js/jquery-plugin-collection.js"></script>

<!-- Revolution Slider 5.x SCRIPTS -->
<script src="/frontend/js/revolution-slider/js/jquery.themepunch.tools.min.js"></script>
<script src="/frontend/js/revolution-slider/js/jquery.themepunch.revolution.min.js"></script>

<style type="text/css">
	.modal-backdrop{
	  opacity:0; transition:opacity .2s;
	}
	.modal-backdrop.in{
	  opacity:.7;
	}
	/*li:before {
    Using a Bootstrap glyphicon as the bullet point
    content: "\e080";
    font-family: 'Glyphicons Halflings';
    font-size: 9px;
    float: left;
    margin-top: 4px;
    margin-left: -17px;
    color: #CCCCCC;
	}
	li {
		margin-left: 10px;
	}*/

</style>

</head>