<footer id="footer" class="footer pb-0 bg-black-111">
    <div class="container pb-20">
      <div class="row multi-row-clearfix">
        <div class="col-sm-6 col-md-3">
          <div class="widget dark"> <img alt="" src="/images/new_logo.png">
            <p class="font-12 mt-10 mb-10">Easycare is an online portal to facilitte your health.</p>
            <a class="btn btn-default btn-transparent btn-xs btn-flat mt-5" href="<%= public_about_path %>">Read more</a>
            <ul class="social-icons icon-sm icon-bordered icon-circled clearfix mt-20">
              <li><a href="https://www.facebook.com/easycare.pk" target="_blank"><i class="fa fa-facebook"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="widget dark">
            <h5 class="widget-title line-bottom">More about us</h5>
            <ul class="list-border list theme-colored angle-double-right">
              <li><a href="<%= public_about_path %>">About</a></li>
              <li><a href="/public/privacy">Privacy Policy</a></li>
              <li><a href="/public/terms_and_conditions">Terms and Conditions</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-nav bg-black-222 p-20">
      <div class="row text-center">
        <div class="col-md-12">
          <p class="text-white font-11 m-0">
                            &nbsp;Copyright 2016 - <strong>EasyCare.pk</strong> powered by
                            <a href="http://eunoia.tech">Eunoia</a>
                        </p>
        </div>
      </div>
    </div>
  </footer>