<div class="group container">
            <div class="row" id="logo-headersidebar-container">
                <!-- START LOGO -->
                <div id="logo" class="span6 group">
                    <a id="logo-img" href="/" title="Easy Care">
                        <img src="/users/logo1.png" title="Easy Care" alt="Easy Care" width="80px;" />

                    </a>
                    <p id='tagline'>One Click Health Care <small> (Beta)</small></p>
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- Easycare -->
                    <ins class="adsbygoogle"
                         style="display:inline-block;width:728px;height:90px"
                         data-ad-client="ca-pub-2346157303418774"
                         data-ad-slot="1748166848"></ins>
                    <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
                <!-- END LOGO -->
                
                <div id="header-sidebar" class="span6 group">
                    <div class="widget-first widget ">
                            <h2 style="color:white;">Facilitating Your Treatment</h2>
                    </div>
                    <div class="widget-last widget widget_text">

                    </div>
                </div>
                
                <script type="text/javascript">
                    google_ad_client = "ca-pub-1936565111656561";
                    google_ad_slot = "1407298333";
                    google_ad_width = 728;
                    google_ad_height = 90;
                </script>
                <!-- top bar -->
                <script type="text/javascript"
                src="//pagead2.googlesyndication.com/pagead/show_ads.js">
                </script>
            </div>
        </div>
        <div class="span3"></div>
        <div class="span6"> 
            <% if flash[:alert].present? %>
               <div class="box success-box" id="notice">
                    <%= flash[:alert] %>
                </div>

                <script type="text/javascript">
                jQuery(document).ready(function(){
                    jQuery("#notice").delay(5000).slideUp('slow');
                })
                </script>
            <% elsif flash[:error].present? %>
                <div class="box error-box" id="notice2">
                    <%= flash[:error] %>
                </div>

                <script type="text/javascript">
                jQuery(document).ready(function(){
                    jQuery("#notice2").delay(5000).slideUp('slow');
                })
                </script>
            <% elsif flash[:announcement].present? %>
               <div class="box info-box" id="notice">
                    <%= flash[:announcement] %>
                </div>
            <% end %>
        </div>