<div class="group container">
            <div class="row" id="logo-headersidebar-container">
                <!-- START LOGO -->
                <div id="logo" class="span6 group">
                    <a id="logo-img" href="/" title="Easy Care">
                        <img src="/users/logo1.png" title="Easy Care" alt="Easy Care" width="80px;" />
                    </a>
                    <p id='tagline'>One Click Health Care</p>
                </div>
                <!-- END LOGO -->
                

                <!-- START HEADER SIDEBAR -->
                <div id="header-sidebar" class="span6 group">
                    <div class="widget-first widget header-text-image">
                        <div class="text-image" style="text-align:left">
                            <img src="/users/images/phone1.png" alt="CUSTOMER SUPPORT" />
                        </div>

                        <div class="text-content">
                            <h3>CUSTOMER SUPPORT</h3>
                            <p>0324 - 4440654</p>
                        </div>
                    </div>

                    <div class="widget-last widget widget_text">
                        <div class="textwidget">
                            <div class="socials-default-small facebook-small default">
                                <a href="https://www.facebook.com/Easy-Care-1296524673695043" target="_blank" class="socials-default-small default facebook" >facebook</a>
                            </div>

                            <div class="socials-default-small twitter-small default">
                                <a href="https://twitter.com/easycare_pk" class="socials-default-small default twitter"  target="_blank">twitter</a>
                            </div>

                         </div>

                    </div>
                </div>
                <script type="text/javascript">
                    google_ad_client = "ca-pub-1936565111656561";
                    google_ad_slot = "1407298333";
                    google_ad_width = 728;
                    google_ad_height = 90;
                </script>
                <!-- top bar -->
                <script type="text/javascript"
                src="//pagead2.googlesyndication.com/pagead/show_ads.js">
                </script>
            </div>
        </div>
        <div class="span3"></div>
        <div class="span6"> 
            <% if flash[:alert].present? %>
               <div class="box success-box" id="notice">
                    <%= flash[:alert] %>
                </div>

                <script type="text/javascript">
                jQuery(document).ready(function(){
                    jQuery("#notice").delay(5000).slideUp('slow');
                })
                </script>
            <% end %>
        </div>