<div id="map" class= "bg-theme-colored p-25" style="height: 450px; width: 100%; "></div>
  <script>

      // The following example creates a marker in Stockholm, Sweden using a DROP
      // animation. Clicking on the marker will toggle the animation between a BOUNCE
      // animation and no animation.

      var marker;
      var map;
      var index = 0; 
      var markers_array = Array();
      var infowindow = [];
      var positions = [<% for i in 0..@doctors.size-1 %> 
      <% if i == @doctors.size-1 %>
        {lat: <%= @doctors[i][:lat] %>, lng: <%= @doctors[i][:lng] %> } 
      <% else %>
        {lat: <%= @doctors[i][:lat] %>, lng: <%= @doctors[i][:lng] %> },
      <% end %>
      <% end %>
      ];


      var doctor_ids = [
        
        
      ];

       var image; 
        var shape = {
          coords: [1, 1, 1, 32, 32, 32, 32, 1],
          type: 'poly'
        };

      var contentString = [
        <% @doctor_ids.each do |doctor| %>
        "<a href='/public/open_appointment?doctor=<%= doctor %>' target='_blank'> Click to book appointment</a>",
        <% end %>
      ];
      


       
      function addNextMarker(index){
        if(positions.length <= index)
          return;
         marker = new google.maps.Marker({
            map: map,
            icon: image,
            shape: shape,
            animation: google.maps.Animation.DROP,
            position: positions[index]
          });
         markers_array.push(marker);
          marker.addListener('click', function() {
         
            //console.log(index +": "+content[index])
            infowindow[index].open(map, markers_array[index]);
          });
        setTimeout(addNextMarker, 500,index+1);
      }

      function initMap() {
        for (var i=0; i<contentString.length; i++){
          infowindow[i] = new google.maps.InfoWindow({
            content: contentString[i]
          });  
        }

         image = {
          url: '/users/icons/clinic.png',
          // This marker is 20 pixels wide by 32 pixels high.
          size: new google.maps.Size(32, 32),
          // The origin for this image is (0, 0).
          origin: new google.maps.Point(0, 0),
          // The anchor for this image is the base of the flagpole at (0, 32).
          anchor: new google.maps.Point(0, 36)
        };
        // Shapes define the clickable region of the icon. The type defines an HTML
        // <area> element 'poly' which traces out a polygon as a series of X,Y points.
        // The final coordinate closes the poly by connecting to the first coordinate.

          map = new google.maps.Map(document.getElementById('map'), {
          zoom: 11,
          scrollwheel: false,
          center: {lat: 31.460455, lng: 74.295872},
          styles: [{"stylers":[{"hue":"#2c3e50"},{"saturation":250}]},{"featureType":"road","elementType":"geometry","stylers":[{"lightness":50},{"visibility":"simplified"}]},{"featureType":"road","elementType":"labels","stylers":[{"visibility":"off"}]}]
        });
        setTimeout(addNextMarker, 500,index);
       
      }

      function toggleBounce() {
        if (marker.getAnimation() !== null) {
          marker.setAnimation(null);
        } else {
          marker.setAnimation(google.maps.Animation.BOUNCE);
        }
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgrFkvcewbIioIDKA2G_ZGKV6cd8d3hFU&callback=initMap">
    </script>