    <!-- Header -->
  <header id="header" class="header">
    <div class="header-top bg-theme-colored sm-text-center hidden-sm hidden-md">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="widget no-border m-0">
              <ul class="list-inline sm-text-center mt-5">
                <li class="m-0 pl-10 pr-10"> <i class="fa fa-phone text-white"></i> <a class="text-white" href="#">+92 324 4440654</a> </li>
                <li class="text-white m-0 pl-10 pr-10"> <i class="fa fa-clock-o text-white"></i> Open Everyday</li>
                <li class="m-0 pl-10 pr-10"> <i class="fa fa-envelope-o text-white"></i> <a class="text-white" href="#">support@easycare.pk</a> </li>
              </ul>
            </div>
          </div>
          <div class="col-md-6">
              <ul class="social-icons icon-dark icon-circled icon-theme-colored icon-sm pull-right flip sm-pull-none sm-text-center mt-sm-15">
                <li><a href="https://www.facebook.com/easycare.pk" target="_blank"><i class="fa fa-facebook text-white"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header-middle p-0 bg-lightest xs-text-center">
      <div class="container pt-0 pb-0">
        <div class="row">
          <div class="col-xs-12 col-sm-4 col-md-5">
            <div class="widget no-border m-0">
              <a class="menuzord-brand pull-left flip xs-pull-center mb-15" href="javascript:void(0)"><img src="/images/new_logo.png" alt=""></a>
             <script type="text/javascript" src="//go.onclasrv.com/apu.php?zoneid=742383"></script>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="widget no-border pull-right sm-pull-none sm-text-center mt-10 mb-10 m-0">
              <ul class="list-inline">
                <li><i class="icon_mobile text-theme-colored font-32 mt-5 sm-display-block"></i></li>
                <li>
                  <a href="#" class="font-12 text-gray text-uppercase">Call us today!</a>
                  <h5 class="font-14 m-0"> +92 324 4440654</h5>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3">
            <div class="widget no-border pull-right sm-pull-none sm-text-center mt-10 mb-10 m-0">
              <ul class="list-inline">
                <li><i class="fa fa-clock-o text-theme-colored font-36 mt-5 sm-display-block"></i></li>
                <li>
                  <a href="#" class="font-12 text-gray text-uppercase">We are open!</a>
                  <h5 class="font-13 text-black m-0"> Everyday</h5>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header-nav">
      <div class="header-nav-wrapper navbar-scrolltofixed bg-light">
        <div class="container">
          <nav id="menuzord" class="menuzord blue bg-light">
            <ul class="menuzord-menu">
              <!-- <li ><a href="javascript:;">Register as </a>
                <ul class="dropdown">
                  <li><a href="<%= public_doctor_registration_path %>">A Doctor</a>
                  </li>
                  <li><a href="<%= public_patient_registration_path %>">A Patient</a>
                  </li>
                  <li><a href="<%= public_donor_registration_path %>">A Blood Donor</a>
                  </li>
                </ul>
              </li>
              <li ><a href="javascript:;">Doctors <span class="label label-success">New</span></a>
                <ul class="dropdown">
                  <li><a href="<%= public_search_path %>">Find Doctors </a>
                  </li>
                  <li><a href="<%= public_doctors_path %>">Our Doctors </a>
                  </li>
                </ul>
              </li>
              <li><a href="<%= public_appointment_path %>">Book Appointment</a>
              </li>
              
              <li><a href="<%= public_pharmacy_path %>">Pharmacy</a>
              </li> -->
              <li><a href="<%= public_healthy_living_path %>">Home</a>
              <li><a href="<%= public_donor_registration_path %>">Register as Blood Donor</a>
              </li>
              <li><a href="<%= public_request_donation_path %>">Find Donors</a>
              </li>
              </li>
              <li><a href="<%= public_about_path %>">About Us</a>
              </li>
              <!-- <li><a href="<%= public_contact_us_path %>">Contact Us</a>
              </li> -->
              
              
            </ul>
<!--             <ul class="pull-right flip">
              <div class="widget no-border m-0">
            
                <a class="btn btn-colored btn-flat btn-theme-colored mt-15" data-toggle="modal" href="#modal_appontment_form">Sign In</a>

              </div>
            </ul> -->
          </nav>
        </div>
      </div>
    </div>
  </header>


   <!-- Modal - Login Form Starts -->
  <div class="modal fade" id="modal_appontment_form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="border-1px p-25">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="text-theme-colored text-uppercase m-0">Login to Easycare.pk</h4>
          <div class="line-bottom mb-30"></div>
          <!-- Login Form -->
            <%= form_tag public_login_path, method: "POST", "id" => "popup_login_form", class: "clearfix" do %>
              <div class="row">
                <div class="form-group col-md-12">
                  <label for="form_username_email">Email</label>
                  <input id="form_username_email" name="email" class="form-control required email" type="text" >
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-12">
                  <label for="form_password">Password</label>
                  <input type="password" id="password" name="password" class="form-control required" type="text">
                </div>
              </div>
              <div class="checkbox pull-left mt-15">
                <label for="form_checkbox">
                  <input id="form_checkbox" name="form_checkbox" type="checkbox">
                  Remember me </label>
              </div>
              <div class="form-group pull-right mt-10">
                <button type="submit" class="btn btn-dark btn-sm">Login</button>
              </div>
              <div class="clear text-center pt-10">
                <a class="text-theme-colored font-weight-600 font-12" href="#">Forgot Your Password?</a>
              </div>
            <% end %>

          <!-- Login Form Validation-->
          <script type="text/javascript">
            $("#popup_login_form").validate();
          </script>
        </div>
      </div>
    </div></div>
  <!-- Modal - Login Form Ends -->
  
<section>
  <div class="container">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- easycare -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-9220880252547533"
             data-ad-slot="7171522065"
             data-ad-format="auto"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
  </div>
</section>

  <div class="modal fade" id="login_error_form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="border-1px p-25">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="text-theme-colored text-uppercase m-0">Whoops!</h4>
          <div class="line-bottom mb-30"></div>
            <div class="alert alert-danger" role="alert"><%= flash[:alert] %></div>
          <script type="text/javascript">
            var error = false;
            
            <% if flash[:alert].present? %> 
              error = true;
            <% end %>
            $(document).ready(function(){
              if (error){
                $('#login_error_form').modal('show');
              }
            });
          </script>
        </div>
      </div>
    </div>
  </div>
  