
<!DOCTYPE html>

<!-- StarT HEAD -->
<%= render 'head' %>
<!-- END HEAD -->

<body class="fullwidth-page">
<div class="body-overlay"></div>

<div id="wrapper" class="clearfix">
  
<%= render 'top_bar_temp' %>
  
<section>
      <div class="container">
        <div class="section-content">
          <div class="row">
            <div class="col-md-12">
              <h4 class="text-theme-colored title-border">Our Mission</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-7">
              <p class="mb-20">Founded in 2016, the vision of EasyCare is to simplify the interaction between the health care providers and the patients. EasyCare aims to ease the method of treatment for patients. It has totally changed and modernized the way of doctors' interaction and communication with patients. Not only that, it is executing a combined platform for the blood donors and the blood receivers where both can easily play their part.</p>
              </div>
            <div class="col-md-5">
              <p class="mb-20">EasyCare will help in facilitating your treatment like never before. Our team consists of well-organized and talented individuals who understand their responsibilities toward the society.</p>
            </div>
          </div>
        </div>
      </div>
</section>
<section class="bg-lighter"> 
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h4 class="font-playfair text-uppercase mt-0">About Us</h4>
        <p>Easycare.pk is an emerging platforms for health care industry. It enables you to search doctors of your requirement in your area and facilitates online appointment booking. You can maintain a healthy lifestyle by following our health care section. You can also donate blood or find a blood donor in your hour of need. EasyCare.pk is not only a concise but a modernized gateway for both the patients and the doctors to interact without hassle.</p>
        
        <div class="row mt-20 mb-sm-30">
          <div class="col-sm-6">
            <div class="service-icon-box"> <a href="javascript:;" class="pull-left mr-20"><i class="icon-hospital35"></i></a>
              <div class="mt-5">
                <h6 class="mt-5">Donate Blood</h6>
                <p class="font-11"><em>Register as a blood donor</em></p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="service-icon-box"> <a href="javascript:;" class="pull-left mr-20"><i class="icon-ambulance14"></i></a>
              <div class="">
                <h6 class="mt-5">Request for Blood</h6>
                <p class="font-11"><em>Need blood? Register a request for donor</em></p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="service-icon-box"> <a href="javascript:;" class="pull-left mr-20"><i class="icon-stethoscope10"></i></a>
              <div class="">
                <h6 class="mt-5">Healthy Living </h6>
                <p class="font-11"><em>Adapt a healthy life style</em></p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="service-icon-box"> <a href="javascript:;" class="pull-left mr-20"><i class="icon-tablets9"></i></a>
              <div class="">
                <h6 class="mt-5">Online Pharmacy</h6>
                <p class="font-11"><em>Order medicines and get them delivered</em></p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="service-icon-box"> <a href="javascript:;" class="pull-left mr-20"><i class="icon-illness"></i></a>
              <div class="">
                <h6 class="mt-5">Register Now</h6>
                <p class="font-11"><em>Register with us as a patient</em></p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="service-icon-box"> <a href="javascript:;" class="pull-left mr-20"><i class="icon-medical51"></i></a>
              <div class="">
                <h6 class="mt-5">Book an Appointment</h6>
                <p class="font-11"><em>Need to see a doctor? Book appointment online</em></p>
              </div>
            </div>
          </div>
        </div> 
      </div>
      <div class="col-md-5">
        <!--<div class="thumb">
          <img alt="" src="http://placehold.it/615x280" class="img-fullwidth">
        </div>-->
        <h4 class="mt-20">Why Choose Us?</h4>
        <div class="panel-group accordion style2 mb-0 mt-20" id="accordion2">
          <div class="panel">
            <div class="panel-title"> <a href="#accordion21" data-toggle="collapse" data-parent="#accordion2" class="collapsed" aria-expanded="true"> <span class="open-sub"></span> Who We Are? </a> </div>
            <div class="panel-collapse collapse" id="accordion21" aria-expanded="true" >
              <div class="panel-content">
                <p>EasyCare.pk is one of the emerging platforms for the individuals of health care industry to coactively involve with their patients. The sole purpose of this platform is tomake the lives of the people simpler and to serve the society in a unique way. EasyCare.pk is not only a concise but a modernized gateway for both the patients and the doctors to interact easily. With EasyCare.pk, you could easily search for the best health care provider near you and effortlessly make an online appointment anywhere, anytime. It is a valuable portal for both the doctors and the patients as it will make the health care services more receptive and open for everybody.</p>
              </div>
            </div>
          </div>
          <div class="panel">
            <div class="panel-title"> <a href="#accordion22" data-toggle="collapse" data-parent="#accordion2" class="collapsed" aria-expanded="false"> <span class="open-sub"></span> Locate Your Doctor </a> </div>
            <div class="panel-collapse collapse" id="accordion22" aria-expanded="false" style="height: 0px;">
              <div class="panel-content">
                <p>Whether you’re suffering from a minor fever or a heat stroke, EasyCare.pk is there to help you find the best and the most experienced doctors around your neighbourhood making your life a lot simpler.</p>
              </div>
            </div>
          </div>
          <div class="panel">
            <div class="panel-title"> <a href="#accordion23" data-toggle="collapse" data-parent="#accordion2" class="active" aria-expanded="false"> <span class="open-sub"></span> When, Where &amp; Which Doctor? You decide: </a> </div>
            <div class="panel-collapse collapse in" id="accordion23" aria-expanded="false " >
              <div class="panel-content">
                <p>Easily make online appointments with EasyCare.pk by signing up and locating your doctor. Browse around the reviews and the results and when you are satisfied with that, just make an online appointment with a single click according to your own time flexibility.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render 'footer' %>

  <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
</div>
<!-- end wrapper -->

</div>
<!-- END BG SHADOW -->
<%= render 'foot' %>

</body>
<!-- END BODY -->
</html>