
<!DOCTYPE html>

<!-- StarT HEAD -->
<%= render 'head' %>
<!-- END HEAD -->

<body class=" fullwidth-page ">
<div class="body-overlay"></div>

<div id="wrapper" class="clearfix">
  
<%= render 'top_bar' %>
  
  <section>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-push-3">
            <div class="border-1px p-25">
                <form id="appointment_form" name="appointment_form" class="form-transparent mt-30" method="post" action="<%= public_book_appointment_path %>" novalidate="novalidate">
              <h4 class="text-theme-colored text-uppercase m-0">Make an Appointment</h4>
              <div class="line-bottom mb-30"></div>
            <p><strong>Step 1. </strong> Specify Appointment Details.</p>
            <div clas="row">
                <div class="form-group mb-10">
                    <select id="selected_doctor" class="form-control required" name="doctor_id">
                        <option selected value="">Select a Doctor</option>
                    <% @doctors.each do |doctor| %>
                        <% if @selected_doctor.present? && doctor.id == @selected_doctor.to_i %>
                          <option value="<%= doctor.id %>" selected><%= doctor.name %></option>
                          <% else %>
                          <option value="<%= doctor.id %>"><%= doctor.name %></option>
                          <% end %>
                    <% end %>
                    </select>
                </div>
                <div class="form-group mb-10">

                  <input name="appointment_date" id="magic_date" class="form-control required date-picker" type="text" placeholder="Appointment Date" aria-required="true" autocomplete="off" onchange="getFreeSlots()" value="<%= @date if @date.present? %>">
                </div>
                <div class="form-group mb-10" id="empty_slots">
                  <h5>Select a date to see empty slots for appointment</h5>
                </div>
            
            </div>
            <hr />
              <p><strong>Step 2. </strong> Register as Patient.</p>
              
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group mb-10">
                      <input id="form_name" name="name" class="form-control" type="text" required="" placeholder="Enter Name" aria-required="true" value="<%= @name if @name.present? %>">
                    </div>
                  </div>

                  
                  <div class="col-sm-12">
                    <div class="form-group mb-10">
                      <input name="date_of_birth" class="form-control required date-picker" type="text" placeholder="Date of Birth" aria-required="true" autocomplete="off">
                    </div>
                  </div>


                  <div class="col-sm-12">
                    <div class="form-group mb-10">
                        <%= select_tag 'gender', content_tag(:option,'Select Gender',:value=>"") + options_for_select([['Male',1],['Female',2]]), class: "form-control required", placeholder: "Select Gender" %>
                    </div>
                  </div>

                  <div class="col-sm-12">
                    <div class="form-group mb-10">
                      <%= select_tag :blood_group , content_tag(:option,'Select Blood Group',:value=>"") +  options_from_collection_for_select(BloodType.all,"id","title") ,class: "form-control required" %> 
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group mb-10">
                      <input name="email" class="form-control required email" type="email" placeholder="Enter Email" aria-required="true" value="<%= @email if @email.present? %>">
                    </div>
                  </div>

                  <div class="col-sm-12">
                    <div class="form-group mb-10">
                      <input type="password" name="password" class="form-control required" type="text" placeholder="Enter Password" aria-required="true">
                    </div>
                  </div>

                  <div class="col-sm-12">
                    <div class="form-group mb-10">
                      <input name="phone" class="form-control required" type="text" placeholder="Enter Phone" aria-required="true">
                    </div>
                  </div>
    
                </div>

                <div class="form-group mb-0 mt-20">
                  <input id="form_botcheck" name="form_botcheck" class="form-control" type="hidden" value="">
                  <button type="submit" class="btn btn-dark btn-theme-colored" data-loading-text="Please wait...">Submit</button>
                </div>
              </form>
              <!-- Small modal -->

                <div class="modal fade bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" data-backdrop="static" data-keyboard="false" >
                  <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title" id="myModalLabel3">Registered Successfully</h4>
                    </div>
                    <div class="modal-body">
                      <p>Your appointment has been placed and you have successfully registered as a patient. You can now log in from your account to manage your appointments. Press ok to go back to Home Page.</p>
                    </div>
                    <div class="modal-footer">
                      <a href="/"><button type="button" class="btn btn-primary text-white">OK</button></a>
                    </div>
                  </div>
                </div>
                </div>

              <!-- Form Validation-->
              <script type="text/javascript">
                $("#appointment_form").validate({
                  submitHandler: function(form) {
                    var form_btn = $(form).find('button[type="submit"]');
                    var form_result_div = '#form-result';
                    $(form_result_div).remove();
                    form_btn.before('<div id="form-result" class="alert alert-success" role="alert" style="display: none;"></div>');
                    var form_btn_old_msg = form_btn.html();
                    form_btn.html(form_btn.data("loading-text"));
                    $(form).ajaxSubmit({
                      target: form_result_div,
                      success: function(data) {
                        form_btn.html(form_btn_old_msg);
                        $(form).find('.form-control').val('');
                        //$(form_result_div).fadeIn('slow');
                        $('.bs-example-modal-sm').modal('show');
                        //setTimeout(function(){ $(form_result_div).fadeOut('slow') }, 6000);
                      }
                    });
                  }
                });


              </script>
            </div>
          </div>
        </div>
      </div>
    </section>


    <script type="text/javascript">
      function validate(date){
        var dateReg = /^\d{2}[./-]\d{2}[./-]\d{4}$/;
        //console.log(date.match(dateReg));
        if (date.match(dateReg) == null){
          return false;
        }
        if (document.getElementById("selected_doctor").value == ""){
          return false;
        }
        return true;
      }

      function getFreeSlots(){
        var date = document.getElementById("magic_date").value;
        if (validate(date)){
          getSlots();
        }
        else{
          generateError("Please Select a Doctor first");
        }
      }
      function getSlots(){
        var id = document.getElementById("selected_doctor").value;
        var data = document.getElementById("magic_date").value;
        var path = "/public/get_slots?date="+data+"&doctor_id="+id;
        jQuery.ajax({url: path,
         dataType: 'json',
         success: function(result){
          console.log(result)
          evaluate(result);
        }});
      }

      function evaluate(result){
        var html;

        if (result == null || result.length == 0){
          generateError(null);
          return;
        }
        html = "<h5>Appointment Slot </h5><select id='slots_select' name='selected_slot' class='js-example-basic-single form-control required'>";
        for (i = 0; i < result.length; i++){
          var temp = "<option value='" + result[i] + "'>" + result[i] + "</option>";
          html += temp;
        }
        html += "</select></div>";
        document.getElementById("empty_slots").innerHTML = html;
        jQuery('#slots_select').popSelect({
          showTitle: false,
          placeholderText: 'Click to Select your appointment slot',
          position: 'bottom',
          maxAllowed: 1
        });
      }
      function generateError(message){
        console.log(message);
        if (message == null){
          var html = "<div class='alert alert-danger'><strong>Oops!</strong> The doctor has no available slots on the selected day.</div>";
        }
        else{
          var html = "<div class='alert alert-danger'><strong>Oops! </strong>" + message + "</div>"; 
        }
        document.getElementById("empty_slots").innerHTML = html;
      }
    </script>

    <% if params[:action] == "open_appointment" %>
    <script type="text/javascript">
      getFreeSlots();
    </script>
    <% end %>
  <%= render 'footer' %>

  <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
</div>
<!-- end wrapper -->

</div>
<!-- END BG SHADOW -->
<%= render 'foot' %>

</body>
<!-- END BODY -->
</html>