
<!DOCTYPE html>

<!-- StarT HEAD -->
<%= render 'head' %>
<!-- END HEAD -->

<body class="has-side-panel side-panel-right fullwidth-page side-push-panel">
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7&appId=1267907879909504";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="body-overlay"></div>
<div id="side-panel" class="dark" data-bg-img="http://placehold.it/2000x1500">
  <div class="side-panel-wrap">
    <div id="side-panel-trigger-close" class="side-panel-trigger"><a href="#"><i class="icon_close font-30"></i></a></div>
    <a href="javascript:void(0)"><img alt="logo" src="http://placehold.it/180x37"></a>
    <div class="side-panel-nav mt-30">
      <div class="widget no-border">
        <nav>
          <ul class="nav nav-list">
            <li><a href="#">Home</a></li>
            <li><a href="#">Services</a></li>
            <li><a class="tree-toggler nav-header">Pages <i class="fa fa-angle-down"></i></a>
              <ul class="nav nav-list tree">
                <li><a href="#">About</a></li>
                <li><a href="#">Terms</a></li>
                <li><a href="#">FAQ</a></li>
              </ul>
            </li>
            <li><a href="#">Contact</a></li>
          </ul>
        </nav>        
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="side-panel-widget mt-30">
      <div class="widget no-border">
        <ul>
          <li class="font-14 mb-5"> <i class="fa fa-phone text-theme-colored"></i> <a href="#" class="text-gray">123-456-789</a> </li>
          <li class="font-14 mb-5"> <i class="fa fa-clock-o text-theme-colored"></i> Mon-Fri 8:00 to 2:00 </li>
          <li class="font-14 mb-5"> <i class="fa fa-envelope-o text-theme-colored"></i> <a href="#" class="text-gray">contact@yourdomain.com</a> </li>
        </ul>      
      </div>
      <div class="widget">
        <ul class="social-icons icon-dark icon-theme-colored icon-sm">
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        </ul>
      </div>
      <p>Copyright &copy;2016 ThemeMascot</p>
    </div>
  </div>
</div>
<div id="wrapper" class="clearfix">

  
<%= render 'top_bar_temp' %>

<section>
    <div class="container">
        <div class="section-content">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-12">
                            <img width="760" style="height: auto;" src="<%= @article.documents.first.try(:image).try(:url) %>" class="attachment-blog_libra_big wp-post-image" alt="23"/>
                            <!-- post meta -->
                            <h3 class="post-title">
                                <a href="blog-detail.html"> <%= @article.title %></a>
                            </h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                <%= @article.context.html_safe %>
                            </p>

                            <p>
                                <span class="author">Posted by <a href="javascript:;" rel="author"> <%= @article.blogger.name %></a></span>
                            </p>
                            <div class="social-icons icon-dark">
                              <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Share</a></div>
                              <!--<a data-bg-color="#3B5998" style="background: rgb(59, 89, 152) !important;"><i class="fa fa-facebook"></i></a>
                              <a href="#" data-bg-color="#02B0E8" style="background: rgb(2, 176, 232) !important;"><i class="fa fa-twitter"></i></a>-->
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
  var url = "http://easycare.pk/public/healthy_living/<%= @article.id if @article.present? %>";
  $(".fb-share-button").attr('data-href', url);
  var new_url = "https://www.facebook.com/sharer/sharer.php?u=" + escape(url) + "&amp;src=sdkpreparse";
  $(".fb-xfbml-parse-ignore").attr('href', new_url);
</script>


<%= render 'footer' %>

  <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
</div>
<!-- end wrapper -->

</div>
<!-- END BG SHADOW -->
<%= render 'foot' %>

</body>
<!-- END BODY -->
</html>