
<!DOCTYPE html>

<!-- StarT HEAD -->
<%= render 'head' %>
<!-- END HEAD -->

<body class="has-side-panel side-panel-right fullwidth-page side-push-panel">
<div class="body-overlay"></div>
<div id="side-panel" class="dark" data-bg-img="http://placehold.it/2000x1500">
  <div class="side-panel-wrap">
    <div id="side-panel-trigger-close" class="side-panel-trigger"><a href="#"><i class="icon_close font-30"></i></a></div>
    <a href="javascript:void(0)"><img alt="logo" src="http://placehold.it/180x37"></a>
    <div class="side-panel-nav mt-30">
      <div class="widget no-border">
        <nav>
          <ul class="nav nav-list">
            <li><a href="#">Home</a></li>
            <li><a href="#">Services</a></li>
            <li><a class="tree-toggler nav-header">Pages <i class="fa fa-angle-down"></i></a>
              <ul class="nav nav-list tree">
                <li><a href="#">About</a></li>
                <li><a href="#">Terms</a></li>
                <li><a href="#">FAQ</a></li>
              </ul>
            </li>
            <li><a href="#">Contact</a></li>
          </ul>
        </nav>        
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="side-panel-widget mt-30">
      <div class="widget no-border">
        <ul>
          <li class="font-14 mb-5"> <i class="fa fa-phone text-theme-colored"></i> <a href="#" class="text-gray">123-456-789</a> </li>
          <li class="font-14 mb-5"> <i class="fa fa-clock-o text-theme-colored"></i> Mon-Fri 8:00 to 2:00 </li>
          <li class="font-14 mb-5"> <i class="fa fa-envelope-o text-theme-colored"></i> <a href="#" class="text-gray">contact@yourdomain.com</a> </li>
        </ul>      
      </div>
      <div class="widget">
        <ul class="social-icons icon-dark icon-theme-colored icon-sm">
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        </ul>
      </div>
      <p>Copyright &copy;2016 ThemeMascot</p>
    </div>
  </div>
</div>
<div id="wrapper" class="clearfix">
  <!-- preloader -->
  <div id="preloader">
    <div id="spinner">
      <img src="/frontend/images/preloaders/7.gif" alt="">
    </div>
    <div id="disable-preloader" class="btn btn-default btn-sm">Disable Preloader</div>
  </div>
  
<%= render 'top_bar' %>
  
<section>
      <div class="container">
        <div class="section-content">
            <%= form_tag public_place_order_path, method: :post do %>
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <table class="table table-striped table-bordered tbl-shopping-cart">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Medicine Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                  </tr>
                </thead>
                <tbody>
                <% @medicines.each do |medicine| %>
                  <tr class="cart_item">
                    <td class="product-id"><%= medicine.id %></td>
                    
                    <td class="product-name"><a href="<%= public_medicine_details_path(medicine_id: medicine.id) %>"><%= medicine.name %></a>
                      </td>
                    <td class="product-price"><span class="amount">Rs. <%= medicine.price %></span></td>
                    <td class="product-quantity">
                        1
                    <!--<div class="quantity buttons_added">
                        <input type="button" class="minus" value="-">
                        <input type="number" size="4" class="input-text qty text" title="Qty" value="1" name="quantity" min="1" step="1">
                        <input type="button" class="plus" value="+">
                      </div>--></td>
                    <td class="product-subtotal"><span class="amount">Rs. <%= medicine.price %></span></td>
                     <%= hidden_field_tag 'medicines[]', medicine.id %>
                  </tr>
                <% end %>
                </tbody>
              </table>
            </div>
            
            <div class="col-md-10 col-md-offset-1 mt-30">
              <div class="row">
                <div class="col-md-6">
                  <h4>Shipping Details</h4>
                  <form class="form" action="#">
                    <table class="table no-border">
                      <tbody>

                        <tr>
                          <td><textarea class="form-control" name="address" rows="4" placeholder="Detailed Address" value=""></textarea></td>
                        </tr>

                        <tr>
                          <td><input type="text" class="form-control" name="phone_number" placeholder="Phone Number" value=""></td>
                        </tr>

                      </tbody>
                    </table>
                  </form>
                </div>
                <div class="col-md-6">
                  <h4>Cart Totals and Billing</h4>
                  <table class="table table-bordered">
                    <tbody>
                      <tr>
                        <td>Cart Subtotal</td>
                        <td><%= @charges %></td>
                      </tr>
                      <tr>
                        <td>Payment Method</td>
                        <td><%= select_tag :payment_method ,   options_for_select([["Cash on Delivery", "1"],["Easy Paisa","2"]]) ,class: "form-control required" %> </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="pull-right">
                  <%= submit_tag "Place Order", class:"btn btn-dark btn-theme-colored btn-flat btn-lg hvr-grow" %></div>
                  <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

<%= render 'footer' %>

  <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
</div>
<!-- end wrapper -->

</div>
<!-- END BG SHADOW -->
<%= render 'foot' %>

</body>
<!-- END BODY -->
</html>