<!DOCTYPE html>

<!-- StarT HEAD -->
<%= render 'head' %>
<!-- END HEAD -->
<!-- START BODY -->
<body class="home page no_js responsive stretched">

<!-- START BG SHADOW -->
<div class="bg-shadow">

<!-- START WRAPPER -->
    <div id="wrapper" class="container group">

        <!-- START TOP BAR -->
        <%= render 'top_bar' %>
         <!-- END TOP BAR -->

    <!-- START HEADER -->
    <div id="header" class="group margin-bottom">
        <%= render 'header' %>       
    </div>

    <div class="slogan">
        <h2>Coming Soon</h2>
        <h3>Our services are just around the corner!</h3>
        
    </div>

    <hr />

    <div id="primary" class="sidebar-right">
	    <div class="container group">
	        <div class="row">
	            <!-- START CONTENT -->
	            <div id="content-page" class="span9 content group">
	                <div class="page type-page status-publish group">
	                	
	                	<div class="error-404-text group">	                		
	                		<p>Team Easycare is working on these services to make them better and more interactive for you. Our next deployment will enable the citizens of Lahore to manage their clinical tasks online using this portal, i.e. booking appointments, get medicines at their doorsteps and learn about a healthy lifestyle.</p>
	                		<p>Meanwhile, you can <a href="<%= public_donor_registration_path %>">register yourself as a blood donor</a> OR <a href="<%= public_request_donation_path %>">request a blood donation</a> in your hour of need through this portal. </p>
                    
            		</div>	
	                </div>
	            </div>
	            <!-- END CONTENT -->

	            <!-- START SIDEBAR -->
	            <div id="sidebar-homeiv" class="span3 sidebar group">
	                <div class="widget-first widget widget-icon-text group">
	                    <img class="imgicon" src="/users/images/emotion_smile.png" alt="">

	                    <h3>We will make you happy</h3>

	                    <p>Wait is worth your while</p>

	                </div>
	                <div class=" widget widget-icon-text group">
	                    <img class="imgicon" src="/users/images/flower.png" alt="">

	                    <h3>We’re kind!</h3>

	                    <p>Let us answer your questions</p>

	                </div>
	                <div class=" widget-last widget widget-icon-text group">
	                    <img class="imgicon" src="/users/images/phone5.png" alt="">

	                    <h3><a href="<%= public_contact_us_path %>">Contact us</a></h3>

	                    <p>Call us +92 324 444 0654</p>
	                </div>
	            </div>
	            <!-- END SIDEBAR -->

	            <!-- START EXTRA CONTENT -->
	            <!-- END EXTRA CONTENT -->
	        </div>
	    </div>
	</div>

    <%= render 'footer' %>
    <div class="wrapper-border"></div>
    </div>
<!-- END WRAPPER -->
</div>
<!-- END BG SHADOW -->
<%= render 'foot' %>

</body>
<!-- END BODY -->
</html>