<!DOCTYPE html>

<!-- StarT HEAD -->
<%= render 'head' %>
<!-- END HEAD -->

<body class="fullwidth-page">
<div class="body-overlay"></div>

<div id="wrapper" class="clearfix">
  
<%= render 'top_bar' %>
  
  <section>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-push-3">
            <div class="border-1px p-25">
              <h4 class="text-theme-colored text-uppercase m-0">Doctor Registration</h4>
              <div class="line-bottom mb-30"></div>
              <p>Register yourself as a doctor and manage your clinic online.</p>
              <form id="appointment_form" name="appointment_form" class="form-transparent mt-30" method="post" action="<%= public_register_doctor_path %>" novalidate="novalidate">
                <div class="row">
                  <h5>Personal Details</h5>
                  <div class="col-sm-12">
                    <div class="form-group mb-10">
                      <input id="form_name" name="name" class="form-control" type="text" required="" placeholder="Enter Name" aria-required="true">
                    </div>
                  </div>

                  <div class="col-sm-12">
                    <div class="form-group mb-10">
                      <%= select_tag 'gender', options_for_select([['Male',1],['Female',2]]), class: "form-control required", required: "", id: "gender"%> 
                    </div>
                  </div>

                  <div class="col-sm-12">
                    <div class="form-group mb-10">
                      <input name="date_of_birth" class="form-control required date-picker" type="text" placeholder="Date of Birth" aria-required="true" autocomplete="off">
                    </div>
                  </div>

                  <div class="col-sm-12">
                    <div class="form-group mb-10">
                      <input name="email" id="email" class="form-control required email" type="email" placeholder="Enter Email" aria-required="true">
                    </div>
                  </div>

                  <div class="col-sm-12">
                    <div class="form-group mb-10">
                      <input name="password" class="form-control required" type="password" placeholder="Enter Password (minimum 8 characters)" aria-required="true" data-minlength="8">
                    </div>
                  </div>

                  <div class="col-sm-12">
                    <div class="form-group mb-10">
                      <input name="phone" class="form-control required" type="text" placeholder="Enter Phone Number" aria-required="true">
                    </div>
                  </div>

                  <h5>Location Details</h5>
                  <div class="col-sm-12">
                    <div class="form-group mb-10">
                      <input name="long" class="form-control " type="number" placeholder="Enter Location Longitudes (Not compulsary)" aria-required="true">
                    </div>
                  </div>

                  <div class="col-sm-12">
                    <div class="form-group mb-10">
                      <input name="lat" class="form-control " type="text" placeholder="Enter Location Longitudes (Not compulsary)" aria-required="true">
                    </div>
                  </div>
                  
                </div>
                <div class="form-group mb-10">
                  <textarea  name="address" class="form-control required" placeholder="Enter Complete Address" rows="3" aria-required="true"></textarea>
                </div>
                <div class="form-group mb-0 mt-20">
                  <input id="form_botcheck" name="form_botcheck" class="form-control" type="hidden" value="">
                  <button type="submit" class="btn btn-dark btn-theme-colored" data-loading-text="Please wait...">Submit</button>
                </div>
              </form>
              <!-- Small modal -->

                <div class="modal fade bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" data-backdrop="static" data-keyboard="false" >
                  <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title" id="myModalLabel3">Registered Successfully</h4>
                    </div>
                    <div class="modal-body">
                      <p>You have been registered successfully as a doctor. Press ok to go back to Home Page.</p>
                    </div>
                    <div class="modal-footer">
                      <a href="/"><button type="button" class="btn btn-primary text-white">OK</button></a>
                    </div>
                  </div>
                </div>
                </div>

              <!-- Form Validation-->
              <script type="text/javascript">
              /*$.validator.addMethod(
                  "uniqueemail", 
                  function(value, element) {
                    var response;
                    console.log("in UE");
                      $.ajax({
                          type: "GET",
                          url: "/api/verify_email",
                          data: "email="+value,
                          success: function(msg)
                          {
                              response = ( msg == 'true' ) ? true : false;
                              console.log("response: " + response);
                              return response;
                          }
                       });
                  },
                  "This Email Address is already Registered."
              );*/
                $("#appointment_form").validate({
                  submitHandler: function(form) {
                    var form_btn = $(form).find('button[type="submit"]');
                    var form_result_div = '#form-result';
                    $(form_result_div).remove();
                    form_btn.before('<div id="form-result" class="alert alert-success" role="alert" style="display: none;"></div>');
                    var form_btn_old_msg = form_btn.html();
                    form_btn.html(form_btn.data("loading-text"));
                    $(form).ajaxSubmit({
                      target: form_result_div,
                      success: function(data) {
                        form_btn.html(form_btn_old_msg);
                        $(form).find('.form-control').val('');
                        //$(form_result_div).fadeIn('slow');
                        $('.bs-example-modal-sm').modal('show');
                        //setTimeout(function(){ $(form_result_div).fadeOut('slow') }, 6000);
                      }
                    });
                  }
                });
              </script>
            </div>
          </div>
        </div>
      </div>
    </section>
  <%= render 'footer' %>

  <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
</div>
<!-- end wrapper -->

</div>
<!-- END BG SHADOW -->
<%= render 'foot' %>

</body>
<!-- END BODY -->
</html>