
<!DOCTYPE html>

<!-- StarT HEAD -->
<%= render 'doctor_head' %>
<!-- END HEAD -->

<body class="fullwidth-page">
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7&appId=1267907879909504";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="body-overlay"></div>

<div id="wrapper" class="clearfix">
    
<%= render 'top_bar' %>

<section class="">
      <div class="container">
        <div class="section-content">
          <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-8 pull-right pl-60 pl-sm-15">
              <div>
                <h3><%= 'Dr.' if @doctor.name.first != 'D' %> <%= @doctor.name %></h3>
                <h5 class="text-theme-colored"><%= @doctor.title_education %></h5>
                <p><%= @doctor.bio %></p>
              </div>
              <div class="mt-30">
                <dl class="dl-horizontal doctor-info">
                  <dt>Speciality</dt>
                  <dd>
                    <% if @doctor.doctor_specialities.present? %>
                    <ul class="list theme-colored angle-double-right m-0">
                      <% @doctor.doctor_specialities.each do |s| %>
                        <li><%= s.speciality.title %></li>
                      <% end %>
                    </ul>
                    <% else %>
                    No Speciality Mentioned
                    <% end %>
                  </dd>
                  <hr>
                  <dt>Procedures</dt>
                  <dd>
                    <% if @doctor.doctor_procedures.present? %>
                    <ul class="list theme-colored angle-double-right m-0">
                      <% @doctor.doctor_procedures.each do |p| %>
                        <li><%= p.procedure.title %></li>
                      <% end %>
                    </ul>
                    <% else %>
                    No Procedure Mentioned
                    <% end %>
                  </dd>
                  <hr>
                  <dt>Conditions</dt>
                  <dd>
                    <% if @doctor.doctor_conditions.present? %>
                    <ul class="list theme-colored angle-double-right m-0">
                      <% @doctor.doctor_conditions.each do |s| %>
                        <li><%= s.condition.title %></li>
                      <% end %>
                    </ul>
                    <% else %>
                    No Condition Mentioned
                    <% end %>
                  </dd>
                  <hr>
                  <dt>Education</dt>
                  <dd>
                    <%= @doctor.education %>
                  </dd>
                  <hr>
                  <dt>Experience</dt>
                  <dd>
                    <%= @doctor.experience %>
                  </dd>
                  <hr>
                  <dt>Address</dt>
                  <dd>
                    <%= @doctor.address %>
                  </dd>
                  <hr>
                </dl>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h5 class="text-theme-colored title-border mb-30 mt-50">Make an Appoinment</h5>
              
                  <!-- Appointment Form Sart-->
                  <form id="appointment_form" name="appointment_form" class="form-transparent mt-30" method="post" action="/public/open_appointment" novalidate="novalidate">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group mb-10">
                          <input id="form_name" name="name" class="form-control" type="text" required="" placeholder="Enter Name" aria-required="true">
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <div class="form-group mb-10">
                          <input id="form_email" name="email" class="form-control required email" type="email" placeholder="Enter Email" aria-required="true">
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <div class="form-group mb-10">
                          <input name="appointment_date" class="form-control required date-picker" type="text" placeholder="Appointment Date" aria-required="true" autocomplete="off" value="">
                        </div>
                      </div>
                    </div>
                    <%= hidden_field_tag 'doctor', @doctor.id %>
                    <div class="form-group mb-0 mt-20">
                      <input id="form_botcheck" name="form_botcheck" class="form-control" type="hidden" value="">
                      <button type="submit" class="btn btn-dark btn-theme-colored" >Make Appointment</button>
                    </div>
                  </form>
                  
                  <!-- Appointment Form Validation-->
                  <script type="text/javascript">
                    $("#appointment_form").validate();
                  </script>
                  <!-- Appointment Form Ends -->

                </div>
              </div>
            </div>
            <div class="col-sx-12 col-sm-4 col-md-4 sidebar pull-left">
              <div class="doctor-thumb">
                <% if @doctor.document.present? %>
                <img src="<%= @doctor.document.image %>" alt="" style="height: 360px; height: 360px;">
                <% else %>
                <img src="<%= @doctor.get_default_image %>" alt="" style="height: 360px; height: 360px;">
                <% end %>
              </div>
              <ul class="social-icons icon-gray mt-15 mb-15">
                <li><div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-size="large" data-mobile-iframe="true">
                  <a class="fb-share-anchor" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">
                    <i class="fa fa-facebook"></i>
                  </a></div>
                </li>
                <!--<li><a href="#"><i class="fa fa-twitter"></i></a></li>-->
              </ul>
              <div class="p-30 p-sm-10" style="border: 10px solid #f1f1f1;">
                <h5><i class="fa fa-clock-o text-theme-colored"></i> Availability</h5> 
                <span><strong>Appointment Fee:</strong> <%= ('Rs.  ' + @doctor.appointment_fee.to_s) if @doctor.appointment_fee.present? %> </span>
                <br />
                <div class="opening-hourse text-left">
                  <ul class="list-unstyled">
                    <% if @doctor.available_days.present? %>
                    <% @doctor.available_days.each do |day| %>
                      <li class="clearfix"> <span> <%= day.day %> </span>
                        <div class="value"> <%= day.start_time.to_datetime.to_s(:time) %> - <%= day.end_time.to_datetime.to_s(:time) %> </div>
                      </li>
                    <% end %>

                    
                    <% else %> 
                      <p>Not Available Yet</p>
                    <% end %>
                  </ul>
                </div>
                <a href="javascript:;" class="btn btn-dark disabled btn-theme-colored mt-30 mt-sm-20 pl-sm-10 pr-sm-10">Request an appointment <span class="arrow_right-down" aria-hidden="true"></span></a>
              </div>
              <!--<div class="mt-30 p-30" style="border: 10px solid #f1f1f1;">
                <h5 class="text-theme-colored title-border mb-20">Client's Feedback</h5>
                <div class="testimonial-carousel-info owl-nav-top owl-carousel owl-theme owl-loaded">
                  
                  
                  
                <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-885px, 0px, 0px); transition: 0.25s; width: 2065px;"><div class="owl-item cloned" style="width: 280px; margin-right: 15px;"><div class="item">
                    <div class="comment">
                      <p>Lorem ipsum dolor sit ametconse ctetur adipisicing elitvolup tatem error sit qui dolorem facilis.</p>
                    </div>
                    <div class="content mt-20">
                      <div class="thumb pull-right">
                        <img class="img-circle" alt="" src="http://placehold.it/75x75">
                      </div>
                      <div class="patient-details text-right pull-right mr-20 mt-10">
                        <h5 class="author">Jonathan Smith</h5>
                        <h6 class="title">cici inc.</h6>
                      </div>
                    </div>
                  </div></div><div class="owl-item cloned" style="width: 280px; margin-right: 15px;"><div class="item">
                    <div class="comment">
                      <p>Lorem ipsum dolor sit ametconse ctetur adipisicing elitvolup tatem error sit qui dolorem facilis.</p>
                    </div>
                    <div class="content mt-20">
                      <div class="thumb pull-right">
                        <img class="img-circle" alt="" src="http://placehold.it/75x75">
                      </div>
                      <div class="patient-details text-right pull-right mr-20 mt-10">
                        <h5 class="author">Jonathan Smith</h5>
                        <h6 class="title">cici inc.</h6>
                      </div>
                    </div>
                  </div></div><div class="owl-item" style="width: 280px; margin-right: 15px;"><div class="item">
                    <div class="comment">
                      <p>Lorem ipsum dolor sit ametconse ctetur adipisicing elitvolup tatem error sit qui dolorem facilis.</p>
                    </div>
                    <div class="content mt-20">
                      <div class="thumb pull-right">
                        <img class="img-circle" alt="" src="http://placehold.it/75x75">
                      </div>
                      <div class="patient-details text-right pull-right mr-20 mt-10">
                        <h5 class="author">Jonathan Smith</h5>
                        <h6 class="title">cici inc.</h6>
                      </div>
                    </div>
                  </div></div><div class="owl-item active" style="width: 280px; margin-right: 15px;"><div class="item">
                    <div class="comment">
                      <p>Lorem ipsum dolor sit ametconse ctetur adipisicing elitvolup tatem error sit qui dolorem facilis.</p>
                    </div>
                    <div class="content mt-20">
                      <div class="thumb pull-right">
                        <img class="img-circle" alt="" src="http://placehold.it/75x75">
                      </div>
                      <div class="patient-details text-right pull-right mr-20 mt-10">
                        <h5 class="author">Jonathan Smith</h5>
                        <h6 class="title">cici inc.</h6>
                      </div>
                    </div>
                  </div></div><div class="owl-item" style="width: 280px; margin-right: 15px;"><div class="item">
                    <div class="comment">
                      <p>Lorem ipsum dolor sit ametconse ctetur adipisicing elitvolup tatem error sit qui dolorem facilis.</p>
                    </div>
                    <div class="content mt-20">
                      <div class="thumb pull-right">
                        <img class="img-circle" alt="" src="http://placehold.it/75x75">
                      </div>
                      <div class="patient-details text-right pull-right mr-20 mt-10">
                        <h5 class="author">Jonathan Smith</h5>
                        <h6 class="title">cici inc.</h6>
                      </div>
                    </div>
                  </div></div><div class="owl-item cloned" style="width: 280px; margin-right: 15px;"><div class="item">
                    <div class="comment">
                      <p>Lorem ipsum dolor sit ametconse ctetur adipisicing elitvolup tatem error sit qui dolorem facilis.</p>
                    </div>
                    <div class="content mt-20">
                      <div class="thumb pull-right">
                        <img class="img-circle" alt="" src="http://placehold.it/75x75">
                      </div>
                      <div class="patient-details text-right pull-right mr-20 mt-10">
                        <h5 class="author">Jonathan Smith</h5>
                        <h6 class="title">cici inc.</h6>
                      </div>
                    </div>
                  </div></div><div class="owl-item cloned" style="width: 280px; margin-right: 15px;"><div class="item">
                    <div class="comment">
                      <p>Lorem ipsum dolor sit ametconse ctetur adipisicing elitvolup tatem error sit qui dolorem facilis.</p>
                    </div>
                    <div class="content mt-20">
                      <div class="thumb pull-right">
                        <img class="img-circle" alt="" src="http://placehold.it/75x75">
                      </div>
                      <div class="patient-details text-right pull-right mr-20 mt-10">
                        <h5 class="author">Jonathan Smith</h5>
                        <h6 class="title">cici inc.</h6>
                      </div>
                    </div>
                  </div></div></div></div><div class="owl-controls"><div class="owl-nav"><div class="owl-prev" style=""><i class="fa fa-angle-left"></i></div><div class="owl-next" style=""><i class="fa fa-angle-right"></i></div></div><div class="owl-dots" style="display: none;"></div></div></div>
              </div>-->
            </div>
          </div>
        </div>
      </div>
    </section>
<script type="text/javascript">
  var url = "http://easycare.pk/public/doctor_details?doctor_id=<%= @doctor.id if @doctor.present? %>";
  $(".fb-share-button").attr('data-href', url);
  var new_url = "https://www.facebook.com/sharer/sharer.php?u=" + escape(url) + "&amp;src=sdkpreparse";
  $(".fb-share-anchor").attr('href', new_url);
</script>

<%= render 'footer' %>

  <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
</div>
<!-- end wrapper -->

</div>
<!-- END BG SHADOW -->
<%= render 'foot' %>

</body>
<!-- END BODY -->
</html>