
<!DOCTYPE html>

<!-- StarT HEAD -->
<%= render 'head' %>
<!-- END HEAD -->

<body class="fullwidth-page">
<div class="body-overlay"></div>

<div id="wrapper" class="clearfix">
    
<%= render 'top_bar_temp' %>
  
<section>
  <div class="text-center">
    <h2>Welcome to Easycare</h2>
    <h4>Find all your health related blogs here.</h4>
    <p>Don't forget to register yourself as a blood donor.</p>
  </div>
      <div class="container mt-30 mb-30 pt-30 pb-30">
        <div class="row multi-row-clearfix">
          <div class="blog-posts">
            <div class="col-md-12">
              <div class="row list-dashed">

                <% @articles.each do |article| %>
                <% blogger = article.blogger %>
                <article class="post clearfix mb-50">
                  <div class="col-sm-5">
                    <div class="entry-header">
                      <div class="post-thumb"> <img class="img-responsive img-fullwidth" src="<%= article.documents.first.try(:image).try(:url) %>" alt=""> </div>
                    </div>
                  </div>
                  <div class="col-sm-7">
                    <div class="entry-content mt-0">
                      <a href="/public/healthy_living/<%= article.id %>">
                      <h4 class="entry-title mt-0 pt-0"><%= article.title %></h4>
                      </a>
                      <ul class="list-inline font-12 mb-20 mt-10">
                        <li>posted by <a href="#" class="text-theme-colored"><%= blogger.name %></a></li>|<li><span class="text-theme-colored"><%= article.get_month_for_created_time.to_s + " " + article.created_at.day.to_s + ", " + article.created_at.year.to_s %></span></li>
                      </ul>
                      <p class="mb-30"><%= article.context.html_safe %></p>
                      <a class="pull-right text-gray font-13" href="/public/healthy_living/<%= article.id %>"><i class="fa fa-angle-double-right text-theme-colored"></i> Read more</a>
                    </div>
                  </div>
                </article>
                <% end %>
   
              </div>
            </div>
            <div class="col-md-12">
              <nav>
                <div class="theme-colored">
                    <%= will_paginate @articles %>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </section>

<%= render 'footer' %>

  <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
</div>
<!-- end wrapper -->

</div>
<!-- END BG SHADOW -->
<%= render 'foot' %>

</body>
<!-- END BODY -->
</html>