
<!DOCTYPE html>

<!-- StarT HEAD -->
<%= render 'head' %>
<!-- END HEAD -->

<body class="fullwidth-page">

<div id="wrapper" class="clearfix">
  
<%= render 'top_bar' %>
  

  
  
  
    <!-- Section: home -->
    <section id="home" class="divider " data-stellar-background-ratio="0.5" data-bg-img="/images/appointment.jpg">

      <div class="display-table">
        <div class="display-table-cell">
          <div class="container">
            <div class="row">
              <div class="col-md-4 col-md-offset-8">
                <div class="bg-theme-colored p-25">
                  <h3 class="m-0 mb-30"><span class="text-white">Make an</span> Appointment</h3>
                  <!-- Appointment Form -->
                  <form id="home_appointment_form" name="home_appointment_form" method="post" action="/public/open_appointment">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group mb-10">
                          <input id="form_name" name="name" class="form-control" type="text" required="" placeholder="Enter Name" aria-required="true">
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <div class="form-group mb-10">
                          <input id="form_email" name="email" class="form-control required email" type="email" placeholder="Enter Email" aria-required="true">
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <div class="form-group mb-10">
                          <input name="appointment_date" class="form-control required date-picker" type="text" placeholder="Appoinment Date" aria-required="true">
                        </div>
                      </div>
                    </div>
   
                    <div class="form-group mb-0 mt-10">
                      <input id="form_botcheck" name="form_botcheck" class="form-control" type="hidden" value="">
                      <button type="submit" class="btn btn-gray btn-flat">Make Appointment</button>
                    </div>
                  </form>
    
                  <!-- Appointment Form Validation-->
                  <script type="text/javascript">
                    $("#home_appointment_form").validate();
                  </script>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Start main-content -->
  <div class="main-content" style="margin-bottom: 10px;">
   <!-- Section: Welcome -->
    <section class="divider" >
      <div class="container pb-0" style="padding-left: 0;padding-top: 0;padding-right:0; margin:0;width: 100%;">
        <div class="section-title icon-bg">
            <div class="row">
              <div class="col-md-6 col-md-offset-3 text-center">
                <h3 class="font-playfair text-uppercase mt-0 mb-10">Emergency?</h3>
                <img class="mb-10" src="/frontend/images/title-icon.png" alt="">
                <p>Find Doctors Near you!</p>
              </div>
            </div>
          </div>
        <div class="row" style="padding:0;">

          <div class="col-md-12" >
              <%= render 'map' %>
          </div>
        </div>
      </div>
    </section>

   
    
    <section class="divider">
      <div class="container pb-0">
        <div class="row">
          <div class="col-md-4">
            <div class="border-10px p-30">
              <h5><i class="fa fa-clock-o text-theme-colored"></i> Opening Hours</h5>
              <div class="opening-hourse text-left">
                <ul class="list-unstyled">
                  <li class="clearfix line-height-1">
                    <span>Monday - Sunday</span>
                    <div class="value">24/7</div>
                  </li>
                  <!--<li class="clearfix line-height-1"> <span> Sunday </span>
                    <div class="value"> 9.30 - 18.00 </div>
                  </li> -->
                </ul>
              </div>
              <h5 class="mt-30"><i class="fa fa-pencil-square-o text-theme-colored"></i> Need Help?</h5>
              <p class="mt-0 text-uppercase">Just make an appointment to get help from our experts</p>
              <a href="#" class="btn btn-dark btn-theme-colored mt-15" data-toggle="modal" data-target="#modal_appontment_form_at_about">Request an appointment</a>

              <!-- Modal - Appontment Form Starts -->
              <div class="modal fade" id="modal_appontment_form_at_about" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="border-1px p-25">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="text-theme-colored text-uppercase m-0">Make an Appointment</h4>
                      <div class="line-bottom mb-30"></div>
                      <p>Please proivde the following information to proceed.</p>
                      <!-- Appointment Form -->
                      <form id="appointment_form_at_home" name="appointment_form_at_home" class="" method="post" action="/public/open_appointment">
                        <div class="row">
                          <div class="col-sm-12">
                            <div class="form-group mb-10">
                              <input id="form_name" name="name" class="form-control" type="text" required="" placeholder="Enter Name" aria-required="true">
                            </div>
                          </div>
                          <div class="col-sm-12">
                            <div class="form-group mb-10">
                              <input id="form_email" name="email" class="form-control required email" type="email" placeholder="Enter Email" aria-required="true">
                            </div>
                          </div>
                          <div class="col-sm-12">
                            <div class="form-group mb-10">
                              <input name="appointment_date" class="form-control required date-picker" type="text" placeholder="Appoinment Date" aria-required="true">
                            </div>
                          </div>
                        </div>

                        <div class="form-group mb-0 mt-20">
                          <input id="form_botcheck" name="form_botcheck" class="form-control" type="hidden" value="">
                          <button type="submit" class="btn btn-dark btn-theme-colored" >Make Appointment</button>
                        </div>
                      </form>

                      <!-- Appointment Form Validation-->
                      <script type="text/javascript">
                        $("#appointment_form_at_home").validate();
                      </script>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Modal - Appontment Form Ends -->
            </div>
          </div>
          <div class="col-md-4">
            <h3 class="text-gray-silver font-playfair mt-10 mt-sm-30 mb-0">About</h3>
            <h1 class="text-gray font-playfair mt-0">Easycare.pk</h1>
            <p><em>One of the world's leading health care portal providing safe & compassionate care for everyone.</em></p>
            <p class="mt-20">Easycare.pk is an emerging platforms for health care industry. It enables you to search doctors of your requirement in your area and facilitates online appointment booking. You can maintain a healthy lifestyle by following our health care section. You can also donate blood or find a blood donor in your hour of need. EasyCare.pk is not only a concise but a modernized gateway for both the patients and the doctors to interact easily</p>
            <!-- redirect to about us page -->
            <a href="<%= public_about_path %>" class="pull-right btn btn-default btn-lg mt-15 mb-md-30">Read more</a>
          </div>
          <div class="col-md-4">
                
          </div>
        </div>
      </div>
    </section>
    
    <!-- Section: Services -->
    <section class="bg-lighter" id="services"> 
      <div class="container pb-50">
        <div class="section-title icon-bg">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
              <h2 class="font-playfair text-uppercase mt-0 mb-10">Services</h2>
              <img class="mb-10" src="/frontend/images/title-icon.png" alt="">
              <p>Avail our services at one click</p>
            </div>
          </div>
        </div>
        <div class="section-content">
          <div class="row features-style1">
            <div class="col-sm-4">
              <div class="icon-box p-30 mb-30 border-3px"> <a href="<%= public_donor_registration_path %>"><i class="icon-hospital35 text-theme-colored"></i></a>
                <div class="features-details">
                  <h5>Donate Blood</h5>
                  <p>Register yourself as a blood donor and save a life.</p>
                </div>
                  <a href="<%= public_donor_registration_path %>" class="font-opensans mt-30 inline-block text-theme-colored"> Read More</a>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="icon-box p-30 mb-30 border-3px"> <a href="<%= public_request_donation_path %>"><i class="icon-ambulance14 text-theme-colored"></i></a>
                <div class="features-details">
                  <h5>Request for Blood</h5>
                  <p>Need blood? Just submit a request and a blood donor will get to you shortly.</p>
                </div>
                  <a href="<%= public_request_donation_path %>" class="font-opensans mt-30 inline-block text-theme-colored"> Read More</a>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="icon-box p-30 mb-30 border-3px"> <a href="<%= public_healthy_living_path %>"><i class="icon-stethoscope10 text-theme-colored"></i></a>
                <div class="features-details">
                  <h5>Healthy Living</h5>
                  <p>Adapt a healthy lifestyle by subscribing to our regularly updated blogs</p>
                </div>
                  <a href="<%= public_healthy_living_path %>" class="font-opensans mt-30 inline-block text-theme-colored"> Read More</a>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="icon-box p-30 mb-30 border-3px"> <a href="<%= public_pharmacy_path %>"><i class="icon-tablets9 text-theme-colored"></i></a>
                <div class="features-details">
                  <h5>Online Pharmacy</h5>
                  <p>In need of medicines or injections? Browse through our online pharmacy.</p>
                </div>
                  <a href="<%= public_pharmacy_path %>" class="font-opensans mt-30 inline-block text-theme-colored"> Read More</a>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="icon-box p-30 mb-30 border-3px"> <a href="<%= public_patient_registration_path %>"><i class="icon-illness text-theme-colored"></i></a>
                <div class="features-details">
                  <h5>Register now</h5>
                  <p>Register yourself as a patient with us and maintain your health history.</p>
                </div>
                  <a href="<%= public_patient_registration_path %>" class="font-opensans mt-30 inline-block text-theme-colored"> Read More</a>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="icon-box p-30 mb-30 border-3px"> <a href="<%= public_appointment_path %>"><i class="icon-medical51  text-theme-colored"></i></a>
                <div class="features-details">
                  <h5>Book an Appointment</h5>
                  <p>Book an appointment with the doctor of your choice.</p>
                </div>
                  <a href="<%= public_appointment_path %>" class="font-opensans mt-30 inline-block text-theme-colored"> Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Section: Testimonials 
    <section data-bg-img="/frontend/images/pattern/p4.png">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="testimonial testimonial-carousel1">
              <div class="item">
                <div class="testimonial-wrapper text-center">
                  <div class="thumb"><img class="img-circle" alt="" src="http://placehold.it/75x75"></div>
                  <div class="content pt-10">
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque est quasi, quas ipsam, expedita placeat facilis odio illo ex accusantium eaque itaque officiis et sit. Vero quo, impedit neque.</p>
                    <i class="fa fa-quote-right font-36 mt-10 text-gray-lightgray"></i>
                    <h5 class="author text-theme-colored mb-0">Catherine Grace</h5>
                    <h6 class="title text-gray mt-0 mb-15">Designer</h6>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimonial-wrapper text-center">
                  <div class="thumb"><img class="img-circle" alt="" src="http://placehold.it/75x75"></div>
                  <div class="content pt-10">
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque est quasi, quas ipsam, expedita placeat facilis odio illo ex accusantium eaque itaque officiis et sit. Vero quo, impedit neque.</p>
                    <i class="fa fa-quote-right font-36 mt-10 text-gray-lightgray"></i>
                    <h5 class="author text-theme-colored mb-0">Catherine Grace</h5>
                    <h6 class="title text-gray mt-0 mb-15">Designer</h6>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimonial-wrapper text-center">
                  <div class="thumb"><img class="img-circle" alt="" src="http://placehold.it/75x75"></div>
                  <div class="content pt-10">
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque est quasi, quas ipsam, expedita placeat facilis odio illo ex accusantium eaque itaque officiis et sit. Vero quo, impedit neque.</p>
                    <i class="fa fa-quote-right font-36 mt-10 text-gray-lightgray"></i>
                    <h5 class="author text-theme-colored mb-0">Catherine Grace</h5>
                    <h6 class="title text-gray mt-0 mb-15">Designer</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->

    <!-- Section: News Reserved for BLOGS
    <section>
      <div class="container pb-110">
        <div class="section-title">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
              <h2 class="font-playfair text-uppercase mt-0 mb-10">News</h2>
              <img class="mb-10" src="/frontend/images/title-icon.png" alt="">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque commodi molestiae autem fugit illo ipsa numquam, quod iusto enim.</p>
            </div>
          </div>
        </div>
        <div class="section-content">
          <div class="row multi-row-clearfix">
            <div class="blog-posts">
              <div class="col-xs-12 col-sm-12 col-md-6">
                <article class="post style1 clearfix maxwidth500">
                  <div class="col-md-4 p-0">
                    <div class="entry-header">
                      <div class="post-thumb">
                        <img src="http://placehold.it/180x200" alt="" class="img-responsive img-fullwidth">
                      </div>
                      <div class="entry-date entry-date-absolute">
                        25 <span>Dec</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-8 p-0">
                    <div class="entry-content pl-50 p-20 pt-30 pr-20">
                      <h5 class="entry-title pt-0"><a href="#">Different types of stroke</a></h5>
                      <p>Lorem ipsum dolor adipisicing amet, consectetur sit elit. Aspernatur incidihil quo officia.</p>
                      <div class="entry-meta pull-left flip mt-10">
                        <ul class="list-inline">
                          <li><i class="fa fa-thumbs-o-up mr-5"></i> 13</li>
                          <li><i class="fa fa-comments-o mr-5"></i> 43</li>
                        </ul>
                      </div>
                      <a class="text-theme-colored mt-10 mb-0 pull-right flip" href="#">Read more <i class="fa fa-angle-double-right"></i></a>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </article>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6">
                <article class="post style1 clearfix maxwidth500">
                  <div class="col-md-4 p-0">
                    <div class="entry-header">
                      <div class="post-thumb">
                        <img src="http://placehold.it/180x200" alt="" class="img-responsive img-fullwidth">
                      </div>
                      <div class="entry-date entry-date-absolute">
                        25 <span>Dec</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-8 p-0">
                    <div class="entry-content pl-50 p-20 pt-30 pr-20">
                      <h5 class="entry-title pt-0"><a href="#">Different types of stroke</a></h5>
                      <p>Lorem ipsum dolor adipisicing amet, consectetur sit elit. Aspernatur incidihil quo officia.</p>
                      <div class="entry-meta pull-left flip mt-10">
                        <ul class="list-inline">
                          <li><i class="fa fa-thumbs-o-up mr-5"></i> 13</li>
                          <li><i class="fa fa-comments-o mr-5"></i> 43</li>
                        </ul>
                      </div>
                      <a class="text-theme-colored mt-10 mb-0 pull-right flip" href="#">Read more <i class="fa fa-angle-double-right"></i></a>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </article>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6">
                <article class="post style1 clearfix maxwidth500">
                  <div class="col-md-4 p-0">
                    <div class="entry-header">
                      <div class="post-thumb">
                        <img src="http://placehold.it/180x200" alt="" class="img-responsive img-fullwidth">
                      </div>
                      <div class="entry-date entry-date-absolute">
                        25 <span>Dec</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-8 p-0">
                    <div class="entry-content pl-50 p-20 pt-30 pr-20">
                      <h5 class="entry-title pt-0"><a href="#">Different types of stroke</a></h5>
                      <p>Lorem ipsum dolor adipisicing amet, consectetur sit elit. Aspernatur incidihil quo officia.</p>
                      <div class="entry-meta pull-left flip mt-10">
                        <ul class="list-inline">
                          <li><i class="fa fa-thumbs-o-up mr-5"></i> 13</li>
                          <li><i class="fa fa-comments-o mr-5"></i> 43</li>
                        </ul>
                      </div>
                      <a class="text-theme-colored mt-10 mb-0 pull-right flip" href="#">Read more <i class="fa fa-angle-double-right"></i></a>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </article>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6">
                <article class="post style1 clearfix maxwidth500">
                  <div class="col-md-4 p-0">
                    <div class="entry-header">
                      <div class="post-thumb">
                        <img src="http://placehold.it/180x200" alt="" class="img-responsive img-fullwidth">
                      </div>
                      <div class="entry-date entry-date-absolute">
                        25 <span>Dec</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-8 p-0">
                    <div class="entry-content pl-50 p-20 pt-30 pr-20">
                      <h5 class="entry-title pt-0"><a href="#">Different types of stroke</a></h5>
                      <p>Lorem ipsum dolor adipisicing amet, consectetur sit elit. Aspernatur incidihil quo officia.</p>
                      <div class="entry-meta pull-left flip mt-10">
                        <ul class="list-inline">
                          <li><i class="fa fa-thumbs-o-up mr-5"></i> 13</li>
                          <li><i class="fa fa-comments-o mr-5"></i> 43</li>
                        </ul>
                      </div>
                      <a class="text-theme-colored mt-10 mb-0 pull-right flip" href="#">Read more <i class="fa fa-angle-double-right"></i></a>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
   end main-content -->
  
  <%= render 'footer' %>

  <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
</div>
<!-- end wrapper -->

</div>
<!-- END BG SHADOW -->
<%= render 'foot' %>

</body>
<!-- END BODY -->
</html>