
<!DOCTYPE html>

<!-- StarT HEAD -->
<%= render 'head' %>
<!-- END HEAD -->

<body class="fullwidth-page">
<div class="body-overlay"></div>

<div id="wrapper" class="clearfix">
  
<%= render 'top_bar' %>
  <div class="main-content"> 
    <!-- Section: home -->
    <section id="home" class="bg-lightest fullscreen">
      <div class="display-table text-center">
        <div class="display-table-cell">
          <div class="container pt-0 pb-0"><div class="row">
              <div class="col-md-10 col-md-offset-1">
                <h1 class="font-weight-100 font-64 mb-0">Our Pharamcy is Coming Soon</h1>
                <div class="soon no-bg" id="countdown-timer-soon-orange"
                  data-layout="group tight label-lowercase label-big"
                  data-format="d,h,m,s"
                  data-separate-chars="false"
                  data-padding="false"
                  data-due="2016-10-01"
                  data-face="slot"
                  data-visual="ring cap-round invert progressgradient-fb801b_facf00 ring-width-custom align-center">
                </div>
                <p class="font-14">Sorry, we will soon make our pharmacy live.<br>Keep yourself healthy by using our other services and stay tuned for more...</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!--
  <section class="">
      <div class="container mt-30 mb-30 p-30">
        <div class="section-content">
          <div class="row">
            <div class="col-sm-12 col-md-9">
              <div class="row multi-row-clearfix">
                <% if @events.present? %>
                <div class="products">
                  <% @events.each do |event| %>
                  <div class="col-sm-6 col-md-4 col-lg-4 mb-30">
                    <div class="product">
                      
                      <div class="product-thumb">
                        <a href="<%= public_medicine_details_path(medicine_id: event.id) %>" >
                          <% if event.document.present? %>
                            <img alt="" src="<%= event.document.image.url %>" style="width:255px; height:194px;" class="img-responsive img-fullwidth">
                          <% else %>
                            <img alt="" src="/images/medicine.png" style="width:255px; height:194px;" class="img-responsive img-fullwidth">
                          <% end %>
                        </a>
                        <div class="overlay"></div>
                      </div>
                      <div class="product-details text-center">
                        <a href="<%= public_medicine_details_path(medicine_id: event.id) %>"><h5 class="product-title"><%= event.name %></h5></a>
                        <div class="price"><span class="amount">Rs. <%= event.price %></span></div>
                        <div class="btn-add-to-cart-wrapper">
                          <a onclick="magic2('<%= public_add_medicine_path(medicine_id: event.id) %>', 'search_id_med_[<%= event.id %>]');" id="search_id_med_[<%= event.id %>]" class="btn btn-default btn-xs btn-add-to-cart" href="javascript:;">Add To Cart</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <% end %>
                  
                  <div class="col-md-12">
                    <nav>
                        <div class="theme-colored">
                            <%= will_paginate @events %>
                        </div>
                    </nav>
                  </div>
                </div>
                <% end %>
              </div>
            </div>
          <div class="col-sm-12 col-md-3">
            <div class="sidebar sidebar-right mt-sm-30">
              <div class="widget">
                <h5 class="widget-title line-bottom">Done Shopping?</h5>
                <a class="btn btn-dark btn-theme-colored btn-flat btn-lg hvr-grow" href="/public/checkout"> Proceed to Cart </a>
              </div>
              <div class="widget">
                <h5 class="widget-title line-bottom">Search Medicines</h5>
                <div class="search-form">
                  <form>
                    <div class="input-group">
                        <%= search_form_for @q, url: public_pharmacy_path, method: :get do |f| %>
                          <%= f.search_field :name_cont, "placeholder" => "Search Medicine", class: "form-control search-input" %> 
                          <span class="input-group-btn">
                          <%= f.submit  class:"btn search-button" %><i class="fa fa-search"></i>
                          </span>
                        <% end %>
                    </div>
                  </form>
                </div>
              </div>

              <div class="widget">
                <h5 class="widget-title line-bottom">Most Popular</h5>
                <div class="latest-posts">
                  <% @medicines.each do |medicine| %>   
                  <article class="post media-post clearfix pb-0 mb-10">
                    <a class="post-thumb" href="<%= public_medicine_details_path(medicine_id: medicine.id) %>">
                        <% if medicine.document.present? %>
                            <%= image_tag medicine.document.image.url, style: "width:75px; height:75px;" %>
                        <% else %>
                            <img src="/images/medicine.png" style="width:75px; height:75px;"/>
                        <% end %>
                    </a>
                    <div class="post-right">
                      <h5 class="post-title mt-0"><a href="post-thumb" href="<%= public_medicine_details_path(medicine_id: medicine.id) %>"><%= medicine.name %></a></h5>
                      <p><strong><%= medicine.price %></strong></p>
                      <a onclick="magic('<%= public_add_medicine_path(medicine_id: medicine.id) %>', 'id_med_[<%= medicine.id %>]');" id="id_med_[<%= medicine.id %>]" class="btn btn-default btn-xs btn-add-to-cart" href="javascript:;">Add To Cart</a>
                    </div>
                  </article>
                  <% end %>

                </div>
              </div>

            </div>
          </div>
          </div>
        </div>
      </div>
    </section> -->

  <%= render 'footer' %>

  <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
</div>
<!-- end wrapper -->

</div>

<script type="text/javascript">
    function magic(path, id){
        //alert("hi");
        //defaultPrevented();
        var xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = function() {
            if (xhttp.readyState == 4 && xhttp.status == 200) {
             eval(xhttp.responseText, id);
            }
          };
          xhttp.open("GET", path , true);
          xhttp.send();
        
    }
    function eval(response, id){        

        document.getElementById(id).innerHTML = "Added to cart";
        document.getElementById(id).onclick = "false";
    }
    function magic2(path, id){
        //alert("hi");
        //defaultPrevented();
        var xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = function() {
            if (xhttp.readyState == 4 && xhttp.status == 200) {
             eval2(xhttp.responseText, id);
            }
          };
          xhttp.open("GET", path , true);
          xhttp.send();
        
    }
    function eval2(response, id){        

        document.getElementById(id).innerHTML = "Added to cart";
        document.getElementById(id).onclick = "false";
    }
</script>   
<!-- END BG SHADOW -->
<%= render 'foot' %>

</body>
<!-- END BODY -->
</html>