
<!DOCTYPE html>

<!-- StarT HEAD -->
<%= render 'head' %>
<!-- END HEAD -->

<body class="has-side-panel side-panel-right fullwidth-page side-push-panel">
<div class="body-overlay"></div>
<div id="side-panel" class="dark" data-bg-img="http://placehold.it/2000x1500">
  <div class="side-panel-wrap">
    <div id="side-panel-trigger-close" class="side-panel-trigger"><a href="#"><i class="icon_close font-30"></i></a></div>
    <a href="javascript:void(0)"><img alt="logo" src="http://placehold.it/180x37"></a>
    <div class="side-panel-nav mt-30">
      <div class="widget no-border">
        <nav>
          <ul class="nav nav-list">
            <li><a href="#">Home</a></li>
            <li><a href="#">Services</a></li>
            <li><a class="tree-toggler nav-header">Pages <i class="fa fa-angle-down"></i></a>
              <ul class="nav nav-list tree">
                <li><a href="#">About</a></li>
                <li><a href="#">Terms</a></li>
                <li><a href="#">FAQ</a></li>
              </ul>
            </li>
            <li><a href="#">Contact</a></li>
          </ul>
        </nav>        
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="side-panel-widget mt-30">
      <div class="widget no-border">
        <ul>
          <li class="font-14 mb-5"> <i class="fa fa-phone text-theme-colored"></i> <a href="#" class="text-gray">123-456-789</a> </li>
          <li class="font-14 mb-5"> <i class="fa fa-clock-o text-theme-colored"></i> Mon-Fri 8:00 to 2:00 </li>
          <li class="font-14 mb-5"> <i class="fa fa-envelope-o text-theme-colored"></i> <a href="#" class="text-gray">contact@yourdomain.com</a> </li>
        </ul>      
      </div>
      <div class="widget">
        <ul class="social-icons icon-dark icon-theme-colored icon-sm">
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        </ul>
      </div>
      <p>Copyright &copy;2016 ThemeMascot</p>
    </div>
  </div>
</div>
<div id="wrapper" class="clearfix">

  
<%= render 'top_bar_temp' %>
  
<section>
  <div class="container">
    <div class="section-content">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <p>
            www.easycare.pk understands the need for privacy and protection of the personal information collected from its clients and hence devised a privacy policy to cater to all. The following privacy policy is applied to all the products, services, affiliations and other website/company related alliances.
            </p>
            <h3>
              Collection of Information and its Use:
            </h3>
            <p>
            The information collected from the clients is mainly for three purposes: to inform the
            customer about the upcoming products and services, to cater to the needs of the customer and
            o customize advertising. Once you sign-up with us, you will be providing us with your Name,
            Age, gender, email address and date of birth. This will be highly classified and will only be
            saved on to our server logs including your IP address and the cookie information.</p>
            <h3>
            Information Sharing and Disclosure:
            </h3>
            <p>
            The personal information provided by the doctors as well as the patients will not be disclosed
            to anyone. It shall only be disclosed as per the consent of the rightful owner for relevant
            reasons. The company will be held responsible for misuse of the personal information
            provided by its clients.
            </p>
            <h3>
            Cookies and Browser:
            </h3>

            <p>
            We may set our cookies on your computer. We permit different organizations that are
            displaying ads on some of our pages to cookies on your computer. Please keep in view that
            networks&#39; utilization of cookies or web signals, and that of whatever other outsider that has a
            connection accessible on any site, is liable to their own particular privacy strategies and not
            this privacy policy. Sponsors or different organizations don&#39;t have entry to our cookies. On
            the off chance you can turn off cookies in your web program by changing its security settings
            as per your preference. However, some features or products and services might not be
            accessible if the cookies are disabled.
            </p>

            <h3>
              Changes to the Privacy Policy:
            </h3>
            
            <p>
              Amendments might be made from time to time or as per the circumstances in the privacy
              policy. However, the clients and customers of the website will be informed of any changes
              made either by an email or a prominent announcement will be made on the website.
              Interference of third party will be acquired if an issue regarding the privacy policy of this
              company cannot be resolved on basic grounds.
            </p>
            <h3>
            Contact Us:
            </h3>
            <p>
              If you have any queries regarding our privacy policy, feel free to contact us at:
              easycare.pk@gmail.com
            </p>
        </div>
      </div>
    </div>
  </div>  
</section>

<%= render 'footer' %>

  <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
</div>
<!-- end wrapper -->

</div>
<!-- END BG SHADOW -->
<%= render 'foot' %>

</body>
<!-- END BODY -->
</html>