
<!DOCTYPE html>

<!-- StarT HEAD -->
<%= render 'head' %>
<!-- END HEAD -->

<body class="fullwidth-page">
<div class="body-overlay"></div>

<div id="wrapper" class="clearfix">
  
<%= render 'top_bar_temp' %>
  
  <section>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-push-3">
            <div class="border-1px p-25">
              <h4 class="text-theme-colored text-uppercase m-0">Request For a Blood Donor</h4>
              <div class="line-bottom mb-30"></div>
              <p>Please register a request for required blood donor. A blood donor will contact you shortly
              </p>
              <form id="appointment_form" name="appointment_form" class="form-transparent mt-30" method="post" action="<%= public_register_request_donation_path %>" novalidate="novalidate">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group mb-10">
                      <input id="form_name" name="name" class="form-control" type="text" required="" placeholder="Enter Name" aria-required="true">
                    </div>
                  </div>

                  <div class="col-sm-12">
                    <div class="form-group mb-10">
                      <%= select_tag :blood_group , content_tag(:option,'Select Blood Group',:value=>"") +  options_from_collection_for_select(BloodType.all,"id","title") ,class: "form-control required" %> 
                    </div>
                  </div>

                  <div class="col-sm-12">
                    <div class="form-group mb-10">
                        <%= select_tag :city , content_tag(:option,'Please Select Your City',:value=>"") +  options_from_collection_for_select(City.all,"id","name") ,class: "form-control required" %> 
                    </div>
                  </div>

                  <div class="col-sm-12">
                    <div class="form-group mb-10">
                      <input name="email" class="form-control required email" type="email" placeholder="Enter Email" aria-required="true">
                    </div>
                  </div>

                  <div class="col-sm-12">
                    <div class="form-group mb-10">
                      <input name="phone" class="form-control required" type="text" placeholder="Enter Phone" aria-required="true">
                    </div>
                  </div>
                  
                </div>
                <div class="form-group mb-0 mt-20">
                  <input id="form_botcheck" name="form_botcheck" class="form-control" type="hidden" value="">
                  <button type="submit" class="btn btn-dark btn-theme-colored" data-loading-text="Please wait...">Submit</button>
                </div>
              </form>
              <!-- Small modal -->

                <div class="modal fade bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" data-backdrop="static" data-keyboard="false" >
                  <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title" id="myModalLabel3">Registered Successfully</h4>
                    </div>
                    <div class="modal-body">
                      <p>Your blood request has been registered. Press ok to go back to Home Page.</p>
                    </div>
                    <div class="modal-footer">
                      <a href="/"><button type="button" class="btn btn-primary text-white">OK</button></a>
                    </div>
                  </div>
                </div>
                </div>

              <!-- Form Validation-->
              <script type="text/javascript">
                $("#appointment_form").validate({
                  submitHandler: function(form) {
                    var form_btn = $(form).find('button[type="submit"]');
                    var form_result_div = '#form-result';
                    $(form_result_div).remove();
                    form_btn.before('<div id="form-result" class="alert alert-success" role="alert" style="display: none;"></div>');
                    var form_btn_old_msg = form_btn.html();
                    form_btn.html(form_btn.data("loading-text"));
                    $(form).ajaxSubmit({
                      target: form_result_div,
                      success: function(data) {
                        form_btn.html(form_btn_old_msg);
                        $(form).find('.form-control').val('');
                        //$(form_result_div).fadeIn('slow');
                        $('.bs-example-modal-sm').modal('show');
                        //setTimeout(function(){ $(form_result_div).fadeOut('slow') }, 6000);
                      }
                    });
                  }
                });
              </script>
            </div>
          </div>
        </div>
      </div>
    </section>
  <%= render 'footer' %>

  <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
</div>
<!-- end wrapper -->

</div>
<!-- END BG SHADOW -->
<%= render 'foot' %>

</body>
<!-- END BODY -->
</html>