
<!DOCTYPE html>

<!-- StarT HEAD -->
<%= render 'head' %>
<!-- END HEAD -->

<body class="fullwidth-page">

<div id="wrapper" class="clearfix">
  
<%= render 'top_bar' %>
  
<section class="">
  <div class="container mt-30 mb-30 p-30">
    <div class="section-content">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <%= form_tag public_search_doctors_path, method: :post, "novalidate" => "novalidate" do %>
          <div class="row">
            <div class="col-md-4">
              <label for="specialities_search">
                Find Doctors for Specialities
              </label>
                <select name="speciality_id" class="select2 form-control" style="width:100%;" id="specialities_search">
                  <option></option>
                  <% if @specialities.present? %> 
                  <% @specialities.each do |speciality| %>
                    <option value="<%= speciality.id %>"><%= speciality.title %></option>
                  <% end %>
                  <% end %>
                </select>
            </div>
            <div class="col-md-4">
              <label for="procedures_search">
                Find Doctors for Procedures
              </label>
                <select name="procedure_id" class="select2 form-control" style="width:100%;" id="procedures_search">
                  <option></option>
                  <% if @procedures.present? %> 
                  <% @procedures.each do |procedure| %>
                    <option value="<%= procedure.id %>"><%= procedure.title %></option>
                  <% end %>
                  <% end %>
                </select>
            </div>
            <div class="col-md-4">
              <label for="conditions_search">
                Find Doctors for Conditions
              </label>
                <select name="condition_id" class="select2 form-control" style="width:100%;" id="conditions_search">
                  <option></option>
                  <% if @conditions.present? %> 
                  <% @conditions.each do |condition| %>
                    <option value="<%= condition.id %>"><%= condition.title %></option>
                  <% end %>
                  <% end %>
                </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12" style="padding-top:15px; padding-bottom:20px;">
              <button type="submit" class="btn btn-dark btn-theme-colored">Search <i class="fa fa-arrow-circle-right"></i></button>
            </div>
          </div>
          <% if flash[:error].present? %>
          <div class="row"><div class="col-md-12">
            <div class="alert alert-danger" role="alert"><%= flash[:error] %></div>
          </div></div>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>


<%= render "doctors_list" if @doctors.present? %>
  
<%= render 'footer' %>

  <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
</div>
<!-- end wrapper -->

</div>


<%= render 'foot' %>
<script type="text/javascript">
  $('.select2').select2({
    placeholder: "Select an option"
  });
</script>

</body>
<!-- END BODY -->
</html>