
<!DOCTYPE html>

<!-- StarT HEAD -->
<%= render 'head' %>
<!-- END HEAD -->
<!-- START BODY -->
<body class="home page no_js responsive stretched">

<!-- START BG SHADOW -->
<div class="bg-shadow">

<!-- START WRAPPER -->
    <div id="wrapper" class="container group">

        <!-- START TOP BAR -->
        <%= render 'top_bar' %>
         <!-- END TOP BAR -->

    <!-- START HEADER -->
    <div id="header" class="group margin-bottom">

        <%= render 'header' %>

       
    </div>
    <!-- END HEADER -->

     <!-- SLOGAN -->
    <div class="slogan">
        <h2>NICE TO MEET YOU.</h2>
        <h3>How can we be of service today?</h3>
    </div>
      

  <!-- START PRIMARY -->
        <div id="primary" class="sidebar-no">
            <div class="container group">
                <div class="row">
                <!-- START CONTENT -->
                    <div id="content-page" class="span12 content group">
                        <div class="page type-page status-publish group">
                        <div class="short-table white">
                                <table style="width: 100%" cellspacing="0" cellpadding="0">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Name</th>
                                            <th>Price</th>
                                            <th>Description</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <% @events.each do |medicine| %>
                                            <tr>
                                                <td><%= medicine.id %></td>
                                                <td><%= medicine.name %></td>
                                                <td><%= medicine.price %></td>
                                                <td><%= medicine.description %></td>
                                                
                                            </tr>
                                        <% end %>
                                    </tbody>
                                </table>
                            </div>                         
                
                    <script type="text/javascript">
                    function magic(path, id){
                        //alert("hi");
                        //defaultPrevented();
                        var xhttp = new XMLHttpRequest();
                          xhttp.onreadystatechange = function() {
                            if (xhttp.readyState == 4 && xhttp.status == 200) {
                             eval(xhttp.responseText, id);
                            }
                          };
                          xhttp.open("GET", path , true);
                          xhttp.send();
                        
                    }
                    function eval(response, id){        

                        document.getElementById(id).innerHTML = "Added to cart";
                        document.getElementById(id).onclick = "false";
                    }

                        jQuery(function ($) {
                            var maxHeight = 0;

                            $('.team-slides li').each(function () {
                                if ($(this).height() > maxHeight) {
                                    maxHeight = $(this).height();
                                }
                            });

                            $('.team-slides li').height(maxHeight + 20);

                            $('.team-slides').imagesLoaded(function () {
                                $('.team-slides').carouFredSel({
                                    auto: true,
                                    width: '100%',
                                    prev: '#team-slider-prev',
                                    next: '#team-slider-next',
                                    swipe: {
                                        onTouch: true
                                    },
                                    scroll: {
                                        items: 1,
                                        duration: 500
                                    }
                                });
                            });

                            $('.bwWrapper').BlackAndWhite({
                                hoverEffect: true, // default true
                                // set the path to BnWWorker.js for a superfast implementation
                                webworkerPath: false,
                                // for the images with a fluid width and height
                                responsive: true,
                                speed: { //this property could also be just speed: value for both fadeIn and fadeOut
                                    fadeIn: 200, // 200ms for fadeIn animations
                                    fadeOut: 300 // 800ms for fadeOut animations
                                }
                            });
                        });
                    </script>
            
            
                </div>
                <!-- START COMMENTS -->
                <div id="comments"></div>
                <!-- END COMMENTS -->
              </div>
            <!-- END CONTENT -->

            <!-- START EXTRA CONTENT -->
            <!-- END EXTRA CONTENT -->

              </div>
          </div>
        
        
       </div>
        <!-- END PRIMARY -->

    <%= render 'footer' %>
    <div class="wrapper-border"></div>

    </div>
<!-- END WRAPPER -->

</div>

<!-- END BG SHADOW -->
<%= render 'foot' %>

</body>
<!-- END BODY -->
</html>