<div id="google_canvas" style="width:500px; height:500px;"></div>
<script type="text/javascript">

function initMap() {
  var map = new google.maps.Map(document.getElementById('google_canvas'), {
    center: {lat: <%= @lat %>, lng: <%= @long %>},
    zoom: 16,
    styles: [{
      featureType: 'poi',
      stylers: [{ visibility: 'on' }]  // Turn off points of interest.
    }, {
      featureType: 'transit.station',
      stylers: [{ visibility: 'off' }]  // Turn off bus stations, train stations, etc.
    }],
    disableDoubleClickZoom: true
  });
  var marker = new google.maps.Marker({
    position: {lat: <%= @lat %>, lng: <%= @long %>},
    map: map
  });
}

</script>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYV128e0bAnr2VaU8k7_NvQb1_LLf0JOQ
        &libraries=visualization&callback=initMap"></script>