
<!DOCTYPE html>

<!-- StarT HEAD -->
<%= render 'head' %>
<!-- END HEAD -->

<body class="fullwidth-page">
<div class="body-overlay"></div>

<div id="wrapper" class="clearfix">
  
<%= render 'top_bar_temp' %>
  
  <section>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-push-3">
            <div class="border-1px p-25">
              <h4 class="text-theme-colored text-uppercase m-0">Sign In</h4>
              <div class="line-bottom mb-30"></div>
              <p>You need to be an admin or a blogger to sign in
              </p>
              <%= form_tag public_login_path, method: "POST", "id" => "popup_login_form", class: "clearfix" do %>
              <div class="row">
                <div class="form-group col-md-12">
                  <label for="form_username_email">Email</label>
                  <input id="form_username_email" name="email" class="form-control required email" type="text" >
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-12">
                  <label for="form_password">Password</label>
                  <input type="password" id="password" name="password" class="form-control required" type="text">
                </div>
              </div>
              <div class="checkbox pull-left mt-15">
                <label for="form_checkbox">
                  <input id="form_checkbox" name="form_checkbox" type="checkbox">
                  Remember me </label>
              </div>
              <div class="form-group pull-right mt-10">
                <button type="submit" class="btn btn-dark btn-sm">Login</button>
              </div>
              <div class="clear text-center pt-10">
                <a class="text-theme-colored font-weight-600 font-12" href="#">Forgot Your Password?</a>
              </div>
            <% end %>

          <!-- Login Form Validation-->
          <script type="text/javascript">
            $("#popup_login_form").validate();
          </script>
              
            </div>
          </div>
        </div>
      </div>
    </section>
  <%= render 'footer' %>

  <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
</div>
<!-- end wrapper -->

</div>
<!-- END BG SHADOW -->
<%= render 'foot' %>

</body>
<!-- END BODY -->
</html>