
<!DOCTYPE html>

<!-- StarT HEAD -->
<%= render 'head' %>
<!-- END HEAD -->

<body class="has-side-panel side-panel-right fullwidth-page side-push-panel">
<div class="body-overlay"></div>
<div id="side-panel" class="dark" data-bg-img="http://placehold.it/2000x1500">
  <div class="side-panel-wrap">
    <div id="side-panel-trigger-close" class="side-panel-trigger"><a href="#"><i class="icon_close font-30"></i></a></div>
    <a href="javascript:void(0)"><img alt="logo" src="http://placehold.it/180x37"></a>
    <div class="side-panel-nav mt-30">
      <div class="widget no-border">
        <nav>
          <ul class="nav nav-list">
            <li><a href="#">Home</a></li>
            <li><a href="#">Services</a></li>
            <li><a class="tree-toggler nav-header">Pages <i class="fa fa-angle-down"></i></a>
              <ul class="nav nav-list tree">
                <li><a href="#">About</a></li>
                <li><a href="#">Terms</a></li>
                <li><a href="#">FAQ</a></li>
              </ul>
            </li>
            <li><a href="#">Contact</a></li>
          </ul>
        </nav>        
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="side-panel-widget mt-30">
      <div class="widget no-border">
        <ul>
          <li class="font-14 mb-5"> <i class="fa fa-phone text-theme-colored"></i> <a href="#" class="text-gray">123-456-789</a> </li>
          <li class="font-14 mb-5"> <i class="fa fa-clock-o text-theme-colored"></i> Mon-Fri 8:00 to 2:00 </li>
          <li class="font-14 mb-5"> <i class="fa fa-envelope-o text-theme-colored"></i> <a href="#" class="text-gray">contact@yourdomain.com</a> </li>
        </ul>      
      </div>
      <div class="widget">
        <ul class="social-icons icon-dark icon-theme-colored icon-sm">
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        </ul>
      </div>
      <p>Copyright &copy;2016 ThemeMascot</p>
    </div>
  </div>
</div>
<div id="wrapper" class="clearfix">

<%= render 'top_bar_temp' %>
  
<section>
  <div class="container">
    <div class="section-content">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <p>
            Below mentioned terms and conditions are applicable to the guests and users of easycare.pk and its affiliated alliances.
            <br/>
            PLEASE READ THE FOLLOWING TERMS and CONDITIONS CAREFULLY.
            IF YOU DO NOT AGREE WITH THE FOLLOWING THEN PLEASE REFRAIN FROM USING THIS WEBSITE
            ALONG WITH ITS PRODUCTS and SERVICES.
            <br/>
            The following agreement describes the terms and conditions applicable to this website and the affiliated products and services. You must agree with all the terms and conditions mentioned and be obliged to following them.
          </p>
          <h3>
            i) Access Rights:
          </h3>
          <p>
            The user of the site shall be categorized into two sub-categories:
            <br/>
            <strong>a)</strong> Guest: Guest is any individual accessing the website but has not signed-up with easycare.pk.
            He or she will only be able to use the limited version of the website.
            <br/>
            <strong>b)</strong> Member: Member is any individual who has signed up with the website and is using the
            products and services. Inactive member will also come under this category.
          </p>
          <h3>
            ii) Electronic Communication:
          </h3>
          <p>
            <strong>a)</strong> The users of easycare.pk consent to the fact that their emails will be responded through an electronic medium or the website owner will communicate its messages by posting or making prominent announcements on the website.
            <br/>
            <strong>b)</strong> Users would also be informed about the upcoming products and services along with promotional offers through the medium of e-mail. However, any user can turn off this feature of receiving emails by unsubscribing to the website.
          </p>
          <h3>
            iii) Reviews and Ratings:
          </h3>
            <p>
            <strong>a)</strong> It is the sole responsibility of the health care provider to provide relevant and correct information regarding its expertise and update it accordingly. Furthermore, the healthcare would be responsible for informing the site of about misinformation or biased opinion that has been placed against him or her on the website.
            <br/>
            <strong>b)</strong> EasyCare reserves the right to monitor all the communication that is being executed on the website and will remove / edit / block any inappropriate material that violates the terms and conditions and the privacy policy of the website.

            </p>
            <h3>
              iv) Your Approach when Using the Website:
              
            </h3>
            <p>
            <strong>a)</strong> The site should only be used for the following purposes:
            <ul>
                <li> For finding assistance as per your circumstances</li>
                <li>Going through the reviews and ratings of the users of the website</li>                            
                <li>Submitting your own unbiased reviews which do not violate the terms and conditions and privacy policy of the website</li>                            
                <li>For any other purpose that has been approved by EasyCare time to time</li>                            
            </ul>
             <strong>b)</strong> Any review that you submit should be in accordance with the following:
             <ul>
               <li>
                 Should not be untrue or misleading in any way
               </li>
               <li>
                  Should be your true experience with that particular health care provider
                </li>
                <li>
                  Should not contain your personal information
               </li>
             </ul>
              <strong>c)</strong> You acknowledge to the following:
             <ul>
               <li>
                 Any map displayed may not be complete, accurate or up to date
               </li>
               <li>
                  The information provided regarding the health care providers (including new and old health care providers) may be incomplete or needs to be updated
                </li>
               
             </ul>
             <strong>d)</strong> Any reviews submitted on website:
             <ul>
               <li>
                 Are submitted by the users of the website
               </li>
               <li>
                  May not be accurate or up to date
                </li> 
                <li>
                  Does not in any way represent the opinions or views of EasyCare
                </li>
               
             </ul>
             <strong>e)</strong> You agree that the pictures / videos submitted to the website:
              <ul>
               <li>
                 Will not in any way violate or harass any individual or their property
               </li>
               <li>
                  Should not violate the terms and conditions of EasyCare.pk
                </li> 
                <li>
                  Is not misleading, violent or fraudulent in any way and should not violate any law
                </li>
               
             </ul>
              <strong>f)</strong> You agree and oblige by the fact that you will not use this platform to promote or otherwise publish any material containing any solicitation for funds, advertising or solicitation for goods or services, promoting any other website
            </p>
            <h3>
              v) EasyCare Password Policy:
            </h3>
            <p>
              EasyCare is qualified for follow up on guidelines got under your password. You are in charge of keeping your client ID, password, and all other record data classified. EasyCare is not in charge of any moves made or exchange made to or from your records by some other gathering utilizing your password.
            </p>
            <h3>
              vi) Proprietary Rights:
            </h3>
            <p>
              <strong>a)</strong> All materials on this website including but not limited to products and services / reviews /
              ratings / pictures / videos / illustration audio clips rightfully belongs to EasyCare.pk
              <br/>
              <strong>b)</strong> Copying, downloading, uploading of the material owned by EasyCare.pk will be the violation of copyrights and the website will take action against any such act.
              <br/>
              <strong>c)</strong> The trade marks, logos and service marks that can be seen on the website are registered and unregistered marks of Easycare or its affiliates and subsidiaries, or third parties who have licensed the use of such marks to EasyCare.
              <br/>

              <strong>d)</strong> Nothing in this site grants any license or right to use any marks displayed on this site without the written permission of the owner of the mark. Any kind of misuse of the marks displayed on the website or any other content on the website is strictly prohibited.
            </p>
            <h3>
              vii) Privacy:
            </h3>
            <p>
             <strong>a)</strong> Any information provided to the website will only be used for the rightful purpose and will not be disclosed unless a consent is not given by the rightful owner.
             <br/>
             <strong>b)</strong> Violation of privacy policy will be termed to strict actions against both the company and the client.
             <br/>
              <strong>c)</strong> Refer to the privacy policy for more information.
            </p>
            <h3>viii) Changes to the Terms and Conditions:</h3>
            <p>
              Easycare.pk reserves the right to alter / change / modify / remove / terminate these terms and conditions as per the circumstances. The users will be informed about any alterations through a prominent announcement on the website or through an email.
            </p>
            <br/>
            <br/>
            <p>
              BY CONTINUING YOUR USE OF THIS WEBSITE, YOU AGREE TO OBLIGE BY THE TERMS AND CONDIOTNS AND ANY VIOLATION OF THIS AGREEMENT OR THE PRIVACY POLICY CAN LEAD TO STRICT MEASURES TAKEN BY THE RIGHTFUL OWNER OF THE WEBSITE.
            </p>
        </div>
      </div>
    </div>
  </div>  
</section>

<%= render 'footer' %>

  <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
</div>
<!-- end wrapper -->

</div>
<!-- END BG SHADOW -->
<%= render 'foot' %>

</body>
<!-- END BODY -->
</html>