<% unless params[:controller] == 'public' %>
    <!DOCTYPE html>
    <html class="no-js" lang="">
    <head>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-9220880252547533",
        enable_page_level_ads: true
      });
    </script>
      <meta charset="utf-8">
      <title>EasyCare</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
        <%= stylesheet_link_tag "application", params[:controller], :media => "all" %>
      <%= csrf_meta_tags %>
      <%= yield :head %>
    </head>
    <body class="">
    <!-- page loading spinner -->
     
  <%= yield %>
      <!-- /page loading spinner -->
      <%= javascript_include_tag "application", params[:controller] %>
    <%= yield :foot %>
    </body>
  </html>
<% else %>
  <%= yield %>
      <%= javascript_include_tag "ahoy" %>
      <script type="text/javascript">
    adroll_adv_id = "WDLWAAQR4VAGBLMZERX4KM";
    adroll_pix_id = "W7N5CDSPNBE75LX73BWSZH";
    /* OPTIONAL: provide email to improve user identification */
    /* adroll_email = "username@example.com"; */
    (function () {
        var _onload = function(){
            if (document.readyState && !/loaded|complete/.test(document.readyState)){setTimeout(_onload, 10);return}
            if (!window.__adroll_loaded){__adroll_loaded=true;setTimeout(_onload, 50);return}
            var scr = document.createElement("script");
            var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
            scr.setAttribute('async', 'true');
            scr.type = "text/javascript";
            scr.src = host + "/j/roundtrip.js";
            ((document.getElementsByTagName('head') || [null])[0] ||
                document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
        };
        if (window.addEventListener) {window.addEventListener('load', _onload, false);}
        else {window.attachEvent('onload', _onload)}
    }());
</script>
      
<% end %>
